De <b><i>modus voor gevorderden</i></b> werkt zoals de hersenloze modus, maar je kunt daarenboven:
<br>* vertrouwde zenders, leuzen en een prefix toevoegen;
<br>* het antwoordadres maskeren of niet; 
<br>* het woordje "spam" vermijden in je wegwerpadres dankzij andere domeinnamen (zie uitrolmenu na een klik op <i>Stuur een bericht met één van je wegwerpadressen</i>).
<br>Als je vertrouwde zenders, leuzen of een prefix hebt aangemaakt, zul je dit zien op het startscherm na het inloggen.

<p><b>Vertrouwde Zenders</b>: die kun je hier toevoegen door een volledig e-mailadres of alleen het domein (het stukje na de @) ervan op te geven. Vertrouwde zenders kunnen je mailen op elk wegwerpadres zonder dat hun e-mails worden meegeteld.
<p>De eerste stap zet je dus in de hersenloze modus, maar als je na enkele mails vindt dat de zender te vertrouwen is, kun je hier inloggen en dit ene adres (of domein) invullen in het vakje boven <i>Voeg een vertrouwde zender toe</i>.</p>

<p><b>Leuzen</b>: met leuzen kun je de creatie van wegwerpadressen in de hand te houden. Als je minstens één leus hebt en het toepassen van leuzen is geactiveerd, dan zal het systeem geen nieuw adres creëren wanneer er niet tenminste één leus in voorkomt.<br> Een voorbeeld. Als je account 'tweelingzus' is en je hebt de leuzen `vlecht´ en `neusje´, dan zullen de volgende adressen in SpamGourmet werken:</p>
<p align="center">
mahonievlecht.3.tweelingzus@spamgourmet.com<br>
neusjevandezalm.2.tweelingzus@spamgourmet.com<br>
vlechtjetrek.6.tweelingzus@spamgourmet.com</p>
en deze zullen door onze server geweigerd worden:
<p align="center">
paardenstaart.20.tweelingzus@spamgourmet.com<br>
ikverfoeispam.12.tweelingzus@spamgourmet.com</p>


<p><b>Antwoordadres Maskeren</b>: soms wens je te antwoorden op een mailtje (waarvan je in het vak <i>Aan:</i> een van je SpamGourmet-adressen herkent). Bij een klik op "Beantwoorden" merk je dat in het vak "Van:" opnieuw je af te schermen echte adres staat. Daar weet SpamGourmet raad mee: als je de functie <b>Antwoordadres Maskeren</b> activeert, gaat je antwoord éérst naar SpamGourmet; ons systeem vervangt dan in het vak "Van:" jouw echte adres door het wegwerpadres dat door de zender is gebruikt, alvorens het antwoord naar de zender door te sturen.

<p><b>Toon wegwerpadressen of zoek erin</b>: je kunt een tabel met al je
wegwerpadressen oproepen door op deze button te klikken. <br>
Als je geen zoekterm intikt, zie je al je adressen:<br>
* Je kunt de kolomhoofden aanklikken om te sorteren.<br>
* Je kunt op het onderstreepte koppelingswoord van elk wegwerpadres afzonderlijk klikken om een en ander te wijzigen: 
<br><br>
a) het aantal overblijvende berichten aanpassen ("0" als je al de berichten ernaar (behalve van de vertrouwde zenders) meteen wil laten opeten);<br>
b) een exclusieve zender invullen; je verneemt meer over exclusieve zenders in de Veelgestelde Vragen (FAQ) - het is vrijwel hetzelfde als een vertrouwde zender hebben voor het betreffende adres;<br>
c) het adres al of niet verbergen in de lijst: je zult het adres willen verbergen als het niet meer actief of nuttig is of als je het adres niet herkent als door jou aangemaakt, maar misschien door een machine (immers, berichten worden opgegeten, maar je kunt geen wegwerpadressen integraal verwijderen);<br>
d) een notitie maken (bv. aard van de zender; product).<br>
 
<p>Of, als je wilt, kun je de hele
lijst in XML krijgen door <a href="<%xmllink%>">hier</a> te klikken.</p> 

<p><b>Prefix:</b> Mocht je echt paranoïde zijn, kun je een <i>`prefix´</i> specifiëren. Dat is dan
vereist voor elk nieuw bericht van een niet-vertrouwde zender. Denk hierbij aan een leuze bij het creëren van nieuwe wegwerpadressen dat je van tijd tot tijd verandert. In feite zorgt een prefix voor hetzelfde als een leuze (het belet het creëren van nieuwe wegwerpadressen door anderen) - over het algemeen zijn leuzen een betere optie. Maar lees verder als je er nog zin in hebt...</p>

<form action="<%action%>" method="post" onSubmit="return checkPrefixForm(this);"><p align="center">
Je prefix: <input type="text" name="prefix" value="<%prefix%>" maxlength=20> <input type="<%button%>" value="sla prefix op" onClick="<%onClick%>">
</p></form>

Indien je een prefix specificeert, zal het systeem daarzonder geen nieuwe adressen creëren. Dit zal je beschermen als je denkt dat iemand anders adressen aanmaakt met je gebruikersnaam. De structuur van een `geprefixeerd´ wegwerpadres is:

<p align="center">
<i>prefix.woord.x.gebruiker</i>@spamgourmet.com</p>

<p>Dus, als je prefix `toedeloe´ is, dan kan je adres onder andere worden:

<p align="center">
toedeloe.datisdekwestie.2.tweelingzus@spamgourmet.com</p>

<p>En als je later je prefix verandert in `hocuspocus´, dan zal de prefix `toedeloe´
niet meer werken om een adres aan te maken, maar bestaande adressen zullen
blijven werken. Indien je je prefix verwijdert, zullen wegwerpadressen
gemaakt kunnen worden met of zonder prefix.</p>

<p><b>Standaardwaarde:</b> vul dit in, wanneer je het wil laten verschillen van "3", de standaardwaarde die SpamGourmet toekent, indien je het vak leeg laat of bij het aanmaken vergeten bent het getal te vermelden.</p>

<p><b>Opgegeten berichten loggen:</b> als dit aanstaat, toont SpamGourmet je de 3 laatste berichten die opgegeten zijn. Hou de server ajb snel door dit niet te activeren (en zeker niet voor de verborgen adressen), als je denkt er nooit naar te zullen omzien (die berichten zijn toch voorgoed weg). Wij vinden dat we maximaal 3 opgegeten berichten kunnen loggen, omdat loggen de snelheid van het systeem verzwaart.</p> 

<p><b>Onderwerpregel verbergen:</b> als dit aanstaat, verbergt SpamGourmet een van de twee volgende bijzonderheden (<i>in het Engels</i>) van boven in elk doorgestuurd bericht:
<br>(a) het hoeveelste bericht van welk totaal;
<br>(b) de zender is vertrouwd/exclusief. 
<br>Zoals hierboven beschreven sluiten beide vermeldingen elkaar wederzijds uit: (a) de teller loopt dus naar 0, zolang je de zender niet opneemt in je lijstje vertrouwde zenders; (b) voor een vertrouwde of exclusieve zender is de teller stopgezet.
<br>Je vindt diezelfde informatie in de `header´ (het `origineel´) van je e-mailbericht dat je doorgaans met je e-mailprogramma kunt raadplegen.</p>

<p><b>Enkel "vertrouwd/exclusief" verbergen:</b> dit spreekt voor zichzelf. Merk op dat daarom één keuze in combinatie met de vorige regel onmogelijk gemaakt is: nee-ja verspringt automatisch naar ja-ja.</p>


