<font face="verdana,arial,helvetica" size=3 color="#000000">
<p> </p>
<div align="center">Werk uw wegwerpadressen bij:<br><b><%message%></b><br>
<form action="<%action%>" method="post">
<input type="hidden" name="randomnumber" value=<%randomnumber%>>
<input type="hidden" name="myemails" value=1>
<input type="hidden" name="updateemail" value=<%emailid%>>

<input type="hidden" name="showHidden" value="<%showhidden%>">

<table border=0 cellspacing=0 cellpadding=2>
<tr><td>Overgebleven berichten <input type="text" name="count" value="<%count%>" onFocus="this.select();" size=2 maxlength=2></td></tr>
<tr><td>Exclusieve zender <input type="text" name="sender" value="<%sender%>" onFocus="this.select();"></tr>

<tr><td colspan=2 align="center"><input type="radio" name="hidden" value=0 <%isnothidden%>>niet
    verbergen <input type="radio" name="hidden" value=1 <%ishidden%>>verbergen</td></tr>
<tr><td colspan=2 align="center" valign="middle">notitie <textarea cols=40 rows=2 maxlength=254 name="note"><%note%></textarea></td></tr>
<tr><td colspan=2 align="center"><input type="submit" value="update address"> </td></tr>
</table>
</div>
Gebruik dit menu om het aantal berichten op dit ene adres bij te stellen (0-20).  Als je wil, kun je verder een exclusieve zender invullen, het adres al of niet verbergen en een notitie toevoegen.
<br>
<input type="hidden" name="searchterms" value="<%searchterms%>">
</form>

<p align="center"><a href="<%action%>?myemails=1&showHidden=<%showhidden%>&searchterms=<%searchterms%>"><%returnwithoutsaving%></a>
</p>

</font>

</textarea>
</div>
  </font>