Als je je echt e-mailadres aan iedereen geeft, zul je zeker SPAM ontvangen, en weet je niet wie spamt. Zou het dan niet handig zijn om een apart e-mailadres te hebben waarmee je je echte e-mailadres afschermt voor elk bedrijf waarvan je e-mail ontvangt of wenst?</p>
<p>
Nu, dat is precies wat SpamGourmet je aanbiedt! Bevrijd jezelf van SPAM in 3 makkelijke stappen:</p>
<p><b>1.</b>
Maak een nieuwe gebruikersaccount aan (, mocht dit nog niet gebeurd zijn). Vul je gebruikersnaam in en tweemaal je wachtwoord. Vul ook je af te schermen actieve e-mailadres in.</p>

<p><b>2.</b>
SpamGourmet zendt alle e-mails die we op je zelfgemaakte wegwerpadressen ontvangen automatisch door naar je echte (af te schermen) adres. Natuurlijk moet dit adres wel bestaan. Daarom zal je het moeten bevestigen. Je ontvangt een e-mail waarin je wordt gevraagd je wens om gebruik te maken van SpamGourmet te bevestigen (door op de link te klikken).</p>

<p><b>3.</b>
Nadat je je e-mailadres hebt bevestigd, kun je eindeloos wegwerpadressen verzinnen en weggeven, wanneer je maar wilt. 

<p>Onze wegwerpadressen hebben allemaal de volgende structuur:</p>

<p align="center"><i>woord.x.gebruiker</i>@spamgourmet.com</p>

<p>waar <i>woord</i> eender welk woord (zonder spaties) is dat je nog nooit hebt gebruikt in een e-mailadres; <i>x</i> het aantal e-mails dat je op dit adres (kies een getal tussen 1-20) wilt ontvangen; <i>gebruiker</i> je gebruikersnaam.</p>

<p>Een voorbeeld. Als Bedrijf_A (dat je nog niet kent, laat staan vertrouwt) je e-mailadres vraagt en je gebruikersnaam bij ons, SpamGourmet, "tweelingzus" is, geef je het volgende op:</p>

<p align="center">Bedrijf_A.3.tweelingzus@spamgourmet.com</p>

<p>Het wegwerpadres zal op onze server worden gemaakt, zodra Bedrijf_A het gebruikt (je kunt zelf niets meer doen om het te activeren), en je zult maximaal 3 berichten ontvangen in je inbox. De rest zal worden opgegeten.</p>

<p>Het enige waar je best op let, is dat je graag werkt met de gebruikersnaam die je bij ons kiest: in elk SpamGourmet-wegwerpadres dat je tijdens het surfen verzint en weggeeft, moet hij na de tweede punt staan.</p>

<p>Dat is alles, je hoeft hier nooit meer terug te komen.</p> 

<p>Je merkt het, lekker makkelijk en je hoeft er je hersenen niet voor te pijnigen; als je meer opties wilt, klik je op de tab "Modus voor gevorderden" bovenaan.</p>

<p>O ja, we sturen <b>nooit</b> e-mails met bijlagen - als je er een krijgt die van ons lijkt te komen, open het dan niet! Het is wellicht een virus.</p>