Als u uw echt e-mailadres aan iedereen geeft, zult u zeker SPAM ontvangen, en weet u niet wie dit zendt. Zou het dan niet handig zijn om een apart e-mailadres te krijgen voor elk bedrijf waar u email van ontvangt?</p>
<p>
Nou, dat is precies wat SpamGourmet u aanbiedt! Bevrijd uzelf van SPAM in 3 makkelijke stappen:</p>
<p><b>1.</b>
Als u dit nog niet gedaan heeft maak dan een nieuwe account aan. Vul uw gebruikersnaam en uw wachtwoord 2 keer in. Vul ook uw huidig e-mailadres in.</p>

<p><b>2.</b>
SpamGourmet zendt alle e-mails door die u op uw weggooibare SpamGourmetadressen ontvangt -- vandaar de naam doorstuuradres. Natuurlijk moet dit adres wel bestaan. Dat is waarom u het zal moeten bevestigen. U ontvangt een e-mail waarin u wordt gevraagd te bevestigen.</p>

<p><b>3.</b>
Nadat u uw e-mailadres hebt bevestigt, kunt u zelfvernietigende adressen weggeven wanneer u wilt. De weggooibare adressen zijn:</p>

<p align="center"><i>someword.x.user</i>@spamgourmet.com</p>

<p>waar <i>someword</i> een woord is dat u nooit eerder heeft gebruikt, <i>x</i> het aantal e-mails dat u wilt ontvangen op dit adres (tot 20), en <i>user</i> uw gebruikersnaam.</p>

<p>Bijvoorbeeld, als uw gebruikersnaam "spamcowboy" is, en BedrijfA wil uw e-mailadres hebben ipv dat u uw echte adres geeft geeft u het volgende:</p>

<p align="center">BedrijfA.3.spamcowboy@spamgourmet.com</p>

<p>Het weggooibare adres zal hier worden gemaakt  de eerste keer dat BedrijfA het gebruikt (u hoeft niets te doen om het te maken), en u zal maximaal 3 berichten ontvangen in uw inbox. De rest zal worden opgegeten.</p>

<p>Dat is alles, u hoeft hier nooit meer terug te komen.</p>

<p>Indien u meer opties wilt, kiest u de "Geavanceerde Modus" tab bovenaan.</p>