<html><head><title>spamgourmet - downloads</title>
<script language="JavaScript" src="/stuff/js/AddressScrambler.js"></script>
</head>
<body bgcolor="#FFFFCC" onLoad="window.focus()" topmargin=0 bottommargin=0>
<font face="verdana,arial, helvetica" size=3 color="#000000">
Aqui  você pode baixar o código-fonte do release do spamgourmet. Você não precia baixar nada para <i> usar</i> o serviço -- só precisa se registrar na primeira página para isso.
Se você quer hospedar um serviço similar, adicionar a funcionalidade do  spamgourmet para seu serviço de e-mail já existente ou só espiar o código, então estes arquivos são para você. Se você quer se envolver com o projeto, veja a <a href="http://www.sourceforge.net/projects/spamgourmet" target="_new">página no sourceforge.net </a>.

<P>
<TABLE cellspacing="1" cellpadding="5" width="100%" border="0" bgcolor="#EAECEF">
<TR BGCOLOR="#D1D5D7" align="center">
<TD colspan=2><SPAN class=titlebar>Latest File Releases</span></td>
</tr><TR align=left bgcolor="#EAECEF">
<TD colspan=2>
<TABLE cellspacing="1" cellpadding="5" width="100%" border="0">
<TR bgcolor="#EAECEF">
<TD align="left">Pacote</td>
<TD align="center">Versão</td>
<td align="center">Data</td>
<TD align="center">Download</td>
<td align="center">Descrição</td>
</tr>
<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>spamgourmet</b></td>
<TD>0.9.1</td>
<td>2002-05-23</td>
<TD>

<!--  <A HREF="http://www.sourceforge.net/project/showfiles.php?group_id=20543&release_id=66273">Download</A> -->
<a href="http://prdownloads.sourceforge.net/spamgourmet/spamgourmet_0.9.1.tar.gz">Download</a>
</td>
<td align="left"> Este é o mail handler principal e o script de configuração do banco de dados.</td>
</tr>

<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>AddressScrambler</b></td><TD>0.2.2</td>
<td>2003-02-12</td>
<TD>
<a href="http://prdownloads.sourceforge.net/spamgourmet/AddressScrambler_0.2.2.tar.gz">Download</a>
</td>
<td align="left">Este é uma outra proteção para e-mail feita em javascript contra bots mineradores de endereços. Esta versão é para páginas estáticas, e vem com uma "página de ajuda" que irá gerar o código inline apropriadopara você.
</td>
</tr>


<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>vim/vi macro</b></td><TD></td>
<td></td>
<TD>
<a href="http://unixen.org/spamgourmet/vimrc" target="_new">Download</a>
</td>
<td align="left">
  Aqui  tem um macro para vim/vi para gerar linhas únicas no remetente, para serem inserida num <strong> amigável MUA</strong>. O macro geralinhas de remetentes únicas, a partir de endereços vindo do spamgourmet.com. E também permite você entrar no modo <em>inserir</em>  no ponto onde você pode criar uma etiqueta para marcar o destinatário. Então, econoimize tempo e digitação, além de não confiar no poder da sua memória, e possa editar os padrões quando a necessidade surgir.
</td>
</tr>



</table>
</td>
</tr>
</table>


<p> </p>
<p align="center"><font face="verdana,arial,helvetica"><a href="javascript:window.close();"></a></font></p>
</body></html>
