<p><font size="+2">
Como o Spamgourmet funciona
</font></p>

<p>
Se você der seu endereço de e-mail para todo mundo, você provavelmente receberá spams, e você não sabera de onde eles vieram.  Não seria conveniente dar um endereço de e-mail diferente para cada site ou negócio que aparecesse, e mantendo seu e-mail intacto? Não seria melhor <i>presumir</i> que o endereço seria repassado para spammers? Se fosse spammer seria melhor fechar aquele e-mail e abrir outro... mas se for algo que interesse, simplesmente continuar com o e-mail.
</p>

<p>
Isto é exatamente o que o spamgourmet oferece! Não precisa instalar nada no seu computador e <i> uma vez que foi configurado, provavelmente você nunca mais irá entrar neste site.</i> Isto que faz o spamgourmet uma das mais convenientes e atrativas ferramentas anti-spam.</p>

<p> Se proteja de spam em três simples passos:</p>

<p><b>1.</b>
Se você não tiver, crie uma conta no spamgourmet.
<!-- CHANGE syskoll 2004-02-07 16:13:51 -->
forneça um nome de usuário e um endereço de e-mail que você quer proteger. Você terá que preencher um campo com os caracteres de uma imagem e informar uma senha.
<!-- END CHANGE syskoll 2004-02-07 16:13:51 -->
<p><b>2.</b>
O Spamgourmet irá encaminhar para este endereço as mensagens de e-mail vindas dos seus endereços de e-mails descartáveis  -- que você não precisa dizer para ninguém que são descartáveis -- por isso que é chamado de <i>endereço protegido</i>. Claro que este endereço precisa existir. Por isso você deve confirmá-lo. Você receberá uma mensagem pelo e-mail pendindo para você confirmar sua inscrição.</p>

<p><b>3.</b>
Depois de confirmar seu endereço protegido, você pode distribuir endereços de e-mail descartáveis auto-destrutíveis quando quiser. Os endereços descartáveis são parecidos com este:
<p align="center"><i>algumapalavra.x.nomedeusuário</i>@spamgourmet.com</p>


<p>Onde <i>algumapalavra</i> é uma palavra que você nunca usou antes, <I>x</i>  é o número de mensagens de e-mail que você quer receber neste endereço ( até 20, no máximo) e <I>nomedeusuário</i> é seu nome de usuário do  spamgourmet.</p>

<p>Por exemplo, se seu nome de usuário for "spamcowboy" e BigCorp  solicita que você informe seu endereço de e-mail (pela web, telefone, numa loja - não importa)  ao invés de dar seu endereço protegido, dê-lhes um desses:</p>

<p align="center">vindodabigcorp.3.spamcowboy@spamgourmet.com</p>

<p>Este endereço descartável será criado aqui <i> com a primeira mensagem da BigCorp</i> (você não tem que fazer nada para criá-lo) e você somente receberá no máximo três mensagens, encaminhadas para seu endereço de e-mail protegido. O resto será cruelmente devorada.</p>

<p> Se você quer mais opções, escolha o "modo avançado" na aba acima.</p>
