<html><head><title>spamgourmet - preguntas frequentamente preguntadas y respuestas</title>
<script language="JavaScript" src="stuff/js/AddressScrambler.js"></script>
</head><body bgcolor="#FFFFCC" onLoad="window.focus()">
<p><font face="arial,helvetica">Preguntas (Frecuentes) y sus Respuestas
(FAQ)<br>
</font></p>
<p><font face="arial,helvetica">P. <b>¿Cómo detiene spamgourmet el
spam (correo basura)?</b> <br>
R. Sencillo. Borramos todos los mensajes para nuestros usuarios.<br>
(Nota del traductor: no dejes de leer aquí ...;-)<br>
</font></p>
<p><font face="arial,helvetica">P. <b>¿<i>Realmente</i> se borran
todos los mensajes?</b> <br>

R. Bueno .... hay algunas excepciones ...  Ver más abajo.</font></p>
<p><font face="arial,helvetica">P. <b>¿Es gratis?</b> <br>
R. Sí. Solo queremos tu spam. ¡Todo tu spam! (para hacer estadísticas -
todo el spam se borra)</font></p>
<p><font face="arial,helvetica">P. <b>¿Me enviarán las personas que
operan Spamgouormet mensajes?</b><br>
R. No. Excepto, por supuesto, si nos envías un mensaje - en ese caso,
probablemente alguien responda.<br>
(Nota del traductor: recibiras un único primer correo de confirmación
de petición de alta cuanto te apuntes)<br>

</font></p>
<p><font face="arial,helvetica">P. <b>En serio, ¿Cómo gana dinero este
sitio?</b> <br>
R. <i>No lo hace.</i> Este es un servicio no comercial creado
alrededor de 1993 por personas que se han rayado (rayado = hartarse ;-)
de recibir spam. Si estás realmente preocupado, <a
 href="http://www.cafepress.com/spamgourmet">compra una camiseta, una
taza, o alguna cosilla.</a> O no -- realmente no es necesario, ya que
el servicio cuesta muy poco de mantener, y tenemos un montón de
personas dispuestas a pagar los pequeños costes de albergado, si la
necesidad llega a aparecer. Además, nadie ha realizado inversiones
sobre este servicio, por tanto nadie espera dividendos del mismo.<br>
</font></p>
<p><font face="arial,helvetica">P. ¿<b>Detendrá Spamgourmet el spam que
viene directametne a mi dirección de correo electrónico?</b> <br>

R. No. Spamgourmet sólo puede hacer su servicio cuando el usuario
utiliza las direcciones de correo electrónico desechables que
Spamgourmet facilita. Cuando esto se hace, los mensajes vienen primero
a spamgourmet, entonces, depende de tus instrucciones, te llega a ti.
Si alguien manda un mensaje directamente a tu dirección de correo
verdadera, spamgourmet no puede hacer nada.<br>
</font></p>
<p><font face="arial,helvetica">P. <b>¿Cómo creo direcciones de correo
electrónico desechables autodestruibles?</b> <br>
R. La respuesta corta es: no lo haces, se crean automáticamente.<br>
La respuesta larga: en primer lugar, si no lo has hecho ya, tienes que
darte de alta (apuntarte) en el servicio (se suele llamar abrir una
cuenta o registrarse, pero ¡no hay que dar datos de tipo personal! Que
no se te olvide facilitar tu dirección de correo electrónico verdadera,
es un paso esencial que no puedes obviar. Elige tu nombre de usuario
(el que quieras mientras no este ocupado) y no lo olvides. Cuando
necesites facilitar una dirección de correo electrónico desechable
nueva, piensa en una palabra (bueno, cualquier combinación de letras y
números -que no sean más de 20 entre todos- y que no hayas empleado
antes), y decide el número máximo de mensajes que estas dispuesto a
recibir en esta desechable (Nota del traductor: el máximo de mensajes
_inicial_ es 20). Luego, junta la palabra, el número, y tu nombre de
usuario de spamgourmet para formar tu nueva dirección de correo
electrónico desechable. Por ejemplo, si tu nombre de usuario es
"vaquerodelspam", podrías inventar una dirección desechable  tal
como: <br>
</font></p>
<p><font face="arial,helvetica">algunapalabra.2.vaquerodelspam@spamgourmet.com<br>
</font></p>

<p><font face="arial,helvetica">Ahora ya puedes apuntarte en el dichoso
sitio internet que te interesa pero propenso a bombardearte con spam
pero pudiendote librar ... típicamente:<br>
Proporcionas una dirección de correo desechable. Recibes su primer
mensaje, pidiéndote confirmación, recibes tu clave en el primer o
segundo mensaje y ... punto final, sonríe y disfruta por un momento
sopesando que nadie, de forma alguna, puede hacer que te llege mensaje
alguno en el futuro empleando dicha dirección. <br>
(Nota del traductor: bueno, siempre puedes modificar luego las reglas
de bloqueo ...;-)<br>
</font></p>
<p><font face="arial,helvetica">Por tanto, tu no haces nada realmente
para crear las desechables, se fabrican en el momento bajo demanda. La
dirección se crea en spamgourmet automáticamente la primera vez que
recibe un mensaje (Nota del traductor: salvo bloqueos)<br>
<span style="font-style: italic;"></span><br>
<i><br>
Nota: Desde el 3 de Enero de 2002,</i> se puede emplear una expresión
en vez de un número (donde se indica el número de mensajes máximos que
estas dispuesto a recibir) -- spamgourmet analizará la primera letra de
la expresión y limitará el número máximo de mensajesal número de orden
que corresponda a esa letra (en el alfabeto inglés) (las expresiones
'sender' y  'domain' son excepciones a la regla, lee más
adelante). 20 como límite máximo de mensajes permidos _inicial_ se
mantiene, de tal forma que para letras posteriores a la 'T' seguirá
siendo 20. Por tanto, a través de:
recuerdos.a.vaquerodelspam@spamgourmet.com<br>

se podrá recibir, sin que se deseche, un único mensaje; y a través de:
dame.yogurt.vaquerodelspam@spamgourmet.com, podrán recibirse 20
mensajes -- 'y' es la letra 25 del alfabeto inglés, pero como es mayor
que 20, nos quedamos en 20.<br>
</font></p>
<p><font face="arial,helvetica">P. <b>Me dí de alta,  he dado
algunas desechables, pero no me llega <i>ni un sólo correo </i>
mediante este sistema ¿Qué está mal?</b> <br>
R. Comprueba y asegúrate que puedes recibir correo en la dirección de
correo verdadera (la llamaremos "de reenvío") que facilitaste en
spamgourmet - esta es la que se muestra sobre media pantalla en la
página de entrada, y  a ella es a donde se reenvían  los
mensajes que nos llegan para tí. Si dicha dirección es incorrecta,
arreglala y pulsa "salvar".  Otra posibilidad es que a quien 

le diste la dirección desechable no la haya empleado aún. Puedes
comprobar el funcionamiento enviando un mensaje desde tu cliente de
correo a una dirección de correo desechable tuya, tal como <i>parapruebas.3.
_ponaquitunombredeusuario_ @spamgourmet.com</i> (nota del traductor:
ojo, la indicada es un ejemplo, pon tu verdadero nombre de usuario en
spamgourmet, y sin espacios ni _ ).<br>
<br>
Otra causa frecuente de que no te lleguen esos correos es que tengas
programas de filtrado de spam actuando sobre la dirección verdadera --
esto es, los mensajes llegan y pasan a través de spamgourmet, pero
despues son atrapados por algún otro mecanismo de protección contra el
spam antes de que lleguen a tu buzón.<br>
</font></p>
<p><font face="arial,helvetica">Si aún tienes problemas, manda un
correo al punto de contacto en la página principal (nota del traductor:
mejor que sea en inglés ... también puedes visitar el foro
bbs.spamgourmet.com)<br>
</font></p>
<p><font face="arial,helvetica">P. <b>!No puedo permanecer dentro del
servicio (logged in)! Cuando cambio de modo simple a modo avanzado o
trato de hacer cualqier otra cosa, el spamgourmet dice que no estoy
dentro del servicio aunque haya entrado. ¿Qúe pasa?</b> <br>
R. Revisa tu configuración de parámetros de "cookies" -- spamgourmet
necesita y usa una "cookie" de sesión (una cookie del tipo que *NO* se
almacena en tu ordenador) para mantener la conexión abierta. Asegurate
que tu visor web acepta cookies provenientes de spamgourmet. Algunos
visores nuevos (IE?) parecen impedir por defecto el uso de cookies de
sesión.<br>

</font></p>
<p><font face="arial,helvetica">P. <b>Cuando trato de darme de alta
como usuario, el web pide que lea una expresión en una imagen. ¿Sóis
unos sádicos?</b> <br>
R. Reservamos el sadismo para los spammers.  Desde enero de 2004,
pedimos que todos los usuarios sean personas. Eso filtra a los
spammers. No porque sean sub-humanos, sino porque emplean programación
para registrar múltiples usuarios en webs. La programación no puede
(nota del traductor: por ahora y fácilmente) leer expresiones en
imágenes. Las personas no deberían tener problemas, salvo excepciones.<br>
</font></p>
<p><font face="arial,helvetica">P. <b>Soy una persona pero tengo
dificultades de visión. No puedo ver expresión alguna en una imagen.
¡Ayuda!</b> <br>
R. Contacta con nosotros y abriremos la cuenta por ti. Manda un correo
a
<script language="JavaScript">writeMailTo('nsktExufrltzwrjy3htr');</script><br>
</font></p>

<p><font face="arial,helvetica">P. <b>Esto parece perfecto para
apuntarse a rifas, ofertas de cupones, etc. </b> <br>
R. ¡Lo es!  Pero piensa esto: utiliza una dirección de spamgourmet
para apuntarte en vez de tu dirección verdadera, te librará de una
muerte horrible abrasado por spam - pero no escribas un programa que te
sirva para apuntarte multiples veces usando direcciones desechables
distintas de spamgourmet (o, para el caso, cualquier otra dirección) -
Puede constituir fraude, y es definitivamente contrario a los terminos
de uso</font><font> (<a href="?printpage=terms.html">terms of service)</a></font><font
 face="arial,helvetica"> de spamgourmet. <br>
</font></p>
<p><font face="arial,helvetica">P. <b>¿Cómo puedo borrar desechables?
Mi lista de desechables se vuelve inmanejable.</b> <br>

R. No es posible -- en vez de ello, puedes "ocultarlas" de la lista,
eligiendo la selección  "ocultar" en la página que permite
modificar las propiedades de las desechables. Si realmente las
borrases, se volverían a crear (y llenar de spam) en cuanto llegara un
nuevo spam a dicha dirección.</font></p>
<p><font face="arial,helvetica">P. <b>Todo esto no podría ser más
fácil de entender si rediseñaraís las páginas y diérais instrucciones
más claras?</b> <br>
R. Probablemente. Francamente, queremos usuarios como tu, que
probablemente están familiarizados con la forma en que funciona el
correo, y que están dispuestos a leer "Preguntas Frecuentes y
Respuestas" (FAQs). Esto ayuda a mantener nuestros esfuerzos de soporte
y ayuda bajos (¿recuerdas que este no es un sitio comercial?) Hasta
ahora la idea ha funcionado bien -- los usuarios aterrizan sin
necesidad de soporte, y creemos que aquellos que necesitaran soporte no
son los primeros en apuntase, tal vez por el aspecto tecnocrático del
sitio. Ésto no quiere decir que no prestemos ayuda cuando hace falta --
despues de conocer esta FAQ, <i>por favor  </i><span
 style="font-style: italic;"></span>no dejes de escribir pidiendo ayuda
si tienes alguna pregunta o crees que hay un fallo de programación
(bug). </font></p>
<p><font face="arial,helvetica">P. <b>¿Cómo es que el número de la
dirección de correo desechable no baja según van llegando correos?</b> <br>

R. Bueno, entonces eso sería una desechable distinta, ¿no? Spamgourmet
apunta el número la primera vez que ve una dirección desechable; a
partir de ese momento, se cuenta internamente hacia cero. Francamente,
una vez que creada la desechable, el número no importa más, cualquier
cosa se podría emplear. No obstante, la persona ( o cosa, ello ;-) a
quien diste la dirección tendrá el número original como parte de la
dirección. (Confesión de Ed: esto no es una pregunta frecuente, nunca
nadie la preguntó ...)<br>
<br>
</font></p>
<p><font face="arial,helvetica">P. <b>¿Cúal es el número máximo de
mensajes que puedo recibir en una desechable?</b> <br>
R. 20. Si pones en la dirección desechable un número mayor, el contador
interno de spamgourmet se pondrá en 20. <i>¿de verdad</i> querrías
recibir más de 20 mensajes en una desechable? ¿querrías? Pero nota que
con remitentes de confianza/exclusivos, y mediante recargas de
desechables, se puede extender este límite a más de 20 --
verdaderamente de forma ilimitada.</font><font face="arial,helvetica">
(nota del traductor:  ver más abajo)</font></p>

<p><font face="arial,helvetica">Nota: desde <i>el 8 de Junio de 2001,
puedes "recargar" el número de mensajes que una desechable puede
recibir </i> debes ir al modo avanzado, pulsar buscar direcciones
(en blanco o indicando la que te interese), localizar la desechable (se
ordenan por antigüedad, la mas moderna primero), y pulsar en el
'nombre' de la desechable; ahora podrás aumentar el número de mensajes
restantes (antes de que comience a devorar) de la desechable, y pulsar
actualizar.  En cualquier caso, las desechables tienen un tope
máximo de 20.</font><span style="text-decoration: underline;"></span></p>
<span style="font-family: arial,helvetica;"></span>
<p><font face="arial,helvetica">P. <b>Entonces ... ¿puedo responder
'sí' cuando me pregunte si quiero recibir noticias de ofertas
especiales y productos excitantes de afiliados de confianza?</b> <br>
R. Ah, ¡Sí!, claro que puedes</font></p>
<p><font face="arial,helvetica">P. <b>Un momento, ¿todo esto quiere
decir que cualquiera puede prefabricar una dirección de correo
desechable dirigida a mi, inventando una palabra, añadiendo un número,
y poniendo mi nombre de usuario en spamgourmet?</b> <br>

R. Tu, que decididamente estas utilizando tu cerebro, debes dejar de
usar el método simple y utilizar el método avanzado. Pero antes,
calculemos la propabilidad de que eso ocurra, y tambies si tu
considerarías tal mensaje como spam (esto es, si merece la pena usar el
cerebro y pasar a modo avanzado). Recuerda que la mayoría de spammers
usan programas automáticos para enviar correo a miles o millones de
receptores en listas de correo que esperan sean reales que compilan o
compran.  Actualmente, no tenemos noticias alguna que de que
programa alguno de los que usan sea capaz de fabricar direcciones de
correo complicadas en la esperanza de que funcionen. Si alguien apunta
hacia ti de forma precisa, si, a ti, [tu nombre en mayusculas aquí], y
te envia un mensaje de tal forma, realmente deja de ser correo
masivo...  si esto no te convence, ve a modo avanzado, y
especifica un prefijo (o mejor aún, una o más "salvoconductos"), y
cambialo(s) de vez en cuando. Las desechables deberan empezar por el
prefijo para que sean creadas, tal como:<br>
</font></p>
<p><font face="verdana,arial,helvetica"><i>prefijoactual.algunapalabra.4.vaquerodelspam@spamgourmet.com</i><br>
De tal forma que el prefijo funciona como una clave que el remitente
debe poner antes de se cree dicha desechable en tu cuenta. Los
"Salvoconductos" son semejantes excepto que deben estar contenidas en
el nombre base de la desechable. Se emplean expresiones regulares
(regex), si sabes lo que es, puedes obtener multiples aproximaciones
interesantes. Un ejemplo simple, si tienes cuerda y cuero como
salvoconductos, las siguientes desechables funcionarán:<br>
</font></p>
<p><font face="verdana,arial,helvetica"><i>silladecuero.4.vaquerodelspam@spamgourmet.com</i><br>
<i>tiradelacuerda.4.vaquerodelspam@spamgourmet.com</i><br>
pero esta otra no:<br>

<i>palabrilla.4.spamcowboy@spamgourmet.com</i><br>
</font></p>
<p><font face="verdana,arial,helvetica">Pero vamos, deja de "comerte el
tarro" y prueba una temporada el modo sencillo (o al menos el modo
avanzado pero sin usar prefijo ni salvoconductos). Es más fácil, y
pasará tiempo antes de que tu nombre de usuario entre en el remolino
del spam de esa otra naturaleza.<br>
</font></p>
<p><font face="verdana,arial,helvetica">P. <b>¿Puede especificar que
un remitente o dominio sea de confianza y se le permita enviarme
mensajes a mi cuenta de spamgourmet?</b>
<br>
R. Si, en el modo avanzado, añade las direcciones de correo electronico
de personas o dominios, y a esos remitentes se les permite enviarte
mensajes a cualquiera de tus desechables sin que se disminuya el número
de los permitidos por recibir en la desechable. Por supuesto, si
confiaras <span style="font-style: italic;">verdaderamente  </span>en
el remitente podrias darle tu dirección de correo verdadera. Por tanto,
hablamos de personas de las que confias lo suficiente para que te
remitan mensajes pero no  te fías que custodien tu dirección de
correo.<br>

</font></p>
<p><font face="verdana,arial,helvetica">P. <b>Por tanto, ¿me puedo
apuntar a un servicio con una dirección desechable, y, entonces, si
decido que quiero continuar recibiendo mensajes de dicho servicio,
puedo venir aqui y añadir su dirección como remitente de confianza y
continuar recibiendo mensajes suyos de forma ilimitada?</b>
<br>
R. Sí. Fíjate en la dirección que consta en el "de:" ("from:") de un
mensaje que te hayan enviado, y añadela como remitente de confianza. Si
estas suscrito a una lista de correo (de distribución) que se envia
siempre (el "a:", o el "to:") a la misma dirección </font><font
 face="verdana,arial,helvetica">(pero que no aparezca la de tu cuenta
en spamgourmet)</font><font face="verdana,arial,helvetica">, puedes
poner esta dirección como un "remitente de confianza" para tu
desechable -- eso funcionará aunque los mensajes provengan ("de:" o
"from:" ) diferentes remitentes.<br>
</font></p>
<p><font face="verdana,arial,helvetica">P. <b>¿Hay forma de dar una
dirección que permita recibir mensajes ilimitados enviados desde la
dirección de correo del primero en usarla, pero que devore los enviados
desde cualquier otra dirección ("remitente exclusivo")?</b>
<br>
R. Sí, pero ten cuidado, ya que el primer mensaje puede no ser el que
pensabas ... Si das una dirección tal como:
<br>
<i>algunapalabra.+.vaquerodelspam@spamgourmet.com</i>

<br>
o <i>algunapalabra.sender.vaquerodelspam@spamgourmet.com</i>
<br>
spamgourmet grabará la dirección del remitente del primer mensaje y
aceptará de forma ilimitada todos los mensajes de ese remitente
enviados a ese desechable, y devorará cualquier otro, salvo que esten
en la lista de remitentes de confianza. Más ampliamente, si das una
dirección como:<br>
</font></p>
<p><font face="verdana,arial,helvetica"><i>algunapalabra.*.vaquerodelspam@spamgourmet.com</i>
<br>
o <i>algunapalabra.domain.vaquerodelspam@spamgourmet.com</i>
<br>
spamgourmet grabará el dominio del remitente del primer mensaje y
aceptará de forma ilimitada todos los mensajes enviados por remitentes
en dicho dominio a ese desechable,</font><font
 face="verdana,arial,helvetica"> y devorará cualquier otro, salvo que
esten en la lista de remitentes de confianza.</font><font
 face="verdana,arial,helvetica"> <br>

</font></p>
<p><font face="verdana,arial,helvetica">De verdad, se muy cuidadoso con
este método. Uno del equipo uso este métod para apuntarse en un
servicio relativamente importante, y entonces, como lo sabes, el primer
mensaje vino de un spammer y perdió mensajes importantes del servicio
que le interesaba. Y, adivina quien podía continuar enviandole mensajes
de forma ilimitada ... dado el potencial de problemas asociados, hemos
documentado esto en la página principal.<br>
</font></p>
<p><font face="verdana,arial,helvetica">Importante: desde el 8 de Junio
de 2001, se pueden añadir, cambiar y quitar remitentes exclusivos en
cada desechable, pulsando en el enlace ver/editar del modo avanzado.
Esto permite dar una desechable normal, y luego asignarle un remitente
exclusivo en el momento que quieras. Es como añadir un remitente de
confianza para tu cuenta pero sólo para una desechable en particular.
Tambien funciona con listas de correo (de distribución) si su dirección
(en el "a:" , "to:") es siempre la misma</font><font
 face="verdana,arial,helvetica"> (pero que no aparezca la de tu cuenta
en spamgourmet)</font><font face="verdana,arial,helvetica">, si colocas
dicha dirección como remitente exclusivo. </font><font
 face="verdana,arial,helvetica">(si aparece la dirección de tu
desechable estarás autorizando un número ilimitado de mensajes de
cualquiera) <br>
<br>
</font></p>
<p><font face="verdana,arial,helvetica">P. <b>¿Porqué tengo que
confirmar mi dirección de correo electrónico verdadera (la de reenvio)?
No había que hacerlo antes del 10 de Diciembre de 2001.</b>
<br>
R. Un tal 'lj' escribio en una discusión sobre nuevas prestaciones:

</font></p>
<pre><font face="verdana,arial,helvetica">mmmm...no debería tal vez deba añadirse una<br>confirmación de algún tipo cuando una dirección<br>de reenvio se cambia? <br><br>Me podría apuntar usando una desechable a<br>cientos de listas de correo en modo "digest" (resumen).<br>Entonces podría contestar a cada petición de confirmación,</font><br><font
 face="verdana,arial,helvetica">reenviada desde la desechable, </font><font
 face="verdana,arial,helvetica">de la dirección suministrada<br>y deseo de recibir las listas.<br><br>(nota del traductor: se supone que de alguna forma<br>el modo "digest" se cambia a modo "completo")<br><br>Una vez confirmadas las suscripciones, vuelvo a<br>spamgourmet y cambio la dirección de reenvio por<br>la de otra persona.<br><br>Mientras que yo sólo tendría que contestar a las<br>confirmaciones en modo resumen, las victimas<br>recibirían todos los grandes correos una vez<br>cambiada la dirección de reenvio.<br><br>lj<br></font></pre>

<font face="verdana,arial,helvetica">(Nota del traductor: la victima no
puede acceder<br>
a spamgourmet y resolver la situación puesto que<br>
no conoce el nombre de usuario y clave ...)<br>
<br>
No es que lj fuera a hacerlo, claro ... pero desde el 10 de Diciembre
de 2001 se solicita a los usuarios confirmacón para las nuevas (o los
cambios de) direcciones de correo de reenvio. Para ello deberán pulsar
sobre un enlace particular en un mensaje que se les envía.<br>
<br>
</font>
<p><font face="verdana,arial,helvetica">P. <b>¿Porqué bajo el contador
de correo devorado de la página principal el día 3 de MArzo de 2001?</b>
<br>
R. Incluimos en la cuenta el número de días en funcionamientoy el
número de usuarios, y restamos de la cuenta valores de la fase de
pruebas. Los nuevos números dan una más fiel idea del spam remitido a
nuestros usuarios -- y devorado. Empleando dichos números será posible
generar gráficos interesantes (al menos para nosotros ...)</font></p>

<p><font face="verdana,arial,helvetica">P. <b>Quiero facilitar mi
dirección de correo en un lugar de acceso público con la esperanza de
que gente que no conozco me escriban, pero no quiero que me pesquen
spambots (robots de spammers). ¿Me podeis ayudar?</b>
<br>
R. Puedes dar una dirección de correo con un número alto (tal como 20).
Eso da posibilidades suficientes de que personas reales puedan enviarte
mensajes antes de que los spambots la pillen,  y puedes responder
utilizando tu dirección verdadera o añadirles como remitentes de
confianza (o exclusivos). Si quieres recibir un número ilimitado de
mensajes de desconocidos en tu dirección "públicamente" publicada,
verdaderamente spamgourmet no te puede ayudar. (Nota: desde el 9 de
Junio de 2001, se pueden "rellenar" en el modo avanzado el número de
mensajes permitidos restante para cada desechable). <br>
Dicho lo anterior, un método popularmente empleado es publicar la
dirección de correo con caracteres adicionales empotrados, de tal forma
que sea inválida (tal como micorreo_noquierospamquitaesto_@... ) En el
mensaje que envies deberás dar instrucciones de quitar los caracteres
adicionales si quieren enviarte correo. Los spambots se vuelven más
sofisticados día a día</font><font face="verdana,arial,helvetica">; no
obstante, este truco les detendrá aún por algún tiempo. Hemos visto
usuarios de spamgourmet usando un truco parecido de forma efectiva:
publicando una dirección sin prefijo y proporcionando de otra forma el
prefijo (en paginas web, en el asunto de un correo que se remite, etc.)
(Nota del traductor: en el original el que escribe este parrafo indica
que no entiende como puede funcionar esto ... creo que es falta de
conocimiento de dicha persona en particular)<br>
</font></p>
<p><font face="verdana,arial,helvetica">Si tienes un web y quieres
publicar direcciones de correo pero protegiendolas de spambots
cosechadores, emplea una técnica de ofuscación, tal como
"AddressScrambler", disponisble de forma gratuita en la sección de
descargas de spamgourmet.</font></p>
<p><font face="verdana,arial,helvetica"><br>
</font></p>
<font face="verdana,arial,helvetica"> </font>

<p><font face="verdana,arial,helvetica">P. <b>¿Qué longitud puede
tener mi nombre de usuario?</b>
<br>
R. 20 caracteres máximo. Sin puntos.</font></p>
<p><font face="verdana,arial,helvetica">P. <b>¿Qué longitud puede
tener la expresión del nombre de la desechable, y el prefijo?</b>
<br>
R. 20 caracteres máximo, cada uno. Sin puntos.</font></p>
<p><font face="verdana,arial,helvetica">P. <b>¿En el futuro será
posible tener puntos en mi nombre de usuario?</b>
<br>
R. No. Nunca se podrá emplar un punto en el nombre de usuario. <i>Pero
sería bastante trivial emplear cualquier otro carácter en vez de un
punto si quieres montarte una copia propia y particular del servicio
spamgourmet. Puedes descargar el código de la página principal --
escribe al punto de contacto si necesitas ayuda para ponerlo en marcha
(y aunque puedas ponerlo en marcha sin ayuda, escribe de todas formas
-- la persona que atiende el punto de contacto se alegrará).
Nota: ahora (desde el 28 de Enero de 2004) se puede usar una tilde (~)
para formar direcciónes de la misma forma que se emplea un punto -- por
tanto, ahora tampoco puedes tener una tilde en tu nombre de usuario.</i></font></p>

<p><font face="verdana,arial,helvetica">P. <b>Se me olvido la clave.
¿Podéis dármela?</b>
<br>
R. No. Como medida de seguridad, y porque realmente no las necesitamos
para nada, no guardamos las claves, solo una información que se calcula
empleando técnicas criptográficas partir de la clave y a partir de la
cual no se puede calcular la clave (se llama un "resumen"; cuando das
la clave, se realiza el cálculo y se compara el resultado con el
resumen almacenado). Por tanto, no tenemos ni idea de cual es tu clave.
Ahora bien, puedes a) utilizar el nuevo sistema de autoreinicio de
clave (yay!), b) crearte una cuenta nueva, o c) mandar un mensaje a la
dirección de información que esta en la página principal. Si le
convences de tu honestidad, tal vez pueda reiniciar a algo nuevo tu
clave. Si se te olvidó el nombre de usuario, puedes a) crear una nueva
cuenta de usuario, o b) mandar un mensaje a la dirección de información
con tu dirección de correo electrónico real, y veremos de ayudarte.<br>
</font></p>
<p><font face="verdana,arial,helvetica">P. <b>¿Puedo ver la lista de
mis desechables de alguna manera?</b>
<br>
R. Hay un botón en la página del modo avanzado (buscar desechables) que
te proporcionará información sobre tus desechables. Nota que desde
finales de febrero de 2001 se registra no solamente el nombre de la
desechable y el número máximo sino la dirección de correo completa.</font></p>
<p><font face="verdana,arial,helvetica">P. <b>¿Puedo emplear
spamgourmet como mi servidor de correo de entrada y salida?</b>
<br>

R. No. Registralo en tu cabeza.</font></p>
<p><font face="verdana,arial,helvetica">P. <b>¿Puede recuperarse un
mensaje devorado?</b>
<br>
R. No. Nunca se llego a escribir en disco. Por esta razón, si es que no
era ya obvio, te recomendamos emplear desechables para propósitos no
esenciales. Vaporizamos el spam porque a) así mantenemos bajos los
costes y gratuito el servicio, y, más importante, b) si lo salvaramos,
probablemente vendrías de vez en cuando a echarle un vistaza, y
entonces <i><b>verías spam</b></i>,
que es lo que se trata de evitar. Si esto te molesta, piensa en
spamgourmet no como correo electrónico, si no como algo parecido
apropiado para ser empleado con entidades que rechazan emplear el
correo electrónico como corresponde.<br>
<br>
</font></p>
<p><font face="verdana,arial,helvetica">P. <b>¿Qué ocurre si
accidentalmente repito el nombre de una desechable?</b>
<br>
R. Sólo puede haber una dirección desechable con el mismo nombre. Si
repites una (independientemente de que el número sea distinto), los
mensajes se descontarán del limite de la existente (puesto que para
spamgourmet es la misma). Si estaba exhausta, no obtendrás mensaje
alguno en la repetida.<br>

<br>
</font></p>
<p><font face="verdana,arial,helvetica">P. <b>Creo que vienen a por mi
- hay algún otro dominio que pueda usar a parte de spamgourmet.com?</b>
<br>
R. Sí - puedes usar spamgourmet.net, spamgourmet.org,
spamcannon.net, antichef.com, antichef.net, neverbox.com, recursor.net,
and xoxy.net como si fuesen spamgourmet.com. Es irrelevante, todos los
mensajes llegan igual a spamgourmet. Si eliges uno sólo para todas tus
desechables es más fácil de recordar .....
<br>
<i>Note: y desde el 3 de Enero de 2002,</i> puedes emplear una
expresión en vez de un número -- spamgourmet calcula el número que le
corresponde a la primera letra en el alfabeto inglés (mirá más arriba
para más detalles)<br>
Si usas expresiones en vez de numeros y usas otro dominio, es bastante
difícil de identificar una dirección de spamgourmet.<br>
</font></p>

<!--
<p><font face="verdana,arial,helvetica">P. <b>Guau, tengo un dominio
parado que me gustaría emplar para direcciones spamgourmet. ¿Cómo lo
hago?</b>

<br>
R. El método preferido es que tu proveedor internet (ISP) reenvie todos
los mensajes del dominio a el usario receptor @ spamgourmet.com. Por
ejemplo, con el programa sendmail, tu proveedor podría añadir una línea
en el fichero "virtusertable" como:<br>
</font></p>
<pre><font face="verdana,arial,helvetica">@tudominioparado.com    %1@spamgourmet.com</font></pre>
<font face="verdana,arial,helvetica">El método menos preferido es
reenviar todos los mensajes de tu dominio a spameater@spamgourmet.com.
Piénsalo con calma, ya que si tu dominio queda atrapado en incontrables
listas de spam y, un día, decides volver a usarlo, tu (o tu proveedor)
se puede enfrentar a desagradables sorpresas ...</font><br>
-->

<p><font face="verdana,arial,helvetica">P. <b>¿Cómo reporto un fallo o
propongo una nueva prestación?</b>
<br>
R. Preferiblemente, visita los foros de discusións o manda un mensaje a
<script language="JavaScript">writeMailTo('nsktExufrltzwrjy3htr');</script> con tantos
detalles como puedas ofrecer. No devoraremos tu mensaje, prometido.</font></p>

<p><font face="verdana,arial,helvetica">P. <b>¿Me informarán de nuevas
prestaciones?</b>
<br>
R. Probablemente, no. Enviar mensajes a usaurios es precisamente
antiético en el código ético de spamgourmet. Si suficientes usuarios lo
piden, <i>podríamos</i> implementar un mecanismo para alistarse ...
(opt-in) para recibir notificaciones de nuevas prestaciones, pero
tendrías que venir a apuntarte (ughh, esto se parece tanto a un
spamming que la mera mención de todo esto me pone la carne de gallina
...).</font></p>
<p><font face="verdana,arial,helvetica">P. <b>¿Puedo tener el código
fuente de spamgourmet?</b>
<br>
R. Por supuesto. De hecho, existe un proyecto de código abierto en <a
 href="http://sourceforge.net/projects/spamgourmet" target="_new">sourceforge</a>
donde puedes descargar libremente versiones gratuitas de código, que
deberían ser sencillas de instalar, poner en macha y configurar en un
gran número de entornos de provisión de servicios de correo electrónico
(tristemente, no es tan fácil todavía) Mientra tanto, envía un correo
al punto de contacto ('info' en la página principal). Esperamos que
tambien quieras involucrate en el proyecto de código abierto en
sourceforte. Necesitamos volutarios para documentar y desarrollar
código que puedan ayudarnos a hacer que el código sea más facilmente
instalable, desplegable y configurable por los proveedores de servicios
internet.<br>

<br>
</font></p>
<p><font face="verdana,arial,helvetica">P. <b>¿Qué plataforma-sistema
operativo/base de datos/ lenguaje de programación emplea spamgourmet?</b>
<br>
R. Actualmente emplea: perl para las páginas web y el manejo de
mensajes, mysql como base de datos, y linux como sistema operativo.
Ninguno de ellos, salvo tal vez perl para el manejador de mensajes, sea
imprescindible, y, la próxima versión planeada debiera funcionar en la
mayoría de las plataformas.<br>
</font></p>
<p><font face="verdana,arial,helvetica">P. <b>¿Cómo puedo contar a mis
amigos que existe este servicio fantástico?</b>
<br>
R. Copia el texto siguiente y mándaselo tres veces a cada persona de tu
libreta de correo. Hay progamillas por ahí que te permitirán hacerlo
fácilmente con la mayoría de los clientes de correo:<br>
</font></p>
<pre><font face="verdana,arial,helvetica">-------comienzo-------<br>Hola, siento lo de tu perro. Eh, ¡tengo que hablarte sobre un servicio fantástico que he encontrado!<br>Se llama spam gourmet, y puedes visitarlo siguiendo este enlace: http://www.spamgourmet.com.<br>¡Fantástico! Te proporcionan direcciones de correo electrónico desechables y filtrado de spam. Puedes<br>'ponerlo en marcha y olvidarte de ello' o volver cuando quieras y actualizar tus preferencias. Y lo mejor de<br>todo, es totalmente gratis. Vale. Tengo que darme prisa -- ¡tengo que hablarles a todos sobre este servicio<br>fantástico que encontré en www.spamgourmet.com!<br>-------fin--------</font></pre>

<font face="verdana,arial,helvetica"><br>
[¡¡bueno, esto es una broma!! -- no se te ocurra hacerlo ...]<br>
</font>
<p><font face="verdana,arial,helvetica">P. <b>¿No temeis que Hormel
Food
Corporation os demande por usar tanto la palabra 'spam'?</b>
<br>
R. No, eso esperamos al menos. Hormel tomó una postura muy progresiva
respecto al empleo de la palabra 'spam' para describir el correo
electrónico basura (indiscriminado, masivo, no solicitado) y otros
fenómenos Internet relacionados (siempre y cuando no se escriba en
mayúsculas). 
 Si otras empresas con marcas
prestigiosas siguieran su estela ...</font></p>
<p><font face="verdana,arial,helvetica">P. <b>¿Vendereis la lista de
usuarios y sus direcciones de correo a spammers?</b>
<br>
R. No, nosotros estamos en la misma lista ...</font></p>

<p><font face="verdana,arial,helvetica">P. <b>¿Qué pasa si alguien os
demanda, os hace desparecer en la nada, y se larga con la lista de
usarios y sus direcciones de correo?</b>
<br>
R. ¡¡Yihaaa!!. Vale, consideremos por un momento el valor comercial de
nuestra lista de usuarios. No tenemos tu nombre, ni sabemos si eres
fémina o varón, código postal, edad, que refresco te gusta o si es de
limón o de naranja ..., ni nada de nada. De hecho, lo único que se
puede decir de nuestros usuarios es que realmente no les gusta el spam
...<br>
<br>
</font></p>
<p><font face="verdana,arial,helvetica">P. <b>Vale, tal vez tengais
razón sobre el atractivo comercial de vuestra lista de usuarios y de
direcciones de correo. Pero, ¿qué pasa si algún
super-villano-ultrapoderoso-hiperspammer-y-traficante obsesionado por
vengarse os demanda y os quita hasta la camisa y los pantalones, y
luego emplea la lista para ejecutar una venganza terrible desatando la
madre de todos spammings sobre los usuarios de spamgourmet?</b>
<br>
R. Que se te habría acabado el chollo y con tu dosis de suerte.</font></p>
</body>
</html>
