<p><font size="+2">¿Cómo funciona?</font></p>

<p>Si le das tu dirección de correo (auténtica) a todo el mundo, estas expuesto a recibir correo basura (spam), sin que sepas de donde llega. ¿Resultará útil dar una dirección diferente en cada web o empresa sin que cambie como recibes tu correo? En el convencimiento de que dicha dirección será tarde o temprano capturada por spamers,  ¿no será lo mejor bloquearla automaticamente, salvo que se decida otra cosa, tras un cierto número de mensajes recibidos?</p>

<p>¡Esto es exactamente lo que ofrece spamgourmet! No hay que instalar nada en el ordenador, y, una vez puesto en funcionamiento, probablemente no tendrás ni que volver aqui. Esto es lo que hace de spamgourmet una de las maneras más sencillas, útilies y efectivas de evitar recibir spam.</p>

<p>Ponte un escudo contra el correo basura en tres fáciles pasos:</p>

<p><b>1.</b> Si no lo has hecho, create una cuenta de usario.
En el panel izquierdo, proporciona un nombre de usuario (mejor que sea un alias) y tu dirección de correo auténtica (donde leeras los mensajes). Pulsa "procesar". Saldrá una página donde deberás identificar la palabra que aparezca en una imagen y teclearla en el espacio para ello (esto se hace para asegurar que sólo personas y no programas puedan hacer esto), y elegir y proporcionar una clave de acceso, que debes escribir dos veces para comprobar que no hay errores. Pulsa procesar cuando hayas hecho todo.</p>

<p><b>2.</b> Confirmación de tu dirección de correo.
Recibirás un correo de spamgourmet para confirmar tu dirección de correo.
Los correos que se reciban en tus direcciones desechables de spamgourmet se reenvian a tu dirección de correo auténtica, por eso normalmente llamada dirección de correo electrónico de reenvío. Para evitar errores, inconvenientes o uso como mecanismo de spamming, debemos verificar que dicha dirección de correo de reenvío existe y te pertenece. A tal fin te enviamos un correo pidiéndote que confirmes que has pedido la cuenta de usuario. Debes seguir las indicaciones del correo para confirmar tu petición de cuenta de usuario (seguir el enlace web que viene en el correo).</p>

<p><b>3.</b> Ya puedes usarlo.  Después de crear tu cuenta y confirmar la dirección de correo de reenvio, donde deseas recibir tus mensajes, ¡ya puedes dar direcciones de correo de usar y tirar autodestruibles siempre que quieras! Las direcciones a dar las formas de manera siguiente:</p>

<p align="center">algunapalabra.x.usuario@spamgourmet.com</p>

<p>donde algunapalabra es cualquier palabra o expresión que quieras (a veces llamamos a esto como nombre de la desechable) pero que no hayas utilizado antes, x es el número de mensajes (máximo) que quieres recibir en esta dirección desechable (máximo posible 20), y usuario es tu nombre de usuario.</p>

<p>Por ejemplo, si tu nombre de usuario es 'vaquerodelspam', y das esta dirección desechable a alguien (o, más probablemente, a "algo"), por ejemplo, "ladronesdecorreo", en vez de dar tu dirección de correo auténtica da la siguiente:</p>

<p align="center">paraladronesdecorreo.2.vaquerodelspam@spamgourmet.com</p>

<p>la primera vez que llegue un mensaje para dicha desechable, ésta será creada en spamgourmet; hasta dos mensajes serán reenviados a tu dirección de correo auténtica. El resto será devorado indiscriminadamente.</p>

<p>Y eso es todo... nunca tendrás que volver aquí­. Salvo que quieras usar las opciones avanzadas para gestionar las direcciones desechables con mayor precision, aumentar el número de mensajes que puede recibir una desechable, etc.</p>