<html><head><title>spamgourmet - nedlastinger</title>
<script language="JavaScript" src="/stuff/js/AddressScrambler.js"></script>
</head>
<body bgcolor="#FFFFCC" onLoad="window.focus()" topmargin=0 bottommargin=0>
<font face="verdana,arial, helvetica" size=3 color="#000000">
Her kan du laste ned kode utgitt av spamgourmet. Du trenger ikke laste ned noe for å <i>bruke</i> tjenesten -- det holde å registrere seg på hovedsiden for det.
Ønsker du å tilby en liknende tjeneste, legge spamgourmet funksjonalitet til din eksisterende epost tjeneste, eller bare se på koden, da er dette for deg. Ønsker ud å ta del i utviklingen, se på <a href="http://www.sourceforge.net/projects/spamgourmet" target="_new">sourceforge.net prosjekt siden (engelsk)</a>.


<P>
<TABLE cellspacing="1" cellpadding="5" width="100%" border="0" bgcolor="#EAECEF">
<TR BGCOLOR="#D1D5D7" BACKGROUND="/themes/forged/images/steel3.jpg" align="center">
<TD colspan=2><SPAN class=titlebar>Latest File Releases</span></td>
</tr><TR align=left bgcolor="#EAECEF">
<TD colspan=2>
<TABLE cellspacing="1" cellpadding="5" width="100%" border="0">
<TR bgcolor="#EAECEF">
<TD align="left">Package</td>
<TD align="center">Version</td>
<td align="center">Date</td>
<TD align="center">Download</td>
<td align="center">Description</td>
</tr>
<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>spamgourmet</b></td>
<TD>0.9.1</td>
<td>2002-05-23</td>
<TD>

<!--  <A HREF="http://www.sourceforge.net/project/showfiles.php?group_id=20543&release_id=66273">Download</A> -->
<a href="http://prdownloads.sourceforge.net/spamgourmet/spamgourmet_0.9.1.tar.gz">Last ned</a>
</td>
<td align="left">Dette er hovedelen av eposthåndteringe og et skript for å sette opp databasen.</td>
</tr>

<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>AddressScrambler</b></td><TD>0.2.2</td>
<td>2003-02-12</td>
<TD>
<a href="http://prdownloads.sourceforge.net/spamgourmet/AddressScrambler_0.2.2.tar.gz">LastNed</a>
</td>
<td align="left">Dette er nok en javascript-basert epost adresse beskyttelse mot spam samle-roboter. Denne versjonen er for statiske web-sider, og har en grei "hjelpe side" som genererer den nødvendige inline javascript-koden for deg.
</td>
</tr>


<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>vim/vi makro</b></td><TD></td>
<td></td>
<TD>
<a href="http://unixen.org/spamgourmet/vimrc" target="_new">Last ned</a>
</td>
<td align="left">
   Here is a vim/vi macro to generate unique From: lines, to be inserted
   into an <strong>amenable MUA</strong>. The macro generates unique
   From: lines, email addresses for outgoing spamgourmet.org email. It
   also leaves you in <em>insert</em> mode at the spot where you can
   edit a tag to ID the recipient. So, save time, spare typing, don't
   rely on faulty memory, and edit defaults manually when the need
   arises.
</td>
</tr>



</table>
</td>
</tr>
</table>


<p> </p>
<p align="center"><font face="verdana,arial,helvetica"><a href="javascript:window.close();"><%closewindow%></a></font></p>
</body></html>
