Dersom du deler ut epost adressen din til alle, vil tilslutt motta spam eposter, og du kan ikke vite hvor de kom fra. Ville det ikke være greit å kunne gi ut en forskjellig epost adresse til hver enkelt firma eller hjemmeside, og likevel få epost som før? Ville det ikke være enklere å <i>anta</i> at adressen vil bli gitt til spam-avsendere og at den skrur seg av automatisk, med mindre du bestemmer deg for noe annet?
</p>

<p>
Det er nøyaktig hva spamgourmet tilbyr! Du trenger ikke installere noe på maskinen, og <i>når du registrert deg er det sannsynlig at du ikke trenger å returnere hit.</i> Dette gjør spamgourmet til en av de enkleste og mest effektive måtene for å unngå spam.
</p>

<p>Bevæpne deg mot spam-avsendere med tre enkle steg:</p>

<p><b>1.</b>
Om du ikke har gjordt det ennå, lag en spmgourmet konto. Skriv inn ditt brukernavn og adressen eposten din skal videresendes til. Du vil bli bedt om å identifisere et ord i et bilde, og velge ett passord.
</p>

<p><b>2.</b>
Spamgourmet vil videresende all epost som blir sendt til din spamgourmet bruk-og-kast adresse -- herav navnet <i>videresendings adresse</i>. Selvfølgelig må adressen du videresender epost til eksistere. Derfor må du bekrefte dette. Du vil mottaen epost som ber deg om å bekrefte.
</p>

<p><b>3.</b>
Etter at du har bekreftet videresendings adressen, kan du gi bort selv-ødeleggende bruk-og-kast adresser når du vil. Bruk-og-kast adressene er oppbygd slik:
</p>

<p align="center"><i>EtOrd.x.brukernavn</i>@spamgourmet.com</p>

 <p>hvor <i>EtOrd</i> er et ord du ikke har brukt før, <I>x</i> er antall meldinger du ønsker å motta på denne adressen (opp til 20), og <I>brukernavn</i> er ditt brukernavn.</p>

<p>FOr eksempel, om ditt brukernavn er "spamcowboy", og StortFirma ønsker at du gir de din adresse (på nettet, telefonen, i butikken - det spiller ingen rolle), i stedet for å gi de din virkelige adresse gir du dem denne:
</p>

<p align="center">fraStortFirma.3.spamcowboy@spamgourmet.com</p>

<p>Denne bruk-og-kast adressen vil bli lagether <i>første gangen StortFirma bruker den</i> (du trenger ikke gjøre no for å lage den), og du vil mota maksimalt 3 adresser, videresendt til din videresendings adresse. Resten blir udelikat spist opp.
</p>

<p>Ønsker du flere valg, velger du "avansert modus" på toppen.</p>
