расширенный режим очень похож на простой режим, с тем только исключением что здесь вы можете также указывать надежных отправителей, контрольные слова и приставку.  Вы также можете включать и выключать Маскировку Адреса с Которого Вы Отвечаете.  
Если у вас есть надежные отправители, контрольные слова или приставка, вы будете, по умолчанию, попадать на этот экран сразу после входа в систему под своим именем.

<p>
<p>

<b>Надежные Отправители</b>: Здесь вы можете добавить и удалить 'надежных отправителей' указав домен или полный адрес эл. почты.  Надежные отправители смогут посылать вам сообщения на любой из ваших одноразовых адресов, не уменьшая счетчик оставшихся разрешенных сообщений.  

<p>
Таким образом, вы можете подписаться на список рассылки которому вы не вполне доверяете используя одноразовый адрес.  Затем, если вам нравится этот список, вы можете вернуться на наш сайт и добавить email адрес списка как надежного отправителя.

если вы добавляете домен, любой отправитель из этого домена будет считаться надежным. Если вы добавляете email адрес, только этот адрес будет считаться надежным.
</p>
<p>
<b>Контрольные слова</b>: Контрольные слова помогут вам взять под контроль процесс создания одноразовых адресов.  Если у вас включено опция контрольных слов <i>и</i> есть по крайней мере одно контрольное слово, система не будет <i>создавать</i> если хотя бы одно из ваших контрольных слов не включено в "слово" вашего одноразового адреса.  
Например, если ваше имя пользователя 'spamcowboy', и список ваших контрольных слов включает 'saddle' и 'rope', то 
эти формы новых адресов могут быть созданы: 
</p><p align="center">
saddlesoap.3.spamcowboy@spamgourmet.com<br>
OuchRopeBurn.2.spamcowboy@spamgourmet.com<br>
backinthesaddle.6.spamcowboy@spamgourmet.com<br>
</p>
а эти - нет: 
<p align="center">
coyote.20.spamcowboy@spamgourmet.com<br>
eternalspamnation.*.spamcowboy@spamgourmet.com 
</p>


<p align="center">
</p>
<b>Маскировка Адреса с Которого Вы Отвечаете</b>: если включена эта опция, то система изменяет каждое пересылаемое сообщение таким образом, что , если вы отвечаете, ваш ответ вернется СпамГурману вместо того чтобы идти напрямую к отправителю. Затем система заменит ваш реальный email адрес с которого вы ответили на конкретный одноразовый адрес 
который был использован отправителем в его послании вам. Таким образом ваш реальный адрес останется нераскрытым даже если вы вступите в диалог с неизвестным отправителем. 
<p>


<b>Показывать Адреса</b>: Вы можете просмотреть большую таблицу со всеми своими одноразовыми адресами 
нажав на кнопку "показать мои одноразовые адреса".  
В таблице, вы можете нажить на адрес (на 'слово' из этого адреса) править его таким образом: 

<br>

a) изменить количество оставшихся сообщений, и 

<br>

b) если желаете, указать 'эксклюзивного отправителя' для этого адреса. Вы можете прочесть подробнее об эксклюзивных отправителях в разделе ЧАстые ВОпросы -- это очень похоже на то чтобы иметь надежного отправителя для конкретного одноразового адреса.

<p>

Или, если желаете, вы можете <a href="<%xmllink%>">получить полный список в формате XML нажав здесь</a>.

<p> 

<p>

<b>Приставка:</b> Наконец, если вас <i>просто одолевает</i> мания преследования, вы можете указать 'приставку' присутствие которой будет обязательным в каждом <i>новом</i> одноразовом адресе, который создал ненадежный отправитель. Думайте об этом как о пароле к созданию новых одноразовых адресов, который вы можете менять время от времени.

</p>

<form action="<%action%>" method="post" onSubmit="return checkPrefixForm(this);"><p align="center">

Ваша приставка:

<input type="text" name="prefix" value="<%prefix%>" maxlength=20> <input type="<%button%>" value="Сохранить приставку" onClick="<%onClick%>">
</p></form>

Наличие приставки дает вам больший контроль над вашими одноразовыми адресами, требуя чтобы ваша текущая приставка 
присутствовала в придуманном адресе чтобы он стал действующим адресом. Это защитит вас если вы
считаете что кто-то другой кроме вас создает новые адреса используя ваше имя пользователя.
Формат одноразового email адреса с приставкой такой:

<p align="center">  <i>Приставка.ЛюбоеСлово.x.ИмяПользователя</i>@spamgourmet.com</p>

<p>

Итак, если ваша приставка - 'cowpoke', вы могли бы сформировать такой одноразовый адрес:

<p align="center">  cowpoke.spamelope.2.spamcowboy@spamgourmet.com</p>

И если вы позже измените свою приставку на 'coyote', приставка 'cowpoke' перестанет действовать
как средство доступа к созданию новых адресов, но уже существующие одноразовые адреса продолжат функционировать.
Если вы удаляете свою приставку, одноразовые адреса могут быть созданы как с приставкой так и без нее.
