<html><head><title>СрамГурман - загрузить</title>
<script language="JavaScript" src="/stuff/js/AddressScrambler.js"></script>
</head>
<body bgcolor="#FFFFCC" onLoad="wzywe(7);wzywe(7);wzywe(7);window.focus();wzywf();wzywf();wzywf();" topmargin=0 bottommargin=0>
<font face="arial, helvetica" size=3 color="#000000">
Здесь вы может скачать релиз исходного кода системы СпамГурман. Заметьте, что вам не нужно ничего скачивать чтобы <i>пользоваться</i> нашим сервисом -- вы можете просто зарегистрироваться для этого на главной станице.  
Если вы хотите предоставить хостинг под аналогичный сервис, добавить функции СпамГурмана к вашей существующей почтовой системе, или просто взглянуть на исходный код, тогда эта страница для вас.  Если вы хотите подключиться к процессу разработки, зайдите на <a href="http://www.sourceforge.net/projects/spamgourmet" target="_new">страничку нашего проекта на sourceforge.net</a>.


<P>
<TABLE cellspacing="1" cellpadding="5" width="100%" border="0" bgcolor="#EAECEF">
<TR BGCOLOR="#D1D5D7" BACKGROUND="/themes/forged/images/steel3.jpg" align="center">
<TD colspan=2><SPAN class=titlebar>Latest File Releases</SPAN></TD>
</TR><TR align=left bgcolor="#EAECEF">
<TD colspan=2>
<TABLE cellspacing="1" cellpadding="5" width="100%" border="0">
<TR bgcolor="#EAECEF">
<TD align="left">Продукт</td>
<TD align="center">Версия</td>
<td align="center">Дата</td>
<TD align="center">Загрузить</td>
<td align="center">Описание</td>
</TR>
<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>СпамГурман</B></TD>
<TD>0.9.1</TD>
<td>2002-05-23</td>
<TD>

<!--  <A HREF="http://www.sourceforge.net/project/showfiles.php?group_id=20543&release_id=66273">Download</A> -->
<a href="http://prdownloads.sourceforge.net/spamgourmet/spamgourmet_0.9.1.tar.gz">Загрузить</a>
</TD>
<td align="left">Это основной скрипт для обработки почты и настройки базы данных.</td>
</TR>

<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>AddressScrambler</B></TD><TD>0.2.2</TD>
<td>2003-02-12</td>
<TD>
<a href="http://prdownloads.sourceforge.net/spamgourmet/AddressScrambler_0.2.2.tar.gz">Загрузить</a>
</TD>
<td align="left">Это еще один барьер от сбора адресов эл. почты спамерскими роботами. Написан на javasript.  
Это версия для статических вебстраниц, и имеет удобную "страничку помощника" которая будет генерировать необходимый javasript код для последующей вставки в вашу вебстраницу. 
</td>
</TR>


<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>vim/vi macro</B></TD><TD></TD>
<td></td>
<TD>
<a href="http://unixen.org/spamgourmet/vimrc" target="_new">Загрузить</a>
</TD>
<td align="left">
   Это vim/vi макрос для генерации уникальных адресов в поле From: , 
   которые будут ставляться в <strong>подходящий почтовый клиент</strong>. 
   Макрос генерирует уникальные From: строки, адреса email для исходящей от
   spamgourmet.org почты. Он также оставляет вас в режиме <em>вставки</em> 
   на том месте где вы можете редактировать специальный тэг чтобы различать 
   получателя. Итак, сберегите время и свою клавиатуру, не полагайтесь на свою 
   память, и редактируйте установки по умолчанию если возникнет такая нужда.
</td>
</TR>



</TABLE>
</TD>
</TR>
</TABLE>


<p> </p>
<p align="center"><font face="arial,helvetica"><a href="javascript:window.close();">close this window</a></font></p>
</body></html>
