<font face="arial,helvetica" size=3 color="#000000">
<p> </p>
<div align="center">Обновить ваш одноразовый адрес:<br><b><%message%></b><br>
<form action="<%action%>" method="post">
<input type="hidden" name="randomnumber" value=<%randomnumber%>>
<input type="hidden" name="myemails" value=1>
<input type="hidden" name="updateemail" value=<%emailid%>>

<input type="hidden" name="showHidden" value="<%showhidden%>">

<table border=0 cellspacing=0 cellpadding=2>
<tr><td>Remaining Messages <input type="text" name="count" value="<%count%>" onFocus="this.select();" size=2 maxlength=2></td></tr>
<tr><td>Exclusive Sender <input type="text" name="sender" value="<%sender%>" onFocus="this.select();"></tr>

<tr><td colspan=2 align="center"><input type="radio" name="hidden" value=0 <%isnothidden%>>not hidden    
  <input type="radio" name="hidden" value=1 <%ishidden%>>hidden</td></tr>
<tr><td colspan=2 align="center" valign="middle">note <textarea cols=40 rows=2 maxlength=254 name="note"><%note%></textarea></td></tr>
<tr><td colspan=2 align="center"><input type="submit" value="update address"> </td></tr>
</table>
</div>
Используйте эту форму чтобы обновить счетчик сообщений которые могу прийти на ваш адрес (от 0 до 20).  Если желаете вы можете указать эксклюзивного отправителя (по адресу email или по домену) которому будет позволено слать неограниченное число сообщений на ваш одноразовый адрес.  Кроме надежный отправителей, только эксклюзивный отправитель сможет использовать адрес после того как счетчик сообщений обнулится.
<br>
<input type="hidden" name="searchterms" value="<%searchterms%>">
</form>

<p align="center"><a href="<%action%>?myemails=1&showHidden=<%showhidden%>&searchterms=<%searchterms%>"><%returnwithoutsaving%></a>
</p>

</font>

