После того как вы введете сюда адрес эл.почты на который вы хотите получать сообщения и подтвердите его, вы можете раздавать кому угодно свой самоуничтожающийся одноразовый адрес в таком виде:

<p align="center"><i>someword.x.user</i>@spamgourmet.com</p>

Где <i>someword</i> - слово которое вы еще не использовали в своих одноразовых адресах, <i>x</i> - количество сообщений, которое вы согласны получить на этот адрес (не более 20), и <i>user</i> - ваше имя пользователя в системе СпамГурман.  Например, если ваше имя пользователя - 'spamcowboy', и вы даете такой адрес кому-либо
(или, что вероятнее, чему-либо):

<p align="center">spamelope.2.spamcowboy@spamgourmet.com</p>

адрес будет создан в системе СпамГурман как только он впервые будет <i>использован</i>, и вы получите на этот адрес, самое большее, 2 сообщения (они будут пересланы на реальный адрес который вы указали выше).  Третье сообщение и все последующие будут съедены ненасытным СпамГурманом.<br><br>
Вот так это работает.  Вам даже не нужно вновь заходить на этот сайт.

