アドバンストモードは、簡易モードの機能に加え、「信頼する送信元」「キーワード」「接頭語」を設定することができます。
さらに、返信先アドレスのマスキング機能の有効・無効を切り替えることや、使い捨てアドレスの閲覧・編集ができます。
信頼する送信元・キーワード・接頭語を登録してあれば、ログイン時にデフォルトでそれらが見られる状態になります。
<p></p>
<p>
  <b>信頼する送信元</b>:
  ドメインまたはメールアドレスを指定することによって、「信頼する送信元」を追加・削除できます。「信頼する送信元」から送られたメールは、転送数をカウントアップすることなく、すべての使い捨てアドレスに向けて送ることができるようになります。
</p>

<p>
  これらの機能を使うことで、信頼できない相手に対して最初は使い捨てアドレスを教え、その相手を信頼できると確信してから、その相手を「信頼する送信元」に追加するということができるのです。
  また、「信頼する送信元」としてドメインを登録すると、そのドメインから送られてくるメールがすべて「信頼する送信元」扱いとなります。
  メールアドレスを入れた場合は、そのアドレスのみが「信頼する送信元」扱いとなり、同じドメインの他のアカウントから送られたメールには適用されません。
</p>
<p>
  <b>キーワード</b>:
  キーワード機能を利用すると、使い捨てアドレスの生成をコントロールすることができます。
  キーワードをオンにし、<i>さらに</i>1つ以上のキーワードを登録すると、システムは、登録されたキーワードをアドレスに含まない使い捨てアドレスを生成しなくなります。
  例えば、ユーザ名が "spamcowboy" で、キーワードリストに "saddle" と "rope"
  の2語を登録していたとします。この場合は、システムは次のようなメールアドレスを生成できて、
</p>
<p align="center">
  saddlesoap.3.spamcowboy@spamgourmet.com<br />
  OuchRopeBurn.2.spamcowboy@spamgourmet.com<br />
  backinthesaddle.6.spamcowboy@spamgourmet.com<br />
</p>
次のようなアドレスを生成できない状態になります。
<p align="center">
  coyote.20.spamcowboy@spamgourmet.com<br />
  eternalspamnation.*.spamcowboy@spamgourmet.com
</p>

<p align="center"></p>
<b>返信アドレスマスキング機能</b>:
返信アドレスマスキング機能を使うと、転送されるメールに返信するときに、送信者に直接返信するのではなく、spamgourmet
宛てに返信できるようになります。
システムは、特定の使い捨てアドレスをあなたのメールの送信者欄に付け加えて送信しますので、あなたの本当のアドレスを相手に隠すことができます。
<p>
  <b>アドレスを見る</b>:
  「アドレス検索」ボタンを押すと、あなたのすべての使い捨てアドレスを表示します。
  検索語句を入れないと、すべての使い捨てアドレスが表示されます。
  その表で、アドレス (接頭語単位) をクリックすると、以下のような編集ができます :

  <br />

  a) 残り転送回数を変更する
  <br />

  b) 「除外する送信者」を登録することができます。この機能についての詳細は、FAQ
  をお読みください。この機能は、「信頼する送信元」機能と大方似ています。
</p>

<p>
  使い捨てアドレス一覧は、
  <a href="<%xmllink%>">ここをクリックすると、XML 形式で表示されます</a>。
</p>

<p></p>

<p>
  <b>接頭語:</b>
  <i>ものすごい神経質</i
  >な方は、信頼しない送信元が送ってくる<i>新しい</i>使い捨てアドレスにつける「接頭語」をつける機能をお使いください。
  これは、使い捨てアドレスを生成するために使える「パスワード」のようなもので、いつでも変更することができます。
  この機能は、キーワード機能とよく似ています。(キーワード機能では、あなたの意思に反して送信者が使い捨てアドレスを生成することを防止します。)
  一般的には、キーワード機能のほうが使いやすいでしょう。詳細は、ここで設定します。
</p>

<form
  action="<%action%>"
  method="post"
  onSubmit="return checkPrefixForm(this);"
>
  <p align="center">
    接頭語:

    <input type="text" name="prefix" value="<%prefix%>" maxlength="20" />
    <input type="<%button%>" value="接頭語を追加する" onClick="<%onClick%>" />
  </p>
</form>
接頭語を作成した場合、システムは、この語を含まない使い捨てアドレスは生成しなくなります。
この機能を使うことで、あなた以外の人が、あなたのユーザ名に適当な言葉をつけてメールを送りつけることはできなくなります。
接頭語を利用したアドレスは、以下のような形式になります :
<p align="center"><i>接頭語.適当な言葉.回数.ユーザ名</i>@spamgourmet.com</p>

<p>
  たとえば、接頭語が "cowpoke"
  の場合は、以下のような形のメールアドレスが使えます :
</p>

<p align="center">cowpoke.spamelope.2.spamcowboy@spamgourmet.com</p>

この接頭語を後から "coyote" に変更した場合は、"cowpoke"
をつけて新しいメールアドレスを生成することはできなくなります。ただし、この場合も、すでに生成された使い捨てアドレスはそのまま機能します。
接頭語を削除すると、接頭語をつけてもつけなくても新しい使い捨てアドレスは生成できるようになります。
