<html><head><title>spamgourmet - ダウンロード</title>
<script language="JavaScript" src="/stuff/js/AddressScrambler.js"></script>
</head>
<body bgcolor="#FFFFCC" onLoad="window.focus()" topmargin=0 bottommargin=0>
<font face="verdana,arial, helvetica" size=3 color="#000000">
こちこでは、spamgourmet で使われているコードのダウンロードできます。
spamgourmet のサービスを<i>使う</i>だけなら、何かをダウンロードする必要はありません。トップページから登録をすれば OK です。
似たようなサービスをホスティングしたい場合は、メールサーバに spamgourmet の機能を追加すれば、お好きなサーバでサービスを運用することができます。
開発プロジェクトに関わりたい場合は、 <a href="http://www.sourceforge.net/projects/spamgourmet" target="_new">sourceforge.net のプロジェクトページ</a>からソースをチェックアウトしてください。

<P>
<TABLE cellspacing="1" cellpadding="5" width="100%" border="0" bgcolor="#EAECEF">
<TR BGCOLOR="#D1D5D7" BACKGROUND="/themes/forged/images/steel3.jpg" align="center">
<TD colspan=2><SPAN class=titlebar>Latest File Releases</span></td>
</tr><TR align=left bgcolor="#EAECEF">
<TD colspan=2>
<TABLE cellspacing="1" cellpadding="5" width="100%" border="0">
<TR bgcolor="#EAECEF">
<TD align="left">Package</td>
<TD align="center">Version</td>
<td align="center">Date</td>
<TD align="center">Download</td>
<td align="center">Description</td>
</tr>
<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>spamgourmet</b></td>
<TD>0.9.1</td>
<td>2002-05-23</td>
<TD>

<!--  <A HREF="http://www.sourceforge.net/project/showfiles.php?group_id=20543&release_id=66273">Download</A> -->
<a href="http://prdownloads.sourceforge.net/spamgourmet/spamgourmet_0.9.1.tar.gz">Download</a>
</td>
<td align="left">これは、メールを取り扱うためのコードと、データベースをセットアップするためのスクリプトです。</td>
</tr>

<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>AddressScrambler</b></td><TD>0.2.2</td>
<td>2003-02-12</td>
<TD>
<a href="http://prdownloads.sourceforge.net/spamgourmet/AddressScrambler_0.2.2.tar.gz">Download</a>
</td>
<td align="left">これは Yet Another な、Javascript ベースのツールで、アドレス自動収集ロボットにアドレスが収集されることを防ぎます。これは、静的なウェブページにも設置できます。簡単な "helper page" を使って、手軽に JavaScript を生成することができます。
</td>
</tr>


<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>vim/vi マクロ</b></td><TD></td>
<td></td>
<TD>
<a href="http://unixen.org/spamgourmet/vimrc" target="_new">Download</a>
</td>
<td align="left">
これは、<strong>メーラ</strong>に挿入するユニークな From: 要素を生成するための vim/vi マクロです。
このマクロは、メール作成時に、他と重複しない spamgourmet.com の使い捨てメールアドレスを用いた From を生成します。
さらに、この機能を使った後は<em>挿入モード</em>になるので、その場で送信先の ID を編集することができます。
時間を節約し、タイピングの手間を省き、忘れっぽくても大丈夫で、必要なときにすぐに呼び出して編集ができる優れものです。
</td>
</tr>



</table>
</td>
</tr>
</table>


<p> </p>
<p align="center"><font face="verdana,arial,helvetica"><a href="javascript:window.close();"></a></font></p>
</body></html>
