<html><head><title>spamgourmet - よくある質問</title>
<script language="JavaScript" src="stuff/js/AddressScrambler.js"></script>
</head><body bgcolor="#FFFFCC" onLoad="window.focus()">
<font face="verdana,arial,helvetica">
<p>Q. <b>spamgourmet は、どのようにして spam を止めるのですか?</b>
<br>A. 単純な仕組みです。届いたメールをすべて削除するだけです。

<p>Q. <b><i>本当に</i>、届いたメールを<i>すべて</i>削除するのですか?</b>
<br>A. 以下で述べるように、いくつかの例外がありますが、基本的に、削除するのです。</p>

<p>Q. <b>利用料はかかりますか?</b>
<br>A. はい、無料です。私たちが欲しいものは spam だけです。あなたが本来受け取る、たくさんの spam です (これは spam に関する統計をとるためなので、spam 自体は削除します)。</p>

<p>Q. <b>私に <i>spamgourmet</i> からメールが届くことになるのでしょうか?</b>
<br>A. いいえ、ありません。返信の必要なメールをお送りいただいた場合を除き、こちらからメールをお送りすることはありません。</p>

<p>Q. <b>このサイトはどのように収益を上げているのでしょうか?</b>
<br>A. <i>このサイトは営利を目的としていません</i>。 このサービスは、spam 対策に情熱を持った仲間たちによって開始された、非営利のサービスです。関心をお持ちの方は、<a href="<%thisscript%>?printpage=donate.html">寄付</a>・<a href="http://www.cafepress.com/spamgourmet">Tシャツやマグカップなどのグッズの購入</a>によって、ご協力いただけると幸いです。このサービスの運用には実はそれほどコストがかかっておりません。必要なときにサーバ代などを出してくださるという有志の方も、大勢名乗り出てくれました。ですので、運用によって金銭を得たり、投資していただいたりという必要はないのです。</p>


<p>Q. <b>spamgourmet は、私のアドレスに対して直接送られてくる spam をブロックしてくれるのでしょうか?</b>
<br>A. いいえ。spamgourmet は、あなたが作成した使い捨てアドレス宛に送られたメールのみを処理します。
使い捨てアドレス宛に送られたメールは、まずは spamgourmet に送られ、(破棄されなければ) あなたのアドレスに転送されます。あなたの普段使っているアドレスに対して送られたメールに対しては、spamgourmet は何の処理も行いません。
</p>


<p>Q. <b>使い捨てアドレスはどうやって作るのですか?</b>
<br>A. 簡単にお答えすると、「作る必要はありません」ということになります。使い捨てアドレスは自動で生成できます。もうすこし詳しくお答えすると、次のようなことです : アカウントをお持ちでない方は、まずアカウントを取得してください。そのときに、実際に普段使っているメールアドレスを登録します(<i>このステップが大事ですので飛ばさないように</i>)。登録したユーザ名は、おぼえておいてください。
使い捨てアドレスが必要になったら、何でもいいので任意の言葉 (英数字の組み合わせ、20字以内で、以前使ったことがないもの) を考えてください。そして、その新しいアドレスで何通までメールを受け取りたいか決めて下さい。そうしたら、「任意の言葉」と「受取上限回数」と「spamgourmet のユーザ名」をドットでつないでください。これが、新しいアドレスになります。
たとえば、ユーザ名が "spamcowboy" ならば、こんな感じの使い捨てアドレスになります:
<br><br>
   <i>someword.2.spamcowboy@spamgourmet.com</i><br><br>
そうしたら、このアドレスを、もしかしたらスパマーかもしれないサイトの登録確認メールの受け取り用に使います。相手は、指定した受取上限回数しか、あなたにメールを送ることはできなくなります。
<br><br>
このように、使い捨てアドレスを「作る」必要はないのです。使いたいときに、その場でひねり出せば OK です。最初に<i>使われた</i>ときに、spamgourmet のシステム上にそのアドレスが生成されるのです。<br><br>
<i>注: 2002年1月3日</i>
数字のかわりに、単語を使うことができるようになりました。「受取上限回数」の代わりに、その番号のアルファベットで始まる言葉を使うことができます(ただし、"sender" と "domain" の二語だけは、使えません)。
受取上限回数は、1回以上20回以下です。たとえば、
   iam.a.spamcowboy@spamgourmet.com<br>
というアドレスは、受取回数1回までの使い捨てアドレスとして使えます。"a" は、アルファベットの "1" 番目なので、"1回" という意味になるのです。さらに、<br>
   iwannabe.your.spamcowboy@spamgourmet.com<br>
というアドレスは、受取上限20回の使い捨てアドレスになります。"y" はアルファベットの "25" 番目ですが、20回以下という制限が適用されるので、20回として解釈されます。
</p>

<p>Q. <b>ユーザ登録をし、使い捨てアドレスを生成したのですが、<i>全く</i> このシステムからメールが転送されてきません。何か、おかしいのでしょうか?</b>
<br>A.
転送先アドレスでメールを受け取れる設定になっているか、ご確認ください。
転送先アドレスは、ログインすると画面の真ん中に表示されます。そこに表示されるアドレスに宛てて spamgourmet はメールを転送します。
正しく登録されていなかった場合は、修正して保存してください。

他の可能性として、使い捨てアドレスを渡した相手がまだそのアドレス宛に何も送っていないということが考えられます。
うまく機能しているかどうかは、自分で以下のようなアドレスにテストメールを送ってチェックすることができます。
<br><i>testme.3.yourusernamehere@spamgourmet.com</i>
<br>
他にも、転送先アドレスでメールを受け取るのに使っているソフトウェアの spam フィルタに引っかかってしまうということがよくあります。Inbox に届く前に、外部の spam 遮断機能によって届いていない場合もあります。そのような場合は、プロバイダに連絡をとってください。
Hotmail のユーザからは、しばしば、spamgourmet からのメールが転送されてこないという不満があがっています。この問題を解決するために、運営チームではいろいろな対策を講じていますが、Hotmail のシステム自体を変えることは、もちろん、できません。
<br>それでも問題が解決しない場合は、トップページに記載されている連絡先へ、メールでお問い合わせください。</p>

<p>Q. <b>ログイン状態が保持されません。簡易モードとアドバンストモードを行き来するなどの操作をすると、「ログインしていません」というメッセージがでてきます。どうすればいいでしょうか?</b>
<br>A.
ブラウザの Cookie 機能をご確認ください。spamgourmet は、セッションクッキー(ユーザのコンピュータに保存されません) を使って、ユーザの状態を保持しています。
ブラウザの設定で、spamgourmet のセッションクッキーを受け入れるようになっているか、ご確認ください。
最近のブラウザ (Internet Explorer の一部のバージョンも含む) では、デフォルトでセッションクッキーを受け入れないような設定になっていることがあります。
</p>


<p>Q. <b>ユーザ登録の際に、画像に含まれる文字を読むよう要求されました。こういうことをするのはサディストだからなんですか?</b>
<br>A. 私たちがサディズムを発揮するのは、スパマー相手のときだけです。
2004年1月から、ユーザ登録時には相手が「人間」であることを確認しています。これによって、スパマーが悪さをできなくなります。スパマー自身が「人間」であっても、スパマーが大量の ID を取得するために動いているのは、ただのスクリプトである場合が多いのです。スクリプトは、人間のように、画像の中の文字を読み取ることができません。</b>

<p>Q. <b>人間なんですけれど、視覚障害があるので画像の文字が読めません!</b>

<br>A. その場合は、お手数ですが、メールでご連絡ください。こちらで登録作業を行いますので、ご心配なく。宛先はこちら。<script language="JavaScript">writeMailTo('nsktExufrltzwrjy3htr');</script></p>



<p>Q. <b>使い捨てアドレスを削除することはできるのでしょうか。アドレス一覧が肥大化して、困っています。</b>
<br>A. アドレス編集画面で「隠す」のチェックボックスにチェックを入れることで、アドレスを非表示にすることができます。アドレスを本当に削除した場合すると、次にそのアドレス宛にメールが送信されたときに、再度そのアドレスが生成されることになります。</p>

<p>Q. <b>これで安心してウェブ上のあらゆるサービスに登録ができますね!</b>
<br>A. そうです。次の事をおぼえていてください : 普段使っているアドレスの変わりに spamgourmet のアドレスを登録することで、スパムに汚染されてアドレスがダメになってしまうことを防げます。ただし、spamgourmet のアドレスや、その他のアドレスを使って、各種サービスにスクリプトで大量に登録をすることは、詐欺などにあたります。また、そういった行為は spamgourmet の <a href="<%action%>?printpage=terms.html">利用規約</a>に反します。</p>

<p>Q. <b>サイトを作り直して、もっと使いやすいサービスにしてほしいです。</b>
<br>A. それも考えています。実際、このサービスは、メール配送の仕組みを知っていて、こうして FAQ を読むようなユーザ向けです。
このサービスは営利目的ではないので、サポートの負担はできるだけ軽くしたいのです。
実際、現状で、うまくいっています。ほとんどのユーザは、サポートを必要とせずにサービスを利用しています。
サポートがないと利用できないようなユーザは、そもそもこういったサービスに関心を寄せないのでしょう。サイトにギークっぽい雰囲気が漂っているからでしょう。
もちろん、「サポートに頼るな」というつもりはありません。FAQ を読んだ上でしたら、ご質問やバグ(と思しきもの)のご報告は、大歓迎です!
</p>

<p>Q. <b>メールアドレスに含まれている「受取回数」通りに、残り回数が減っていかないのですが。</b>
<br>A. 違う「受け取り回数」を含んだアドレスを既に使っているからではありませんか? それぞれの使い捨てアドレスに対して<i>最初に</i>メールが届いてから、システム内部で、ゼロまでカウントダウンされます。
「上限回数」は、最初に使い捨てアドレスが生成されたときに設定されるので、その後、別の「受取上限回数」を含んだ同一キーワードのアドレスを生成しても、「上限回数」は変更されないのです。
<i>ed. - 追記: これは本当は FAQ ではありません。実際にこういうご質問はいただいたことがありません。</i></p>

<p>Q. <b>「受取上限回数」には、制限はありますか?</b>
<br>A. 20までです。20よりも大きい数をメールアドレスに含んだ場合も、システム内部では20回として扱われます。
おそらく、この質問をされる方は、20回より多い回数の転送ができなくて困っておられるのでしょう。
そんなときは、「信頼する送信元」や「除外する送信元」などの機能を使えば解決できます。実際に上限20もしくはそれ未満として作ったアドレスでも、特定の相手からのメールは、いくらでも受け取れるようになります。
<br><br>
注記: <i>2001年6月8日から、すでに作ってある使い捨てアドレスの受取上限回数を変更できるようになりました。</i>
アドバンストモードに移動し、「閲覧」または「編集」のリンクをクリックしてください。新しいものから順に、アドレスが並びます。その中から、アドレスの頭についている「言葉」を選んで、「残り受取回数」を変更し、保存ボタンを押してください。
</p>

<p>Q. <b>なるほど、これで、面白そうな通販にも、ちょっと怪しいサービスにも、安心して登録できますね!
</b>
<br>A. もちろんです!</p>

<p>Q. <b>ちょっと待った! これだと spamgourmet の使い捨てアドレスの「言葉」と「数字」を 変えて、いくらでもメールを転送させることができるっていうこと?</b>
<br>A. とても頭のまわる方ですね。そんな方には、「かんたんモード」では足りませんので、「アドバンストモード」をおすすめします。ただし、そもそもそこで頭を悩ませて、より面倒なモードを使う必要があるかも、考えてください。スパマーの多くは、何千何万人ものメールアドレスのリスト、そのうち多くはおそらく普通に使われているであろうメールアドレスを収集したものを使って、spam を送りまくるものです。今のところ、あまり複雑なアドレスを解析し、改変するといった手法のプログラムを使うスパマーは、見かけません。
もし誰かがあなたのアドレスを解析して [<i>you</i>] というユーザ名を割り出し、たくさんの使い捨てアドレスを使うとしても、それでスパマーの得られる利益など知れています。
ただし、どうしても気になるのでしたら、「接頭語」や「キーワード」などの機能を利用してください。次のように、あなたの指定した接頭語やキーワードを入れたアドレスしか生成できなくなります。例 :
<br>
  <i>currentprefix.someword.4.spamcowboy@spamgourmet.com</i><br>
「接頭語」は、使い捨てアドレスを生成するときに送信者が把握しておかなければならない、パスワードのようなものです。
<br>「キーワード」も似たものですが、生成されるアドレスに<i>含まれていなければならない</i>という点が異なっています。
キーワードに合致しているかどうかは、正規表現 (正規表現について知識がなくれも大丈夫ですが) マッチングを行いますので、いろいろ工夫ができます。たとえば、キーワードに "rope" と "soap" を登録していたら、次のようなアドレスは、生成できます : <br>
  <i>saddlesoap.4.spamcowboy@spamgourmet.com</i><br>
  <i>ouch-ropeburn.4.spamcowboy@spamgourmet.com</i><br>
ただし、次のようなアドレスは生成できません : <br>
  <i>someotherword.4.spamcowboy@spamgourmet.com</i><br>
実際には、それほど頭を悩ませることもありません。当面は、簡易モードで十分ですし、少なくとも、接頭語やキーワードなどの機能以外のアドバンストモードが使えれば、十分です。このほうが簡単ですし、実際に誰かにユーザ名を悪用されたと判明した時点で対策を講じても、十分、間に合います。</p>

<p>Q. <b>「信頼する送信元」や「信頼するドメイン」を指定することはできますか?</b>
<br>A. はい。アドバンストモードでは、信頼する送信元アドレスまたは送信元ドメインをリストに登録することができます。ここで登録したアドレスやドメインから送られてきたメールは、すべての使い捨てアドレスで受け取ることができ、しかも、受取回数が減ることもありません。もちろん、<i>本当に</i>信頼できる相手なら、あなたの「本物の」アドレスを教えてあげたほうが便利でしょう。
この機能の使い道としては、送り主がスパマーでないことは信頼するものの、相手の使っているメールソフトが信用できないとか、ウィルスに感染している恐れがあるといった場合を想定しています。
</p>

<p>Q. <b>これで、使い捨てアドレスを使ってサービスに登録できるようになりました。それらの運営者からのメールを受け取り続けたいと思った場合は、「信頼する送信元」に登録すればいいという事でしょうか。</b>
<br>A. はい、そうです。受信したメールの "from" 欄のメールアドレスを、「信頼する送信元」として登録します。もしくは、"to" 欄にも同じアドレスを入れているようなメーリングリストの場合は、それを「除外する送信元」として使い捨てアドレスに登録してください。こうすることで、他の大勢の人からメールが寄せられるようなメーリングリストでも機能します。</p>

<p>Q. <b>そのアドレスを最初に使った送信者からはいくらでもメールを受け取り続け、それ以外から送られてきたメールは全部食べてしまうというようなことは、できますか?</b>
<br>A. はい。しかし、この設定には注意が必要です。もしかすると、その「最初に使った送信者」が、あなたの意図しないアドレスかもしれないからです。たとえば、こんなアドレスを相手に伝えたとしましょう :
<br>    <i>someword.+.spamcowboy@spamgourmet.com</i>
<br>もしくは  <i>someword.sender.spamcowboy@spamgourmet.com</i>
<br>こうした場合、このアドレスに宛てて最初にメールを送ったアドレスをシステムが記録し、「信頼する送信元」以外からのメールがそのアドレスに届いた場合は、すべて食べてしまいます。
さらに、こういったアドレスを使うことができます :
<br>    <i>someword.*.spamcowboy@spamgourmet.com</i>
<br>または  <i>someword.domain.spamcowboy@spamgourmet.com</i>
<br>すると、システムは、最初にこのアドレス宛に送ってきた送信元の<i>ドメイン</i>を記録し、「信頼する送信元」以外からのメールがそのアドレスに届いた場合は、すべて食べてしまいます。
<br><br>ただし、次のことにはどうか留意してください。
私たちの関係者のひとりが、この方法を使って、少し危ないサービスに登録しました。すると、最初のメールが「オプトイン」のスパマーから届いたのです。そのため、彼は、その後にサービスの運営者から来る重要なメールを受け取れなくなってしまいました。こういったトラブルにつながりやすいので、この機能をメインページで紹介することは控え、この FAQ にのみ記載してあります。
<br><br>2001年6月8日、各使い捨てアドレスの「閲覧・編集」をクリックすることで、「除外する送信元」を登録できるようになりました。この機能を使うことで、生成した使い捨てアドレスをいつでも「ロック」することができます。この機能は、「信頼する送信元」と似たような機能ですが、特定の使い捨てアドレスに対してしか送れないという点が異なります(「信頼する送信元」に加えたアドレスやドメインからは、すべての使い捨てアドレスに対してメールを送れるようになります)。また、特定のメーリングリストの "to" に常に使われるアドレスについても、同じようなことができます。もちろん、ここには使い捨てアドレスそのものは入れてはいけません。そうすると、誰からでも無制限にメールが送れるようになってしまいます。</p>

<p>Q. <b>転送先メールアドレスの確認をしないと登録ができないのはなぜですか? この作業は、2001年12月10日までは、必要なかったのですが。</b>
<br>A. 新機能についての議論において、"lj" さんからこのような提案があったのです :
<pre>
mmmm...perhaps add a confirmation of some
kind when a forwarding address is changed?

I could sign up for a hundred mailing lists in
digest mode to go to one SG address. I could then
reply to each opt-in confirmation forwarded
to me to verify the address.

Then I could go back to spamgourmet and change
the forwarding address to someone else's email.

I would only have to reply to the confirmations
for digest mode, while the victim would get all
the big emails once I changed the forwarding address.

lj
</pre>
こういう経緯で、2001年12月10日に、転送先メールアドレスの変更手順が変わりました。
変更先アドレスに含まれている URL をクリックするか、ブラウザの URL 欄にペーストする必要があります。
すでに登録されているアドレスについては、改めて確認を行う必要はありません。
</p>



<p>Q. <b>2001年3月3日にトップページのカウンターの数が大幅に減少したのはなぜでしょうか?</b>
<br>A. それは、初期に負荷テストなどを行ったときのメールやユーザの数を引いたからです。
新しい数字のほうが、転送されたメール・削除されたメールの数を正確に表しています。
こうした情報を出すことで、興味深い統計情報やグラフを得ることができますし、私たちもそれを使っています。
</p>


<p>Q. <b>私は、知らない人からもメールが受け取れるよう、不特定の人が見られる場にアドレスを晒しています。しかし、スパマーの走らせているアドレス収集プログラムには捕捉されたくありません。何か対策はとれるでしょうか。</b>
<br>A. "20通" くらいの、大きな受取上限数を設定した使い捨てアドレスを公開するのがおすすめです。これくらいの数に設定しておけば、普通のアドレスで返事を出すか、もしくは相手を「信頼する送信元」に加えるまでのやりとりに使う仮のアドレスとして、十分でしょう。一般の人からのメールを<i>無制限に</i>普通のアドレスに転送したい場合には、この方法はとても便利です。
[<b>注記</b> 2001年6月9日からは、受取上限回数に達する前に、受取回数を「リセット」することができるようになりました。これは、それ以前に作成した使い捨てアドレスに対しても有効です。]
しかし、他にももっと簡単な手段がとられているのを見かけます。たとえば "_nospam_" のように、余計な文字列を追加したものをサイトに公開し、そこに「メールを送る場合には、この文字列を左右所したアドレスを使ってください」などと書いておくというものです。スパマーの使っているアドレス収集ロボットは、日に日に小賢しくなってきますが、この方法はまだまだ有効です。
spamgourmet のユーザは、この技と spamgourmet を合わせたような技を使っています。spamgourmet のアドレスを書いておき、さらに「接頭語」を一緒に書いておくというものです。この方法は spam 対策としては非常に有効です。
<br><br>
あなたがウェブサイトの運営者なら、アドレス乱獲者から大切なアドレスを守れるように、AddressScrambler のようなツールを使うのもおすすめです。このソフトウェアは、spamgourmet の「ダウンロード」ページから入手することができます。</p>

<p>Q. <b>ユーザ名には何文字まで使えますか?</b>
<br>A. 20文字までです。ドット(".")を含めることはできません。</p>

<p>Q. <b>「接頭語」には何文字まで使えますか?</b>
<br>A. 20文字までです。こちらも、ドットを含めることはできません。</p>

<p>Q. <b>バージョンがあがったらユーザ名にドットを含められるようになるという予定はありますか?</b>
<br>A.
いいえ。今後、ユーザ名にドットを含められるようにすることはありません。
<i>ただし、同様のサービスを自ら運用する場合には、小さな変更で、ドット以外の文字を使うことができます。トップページから spamgourmet のコードをダウンロードすることができます。
セットアップ時には、"info contact" を書いてください。独力で設置する場合には、特に "info contact" を書いてください。現在 (2004年1月28日時点)、ドットの代わりにチルダ (~) を使うことができます。ただし、この場合は、ユーザ名にチルダを含められなくなります。
</i></p>

<p>Q. <b>パスワードを忘れてしまいました。送ってほしいのですが?</b>
<br>A. セキュリティ上、それはできません。パスワードはすべて一方向暗号化して保存しているので、運営者はパスワードを知ることができず、お教えすることもできません。以下のどれかの方法を使ってください。<br/>
a) パスワードリセット機能を使う<br/>
b) 新しいアカウントを作成する<br/>
c) トップページの "info" 宛にメールで問い合わせる<br/>
もしも "info" 宛に送って、事情を説明してくだされば、私たちはパスワードをリセットするか、新しいものを発行するかで、対応できるでしょう。
もし、ユーザ名も失念してしまった場合は、新しいアカウントを作成するか、「本当の」アドレスを使って "info" 宛にメールを送るかしてください。</p>

<p>Q. <b>今までに作成したすべての使い捨てアドレスを見たいのですが?</b>
<br>A. アドバンストモードの画面の真ん中あたりに、検索ボックスがあります。ここで、使い捨てアドレスを検索することができます。検索ボックスをからにして検索すると、「隠した」ものを除き、すべての使い捨てアドレスを表示することができます。
2001年２月以降、「言葉」と「転送回数」だけでなく、メールアドレス全体を記録するようになりました。</p>

<p>Q. <b>spamgourmet をメール送受信のためのサーバとして使ってもいいでしょうか?</b>
<br>A. そのような使い方はご遠慮ください。</p>

<p>Q. <b>食べられたメールを復活させることはできますか?</b>
<br>A. いいえ、メールを「食べる」ときは、ディスクに保存しません。spamgourmet を、重要性の高い目的には使わないことをおすすめします。メールを「揮発」させる理由は以下の通りです。<br/>
a) サービスを維持し、無料で提供し続けることが最も重要である<br/>
b) 「食べた」メールをすべて保存していると、ユーザが毎回訪れてわざわざ<i><b> spam を読む</b></i>羽目になるなり、これは spam を読まないですむというこのサービスの目的に反するからです。目的に応じて、普通のメールと、spamgourmet を使い分けてください。</p>

<p>Q. <b>うっかり、以前すでに使い捨てアドレスとして使ったことのある「言葉」を使ってしまった場合はどうなるのでしょうかい?</b>
<br>A. ひとつの「言葉」に対してひとつの使い捨てアドレスしか作成することができません。以前使ったことのある言葉を使った使い捨てアドレスに対してメールを送った場合、最初にそれを使ったときに設定され、その後カウントダウンされていく「転送回数」が適用されます。残り転送回数がゼロになっていた場合は、そのアドレスで新たにメールを転送することはできません。
</p>

<p>Q. <b>spamgourmet.com 以外のドメインは使えないのでしょうか?</b>
<br>A. 使えます。 spamgourmet.net, spamgourmet.org, spamcannon.net, antichef.com, antichef.net, neverbox.com, recursor.net, dfgh.net, spameater.org, xoxy.net  も、spamgourmet.com と同様に使うことができます。
お好きなもの・覚えやすいものをお使いください。
<br><br>
<i>注記 : 2002年1月3日</i> さらに、転送回数をあらわす数字の代わりに、その番号のアルファベットを使うことができるようになりました(前記の通り)。この表記と、spamgourmet.com 以外のアドレスを使うことによって、使い捨てアドレスであることがよりバレにくいものが生成できるようになりました。
</p>

<!--
<p>Q. <b>それなら、余らせているドメインを spamgourmet で使ってもらいたいです。どうすればいいでしょう?</b>
<br>A. 最も良い方法は、お使いの ISP を設定し、ユーザ名@spamgourmet.com に転送するように設定することです。たとえば、sendmail の場合はこのような一行を設定ファイルに加えれば OK です :
<pre>@youridledomain.com    %1@spamgourmet.com</pre>
これを virtusertable ファイルに書き加えます。
他の方法として、そのドメイン宛のメールをすべて spameater@spamgourmet.com に転送することです。ただし、spam が大量に届くようになってから、普通のメールサービスをホスティングするように戻した場合は、メールサーバが悲惨なことになる可能性があります。
 <i>注記 : 長い間、新しいドメインをそのように設定した場合、私たちに連絡することはお願いしていませんでした。
しかし、使えるドメインをこちらの設定に加えないといろいろと問題が発生するので、今後、新しいドメインを提供してくださる場合は、メールで連絡してください。こちらの設定に追加します。すでに設定の済んだドメインがありましたら、それもどうかお知らせください。設定に追加します。</i></p>
-->


<p>Q. <b>バグの報告や、機能に関する提案は、どうしたらよいでしょうか?</b>
<br>A. ディスカッションフォーラムに参加する(推奨)か、メールを <script language="JavaScript">writeMailTo('nsktExufrltzwrjy3htr');</script> に送ってください。情報はできるだけ詳しく書いてください。
貴重な提案は、決して食べたりしません。</p>

<p>Q. <b>新しい機能などは知らせてもらえますか?</b>
<br>A. 多分、ありません。望まれないメールを送ることは、spamgourmet の倫理観に反します。
もしも、新機能のおしらせメールについて需要がたくさん出てきたら、もしかすると、あくまでオプトインの形でそのようなメールをお送りするようになるかもしれません。</p>

<p>Q. <b>ソースコードは手に入りますか?</b>
<br>A. もちろんです! 私たちは、 <a href="http://sourceforge.net/projects/spamgourmet" target="_new">sourceforge のプロジェクトページ</a> で、ソースコードをフリーで公開しています。自由にデプロイ・インストール・設定ができるようになっています(簡単というわけではありませんが)。興味をお持ちの方は、トップページの "info" 宛にメールをください。プロジェクトメンバーは、いつでも募集中です。ドキュメント書きやコーディングをするメンバーが必要です。このシステムをもっと自由にデプロイ・インストール・設定できるものへと改善していくために。</p>

<p>Q. <b>このサービスに使われているプラットフォーム・データベース・言語を教えてください。</b>
<br>A. 現行システムでは、以下のものを使っています : ウェブサイトとメールハンドラには Perl、データベースには MySQL、メールサーバには sendmail、ウェブサーバには Apache、OS には Linux を使っています。
これらのすべてが必要というわけではありません。他のプラットフォームで動くようなバージョンも開発する予定です。</p>

<p>Q. <b>この便利なシステムを友達にも教えてあげたいです!</b>
<br>A. 次のようなテキストをコピーして、アドレス帳の友達全員に3回ずつ貼付けて送るといいぜ! <br>
<pre>-------ここから-------
ども。君のところの犬の話は残念だったね。で、ちょっといいサービスを見つけたよ!
「スパム・グルメ」っていうんだ。このリンクをとりあえずクリックするといい。
→ http://www.spamgourmet.com
これ凄い。マジ凄い。使い捨てアドレスとか、spam フィルタリングとかができる。
登録したら、あとは放置プレイでOKらしい。設定とか不要。もちろん無料。
他の人にもちょっとこれは広めて来るよ。じゃね。
-------ここまで--------</pre>
<br>[もちろんネタなので <i>もうちょっとマトモな文面を考えてね。</i> ]<br>

<p>Q. <b>"spam" の名称を使うことで Hormel Food 社に訴えられたりしませんか?</b>
<br>A. ありません。少なくとも、現時点では、そういったことは起こっていません。Hormel 社は、ジャンクメールを表す言葉として積極的に小文字の "spam" を認めています。これは大文字にすると商標名のほうのスパムのことになるので注意が必要ですが。
<a href="http://www.spam.com/ci/ci_in.htm" target="_new">ここ</a> をクリックすると、詳しい話が読めます。</p>

<p>Q. <b>実はユーザのメールアドレスをスパマーに売ってるんじゃないの?</b>
<br>A. それは決していたしません。私たちも、スパマーに悩まされる普通のユーザなのです。</p>

<p>Q. <b>どこかに買収されて、ユーザの情報を売ってしまう可能性は?</b>
<br>A. うーむ、そうですね、このユーザ一覧の商品価値を考えてみます。性別も、郵便番号も、年齢も、有用な個人情報は何も持っていません。</p>

<p>Q. <b>確かに、ユーザとメールアドレスのリストを売るつもりはないと理解しました。でも、超怪力で超ガチムチでアタマのイカレたスパマーが皆さんに襲いかかって、パンツとデータベースを強奪していき、忌々しいユーザたちに復讐すると宣言し…(中略)…なんてことがあったら、どうなるのでしょう。</b>
<br>A. そんなことが実際にあったら、それは、とことんツイていないとしか言いようがありません。</p>

<p align="center"><a href="javascript:window.close()">閉じる</a></p>

</body></html>
