<p><font size="+2">
How spamgourmet works
</font></p>

<p>
If you give your email address to everyone, you are bound to receive spam emails, and you won't know where they came from. Wouldn't it be convenient to give a different email address to every business or web site, while getting all your email as before?  Wouldn't it be easiest to <i>assume</i> the address will be given to spammers, and have it shut off automatically unless you decide otherwise?</p>

<p>
That's exactly what spamgourmet offers! There is nothing to install on your computer, and <i>once you're set up, it's likely you won't ever have to come back here.</i>  This is what makes spamgourmet one of the most convenient and effective ways to avoid spam.</p>

<p>Arm yourself against spammers in three easy steps:</p>

<p><b>1.</b>
If you haven't done it yet, create a spamgourmet account.
<!-- CHANGE syskoll 2004-02-07 16:13:51 -->
Enter your user name and your forwarding email address.  You will be asked to identify the word in a picture and pick a password.</p>
<!-- END CHANGE syskoll 2004-02-07 16:13:51 -->
<p><b>2.</b>
Spamgourmet will forward to this address all the emails sent to your spamgourmet disposable addresses -- hence the name <I>forwarding address</i>. Of course, this forwarding address must exist. That's why you have to confirm it. You'll receive an email asking you to confirm.</p>

<p><b>3.</b>
After you have confirmed your forwarding address, you can give out self-destructing disposable email addresses whenever you want. The disposable addresses are like:</p>

<p align="center"><i>someword.x.user</i>@spamgourmet.com</p>

 <p>where <i>someword</i> is a word you have never used before, <I>x</i> is the number of email messages you want to receive at this address (up to 20), and <I>user</i> is your username.</p>

<p>For example, if your user name is "spamcowboy", and BigCorp wants you to give them your email address (on the web, on the phone, at a store - it doesn't matter), instead of giving them your real address, give them this one:</p>

<p align="center">frombigcorp.3.spamcowboy@spamgourmet.com</p>

<p>This disposable email address will be created here <i>the first time BigCorp uses it</i> (you don't have to do anything to create it), and you'll receive at most 3 messages, forwarded to your forwarding address. The rest will be indelicately consumed.</p>

<p>If you want more options, choose the "advanced mode" tab above.</p>
