<p><font size="+2">
spamgourmet とは?
</font></p>

<p>
不特定の相手にメールアドレスを知らせると、だんだん spam メールを大量に受け取るようになります。しかも、その spam メールがどこから送信されてくるか、見当もつきません。<br>そんなとき、業者ごと・サイトごとに別々のアドレスを使えれば便利ではないでしょうか。メールアドレスは spam 業者に渡ってしまうことを<i>前提</i>とし、受け取りたくないメールは自動的にブロックしてしまうのが簡単ではないでしょうか。</p>

<p>
それがまさに spamgourmet の提供するサービスです。インストールは不要。<i>一度登録をしたら、このサイトに戻ってこなくても利用し続けられます。</i>spamgourmet は、最も簡単で高性能な spam 対策ツールとして、世界中で愛用されています。</p>

<p>spam から身を守る方法は簡単。以下の通りです :</p>

<p><b>1.</b>
アカウントをお持ちでない方は、新しく取得してください。
<!-- CHANGE syskoll 2004-02-07 16:13:51 -->
ユーザ名と、保護したいメールアドレスを入力してください。ここでは、パスワードを登録し、歪んだ文字の画像を読みとって入力する必要があります。</p>
<!-- END CHANGE syskoll 2004-02-07 16:13:51 -->
<p><b>2.</b>

spamgourmet の使い捨てアドレスに届いたメールは、登録したアドレス (<i>転送先アドレス</i>) に転送されます。これを「転送先アドレス」と呼びます。このアドレスを他人に教えなくて済むようになります。もちろん、それは実在のアドレスでないといけないので、確認メールを受け取って本登録を済ませる必要があります。</p
<p><b>3.</b>
登録確認が済んだら、自動で破棄される使い捨てアドレスをいつでも使えるようになります。使い捨てアドレスは、以下のような形式です :</p>

<p align="center"><i>任意の文字列.x.ユーザ名</i>@spamgourmet.com</p>

 <p>"<i>任意の文字列</i>" の部分は、一度も使ったことのない文字列にしてください。"<i>x</i>" (省略可能) は、このアドレスから転送先アドレスに送られるメールの上限 (上限20通、未記入だとデフォルトの3通になります) です。"<i>ユーザ名</i>" は、あなたのアカウント名です。</p>

<p>たとえば、ユーザ名が "spamcouwboy" で、BigCorp 社にメールアドレスを教える場合 (Web
上でも、電話でも、店頭でも、どんな場合でもOKです) 、転送先アドレスの代わりに次のようなアドレスを教えましょう :</p>

<p align="center">frombigcorp.3.spamcowboy@spamgourmet.com</p>

<p>この使い捨てアドレスは、<i>BigCorp 社がこのアドレス宛てのメールを送信したとき</i>にはじめて生成されます(生成に特別な手続きは必要ありません)。すると、3通を上限として、あなたの転送先アドレスに転送されます。それ以上のメールが送られてきても、システムが破棄します。</p>

<p>さらに詳細を設定したいときは、「アドバンストモード」タブをクリックしてください。</p>