<html><head><title>spamgourmet のニュース</title>
<script language="JavaScript" src="/stuff/js/AddressScrambler.js"></script>
</head>
<body bgcolor="#FFFFCC" onLoad="window.focus()" topmargin=0 bottommargin=0>
<font face="arial, helvetica" size=3 color="#000000">
<b>ここにspamgourmet のための新しい特徴, 等の丸太はある。これらがオンラインで来るようにうまく行けば, faq はまた更新される。</b>

<p><b>2002-07-31</b>: 私はアドバンス・モードへ最後の5 つの食べられたメッセージに ついてのインフォメーションのリストを加えた。うまく行けばま たそれらのブラウザーのためのグラフの表示を不具にすることに よってMacOS 9 とIE5 の問題を固定した。 </p>

<p><b>2002-06-18</b>:
 コメントが私にそれを実現させるユーザーが余分だった後私はサービスへの最近の変更のライトの使い捨て用品のリストから" 接頭辞" のコラムを, 取除いた。  
</p>

<p><b>2002-04-27</b>:それが* 新しい住所の…のために関連しているだけ* 作成ように私はどのメッセージの促進よりspamgourmet の接頭辞の機能でも , むしろ変えた。新しい住所を作成する為のパスワードのように働くのでこれがより有用, 直観的であることを私は信じる, 。あなたがあなたの接頭辞を変えたら, あなたがある住所のメッセージすべてを消したのはそれは働くのが常であったからである…あなたが行き, website のあなたのある住所を編集し, あなた自身を離れて締められた従って少しに感覚を今する前にこれはあった。とにかくあなた以外の人々はあなたの記述のための新しく使い捨て可能な住所の上で考えていることをあなたが考えれば, 接頭辞は理想的今である。あなたは接頭辞を加えるか, または変えることによって冷たいそれらを停止できる。 </p>



<p><b>2002-03-23</b>:
私達はユーザーを追求する新しい住所覆う特徴をテストしたい。ユーザーの応答がspamgourmet を通って送り主へまっすぐに行くかわりに来るようにシステムは各々の進められたメッセージを変更する。システムはユーザーの実質のリターンアドレスの特定の使い捨て可能な住所を代わりにする。あなたがテストを助力に興味があったらあなたの記述がセットアップされることができるようにあなたのusername 及び転送先を備えた
<script language="JavaScript">writeMailTo('nsktExufrltzwrjy3htr');</script>  へメッセージを送りなさい喜ぶために。ずっと最初のテストはよいが, 私達はあなたの助けが問題を識別することを必要とする。 
</p>

<p><b>2002-03-07</b>:あなたは調査スクリーンに眺めから今使い捨て用品を" 隠す" ことができる。あなたのリストに大きくなったり, それでがらくたの多くがあればこれは素晴らしい(私の物のように) 。あなたが" 隠された" 使い捨て用品を見る必要があれば公正な点検は調査ボタンの隣で" 隠れるショー" 箱に演説し, 調査をする。 </p>

<<p><b>February 24, 2002</b>: Over the next few days/weeks, non-English versions of the website will appear.  As a language becomes ready, you will see it appear in the language list under the login form.  
Our initial goals include German, Spanish, Japanese, and Chinese.  I am mostly using <a href= "http://babelfish.altavista.com" target="_new">Babelfish</a> 
to do the translations, then cleaning them up with the help of friends and hecklers.  
Special thanks to Jochen Schönfeld for doing the German translation.
<br><br>If you speak English and Japanese ... *help*!

<p><b>February 12, 2002</b>: I've fallen way behind updating the page of links
back to sites that have linked to spamgourmet.  I accidently deleted a bunch of
web access logs -- this is what I normally use to identify such sites, so if I
miss yours, that's probably why, and I'll pick it up as soon as someone clicks 
through again.  THANKS to everyone for the links.</p>

<p><b>January 3, 2002</b>: Just added a feature that lets you use a word instead of a number in a disposable, if you like -- the system will take the [English] alphabetic postion of the first letter of the word, and use that for the number.  Remember that the words 'sender' and 'domain' are special, though, and don't work this way.  Anyway, now if you give the address:
<pre>Chunky.the.spamcowboy@spamgourmet.com</pre>
An address will be created that is good for 20 messages since the 't' in 'the' is the 20th letter in the English alphabet. Likewise, 
<pre>Stephen.F.Austin@spamgourmet.com</pre>
would be good for 6 messages, since 'f' is the 6th letter of the English alphabet.  The limit to 20 still applies, so if you use a letter 'greater' than 'T' (like 'U'), the number will be set to 20.  If the system gets a character that's not a letter, and not '+' or '*' (analogous to 'sender' and 'domain', respectively), it will use a default of 3 messages.</p>

<p><b>December 31, 2001</b>: By the way, a few days back the spamgourmet project got approved for IBM's Linux Community Development System and got space on the big ZSeries.  Yay!</p>

<p><b>December 30, 2001</b>: v0.2 of AddressScrambler was released on SourceForge.net.</p>

<p><b>December 30, 2001</b>: I got sick of getting my email address harvested off web pages (and even getting spam from folks who had harvested it, offering to solve the problem), and threw
together some javascript that writes mailto: tags to the page using scrambled address text. This way, the harvester bots won't see an email address unless they have a javascript compiler...  It's currently called AddressScrambler, and version 0.1 is available from the <a href="http://www.sourceforge.net/projects/spamgourmet" target="_new">sourceforge project</a>. 
I'm using it for all the info mailto tags 




(like <i>this one</i>: <script language="JavaScript">writeMailTo('nsktExufrltzwrjy3htr');</script> - view source on this page and see for yourself)



, and on a couple of other websites.  
V 0.1 has no docs, so you might do well to wait for 0.2, at least.  
I'll also be providing at least a Perl server side component, and probably a custom JSP tag, too.  
Anyone who wants to write server side components for other environments (ASP, PHP), etc., please email me.  Yes, I know this is kind of tangential to the main spamgourmet codebase, but it seemed related enough to be included in the project.</p>

<p><b>December 14, 2001</b>: We're down to just a handful of users who remain affected by the confirmation bug.  Again, if you're not receiving any mail, log in, input your forwarding address, save and confirm, and everything should work.  Please send email to <script language="JavaScript">writeMailTo('nsktExufrltzwrjy3htr');</script> if you have any troubles.</p>

<p><b>December 13, 2001</b>: <font size=4>IF YOU SIGNED UP BETWEEN DECEMBER 10TH AND 12TH, 2001, AND ARE NOT RECEIVING MAIL you may need to reconfirm your forwarding address</font> -- 
my sincerest apologies for those of you with fairly long addresses -- a bug in the confirmation system (hastily installed on the 10th) may have truncated it when it was confirmed.  
The problem is fixed now, and a reconfirmation will remedy your situation if your address was truncated.  
I'm going through and fixing the obvious ones by matching the partial address by time and host with the confirmation click through -- but not too many are obvious...  
The confirmation code was totally separate from the core service code, which continues to function normally.  Again, please accept my apologies and thanks for signing up.  If you have any difficulties related to this, send mail to <script language="JavaScript">writeMailTo('nsktExufrltzwrjy3htr');</script> and I'll do whatever I can to help.</p>

<p><b>December 12, 2001</b>: Fixed, hopefully, a bug that was preventing Netscape users from confirming their email addresses.</p>

<p><b>December 10, 2001</b>: Well, it was only a matter of time before someone pointed out the potential for an ill-willed spamgourmet user to sign up for a bunch of lists, confirm, then change the forwarding address to someone else's (an <i>unspeakable</i> thing to do).  
This was 'lj' on the SourceForge discussion group.  At lj's suggestion, I <b>added a confirmation requirement for your spamgourmet forwarding address</b>. That is, before a forwarding address will become active, you must click on the link that was emailed to it.  
Thanks a lot lj! -- of course, better to talk about it than to do it. And, yes, this is why I also registered the domain 'spamcannon.net' awhile back.</p>

<p><b>November 8, 2001</b>: Fixed a reported bug that allowed some spam to get through <gasp!>.  Also, added some new graphs that show average spam by weekday (Wednesday is the worst spam day as of this writing) and total cumulative users versus spam on Wednesdays.  Both show six month trailing data.</p>

<p><b>October 5, 2001</b>: Added some searching and sorting features to the list of addresses (available in advanced mode),
 and added a link to provide the list of addresses in XML format.</p>

<p><b>August 24, 2001</b>: DNS host transfer has completed for the seven domains, and normal service has resumed.  Again, sorry for the inconvenience.</p>

<p><b>August 22, 2001</b>: The DNS hosting for spamgourmet.org, spamgourmet.net, spamcannon.net, antichef.com, antichef.net, neverbox.com, and recursor.net is currently in transition, which means these domains will be in limbo for a day or so.  
The old hoster somehow lost the forwarding rules, which meant the domains weren't working.  Rather than take another shot with the old hoster, we moved the domains.  
Sorry for the inconvenience.  Spamgourmet.com as a domain will continue to function normally during this period.</p>

<p><b>July 14, 2001</b>: We're testing a new feature that lets you get your spam forwarded to an alternate email address, instead of it getting obliterated.  Email info with comments or if you're interested in participating.  Advantages: you don't lose any email.  Disadvantages: you'll probably see spam, more load on server, potential for abuse (by using someone else's address, but who would do something so unspeakable?).</p>

<p><b>July 14, 2001</b>: Various internal code improvements and documentation that bring the code closer to open source release -- let's face it: there's no better motivator for clean, commented code than the possibility that other people might look at it.</b>

<p><b>June 9, 2001</b>: You can now edit your addresses to change the number of messages remaining (0 to 20) and add/edit/delete the 'exclusive sender' record for the address.</p>

<p><b>May 12, 2001</b>: Added a popup in advanced mode for you to view all your addresses.</p>

<p>
<b>February 25, 2001</b>: Began storing a complete copy of each new address, rather than simply storing the word, userid, number of messages, etc.  This will be useful at some point when you want to go back and view all your addresses.
</p>

<p>
<b>January 28, 2001</b>: Added 'exclusive sender' functionality: you can now give an address in the form of 'word.+.username@spamgourmet.com' or 'word.sender.username@spamgourmet.com' and the first sender on that address will be allowed to use it indefinitely.  Likewise, you can give an address in the form of 'word.*.username@spamgourmet.com' or 'word.domain.username@spamgourmet.com' and anyone from the first sender's domain will be allowed to use the address.
</p>

<p align="center"><a href="javascript:window.close()"><font color="#000000">close this window</font></a></p>

</body></html>
