<html><head><title>spamgourmet - frequently asked questions</title>
<script language="JavaScript" src="stuff/js/AddressScrambler.js"></script>
</head><body bgcolor="#FFFFCC" onLoad="window.focus()">
<font face="verdana,arial,helvetica">

<!-- ------------------------------------------ -->
<!-- 3.1 2004-11-03 proofreading by SysKoll ?   -->
<!-- 2.2 2004-10-29 modif proofreading SysKoll  -->
<!-- 2.1 2004-10-28                             -->
<!-- 1.1 2004-10-19                             -->
<!-- translation > traduction Octobre 2004 JFB  -->
<!-- ------------------------------------------ -->

<p>Q. <b>Comment faites-vous pour bloquer les spams?</b>
<br>R. C'est très simple :
on détruit tous les e-mails qui vous sont destinés.
</p>

<p>Q. <b>Vous faites <i>vraiment</i> ça ?</b>
<br>R. Presque.
Rassurez-vous, on ne détruit quand même pas tout.
Lisez la suite et vous allez comprendre.
</p>

<p>Q. <b>Est-ce que spamGourmet est gratuit ?</b>
<br>R. <u>Oui</u>. On ne vous demandera pas 1 centime.
Tout ce qu'on veut c'est supprimer le spam.
Nous conservons des statistiques mais pas le spam, qui est détruit.

</p>

<p>Q. <b>Est-ce que vous allez m'envoyer des e-mails ?</b>
<br>R. Non. Sauf bien sûr si c'est vous qui entrez en contact avec nous.
Dans ce cas, quelqu'un de l'équipe vous répondra. Probablement.
</p>

<p>Q. <b>Comment faites-vous pour gagner de l'argent avec ce service ?</b>
<br>R. <i>On n'en gagne pas !</i> C'est pas le but !

<br>SpamGourmet a été créé parce qu'il y a du spam ... et des spammeurs.
<br>Et les spammeurs... on déteste ces gars là.
<br>Si vraiment notre cause vous motive,
<a href="<%thisscript%>?printpage=donate.html">donnez des sous</a>,
<a href="http://www.cafepress.com/spamgourmet">achetez un t-shirt, etc...</a>.
<br>Ou tout simplement utilisez spamGourmet.
<br>Pour tout vous dire, ça ne coûte pas si cher que ça à faire marcher,
et puis il y a déjà plein de monde
pour payer l'hébergement de sites web supplémentaires, si besoin était.
Personne n'a mis d'argent dans spamGourmet, et personne n'attend de faire fortune avec.

<br>Si vous souhaitez en savoir plus sur ce sujet, et en débattre,
<a href="http://bbs.spamgourmet.com/viewtopic.php?t=313" target="_new">bienvenue dans ce forum (in English)</a>
</p>

<hr>

<p>Q. <b>Est-ce que spamGourmet va bloquer les spams
envoyés directement à mon adresse e-mail personnelle ?</b>
<br>R. Non, ça ne marche pas comme ça.
SpamGourmet n'intervient qu'à partir du moment où

la personne qui vous écrit utilise
une des <b><i>adresses jetables</i></b> que vous lui avez fournie.
Dans ce cas, le message arrive d'abord chez spamGourmet.
<br>
Puis, suivant les cas -- nous y reviendrons --,
le message vous est retransmis par spamGourmet.
Rappelez-vous : si quelqu'un envoie un message directement
sur votre adresse e-mail personnelle,
spamGourmet n'entre pas en jeu.
</p>

<p>Q. <b>Comment fait-on pour créer des <i>adresses jetables</i> ?</b>
<br>R. Vous n'avez pas vraiment à les créer.
C'est spamGourmet qui s'en charge, dès qu'elles sont utilisées.

</p>

<p>Q. <b>D'accord mais c'est quoi ces adresses ?</b>
<br>R. D'abord, si ce n'est déjà fait, vous devez ouvrir un compte chez spamGourmet.
<br>Vous disposez alors d'un nom d'utilisateur spamGourmet.
Ce nom d'utilisateur, c'est comme un <b><i>PSEUDO</i></b>,
il vous est strictement personnel.
Vous <u>devez</u> l'utiliser à chaque fois pour composer vos adresses spamGourmet.

<br>
<br>Ensuite, vous aurez besoin de 2 autres ingrédients
pour générer vos adresses :
<li>un <b><i>MOT</i></b> (20 caractères maximum, il peut contenir des chiffres).
N'importe quel mot fait l'affaire
du moment que vous ne l'avez encore pas utilisé.
Pas de caractères accentués !
<li>le <b><i>NOMBRE</i></b> maximum de messages que vous acceptez de recevoir sur cette adresse.
Ce nombre doit être compris entre 1 et 20. 20 c'est le maximum.

<br>
<br>Mettez dans le bon ordre ces 3 ingrédients,
<br>séparez avec des points, et votre adresse est prête :
<br><b><i>unMOT.leNOMBRE.votrePSEUDO@spamgourmet.com</i></b>
<br>
<br>vous voulez une autre adresse ?
<br><b><i>autreMOT.autreNOMBRE.votrePSEUDO@spamgourmet.com</i></b>
</p>

<p>Prenons un petit exemple, si vous voulez bien :
<li>votre pseudo spamGourmet est, disons, "<b><i>filoute</i></b>".

<li>on vous demande une adresse e-mail
pour vous inscrire sur un site consacré au cinéma;
vous choisissez le mot "<b><i>cine</i></b>"
(Évitez les caractères accentués).
<li>vous n'aurez besoin de cette adresse qu'une seule fois (<b><i>1</i></b>).
<br>
<br>Par conséquent, donnez cette adresse au site de ciné :

<br><b><i>cine.1.filoute@spamgourmet.com</i></b>
<br>
<br>Répondez au message de confirmation d'inscription.
<br>Puis cessez toute activité.
<br>
<br>Fermez les yeux.
<br>Répétez :
<br>"personne, jamais plus, ne pourra m'écrire en utilisant cette adresse."
<br>"<b>Personne. Jamais plus.</b>"

<br>
<br>Souriez.
<br>
<br>Bon, je pense que vous avez pigé le truc :
<li>Générez des adresses jetables quand bon vous semble.
<li>Et laissez le spam à spamGourmet.
<br>
</p>

<p><i>Nota: Depuis le 3 Janvier 2002</i>,
vous avez la possibilité d'utiliser un mot

à la place du <b><i>NOMBRE</i></b> qui indiquait combien
de messages vous acceptiez de recevoir sur telle adresse.
<br>Comment ça marche ?
Le système repère la 1ère lettre du mot et
la remplace par le nombre représentant la position de cette lettre dans l'alphabet.
Le nombre maximum de messages que vous pouvez recevoir est toujours limité à 20,
aussi toutes lettres situées après la lettre "<b>t</b>" comptent comme 20.
Tous les mots sont valables sauf "sender" et "domain"
-- on vous explique pourquoi plus loin.

<br>
<br>Exemples :
<li><b><i>cecil.bde.mille@spamgourmet.com</i></b> vous permet de recevoir 2 messages.
<br>("<b><i>b</i></b>" étant la 2ème lettre de l'alphabet).
<li><b><i>nemo.vingt.mille@spamgourmet.com</i></b> vous permet d'en recevoir 20.
<br>("<b><i>v</i></b>" est la 22ème lettre de l'alphabet, mais le système
fixe la limite à 20).

</p>

<hr>

<p>Q. <b>Je suis inscrit à spamGourmet et
j'ai commencé à donner de-ci de-là des adresses jetables.
Mais je ne reçois absolument aucune réponse sur ces adresses !
Qu'est-ce qui se passe bon sang ?</b>
<br>R. Il y a plusieurs explications possibles :

<li>Assurez-vous que l'adresse protégée
que vous avez donnée à spamGourmet est la bonne.
Cette adresse figure au milieu de l'écran
quand vous êtes connecté(e) dans spamGourmet.
C'est à cette adresse que spamGourmet transfère vos e-mails.
Si elle est erronée, rectifiez l'erreur et cliquez sur "sauver"
<li>Autre explication : personne n'a encore utilisé les adresses
que vous avez communiquées.
Vous pouvez contrôler par vous-même si le dispositif fonctionne
en vous envoyant un message à l'adresse suivante :

<br><i>testmike.3.</i>votre_pseudo_spamGourmet<i>@spamgourmet.com</i>
<li>Ça ne marche toujours pas ?
Il se peut qu'un filtre anti-spam un peu trop zélé intercepte les messages
qui devraient normalement vous parvenir.
SpamGourmet les laisse passer, mais les messages sont bloqués plus loin.
Des utilisateurs d'Hotmail se plaignent souvent de ce type de blocage.
Nous travaillons de notre côté à éviter cela,
mais nous n'avons aucun moyen d'agir quand le courrier n'est plus chez nous.
<li>Si malgré tout vous avez toujours des difficultés
pour recevoir votre e-mail via spamGourmet,

écrivez-nous (info-contact sur la page d'accueil de spamGourmet).
</p>


<p>Q. <b>Mon adresse protégée est sur Gmail.
J'ai voulu faire un test et m'envoyer un message de ma boîte Gmail à une de mes adresses jetables.
Je vois bien que le message a été transmis depuis Gmail, mais je ne reçois rien en retour depuis mon
adresse jetable spamGourmet. Qu'est-ce qui cloche ?</b>
<br>A. Gmail reçoit bien le message retransmis par spamGourmet, mais Gmail le compare à celui qui a été envoyé.
Comme ils sont identiques, il ne vous en montre qu'un, celui que Gmail a transmis.
Si vous voulez vraiment tester le service, envoyez le message depuis un compte Gmail différent du vôtre
-- ou bien de tout autre compte...

</p>


<p>Q. <b>Pas moyen de rester connecté(e).
Que ce soit en passant du mode facile au mode avancé,
ou quoi que je fasse d'ailleurs,
on me dit que je ne ne suis pas connecté(e) alors que je viens de le faire !
C'est gonflant !</b>
<br>R. Vérifiez les paramètres de votre navigateur internet,
en particulier ceux qui concernent les cookies.
SpamGourmet utilise un cookie de type "session"
pour déterminer si vous êtes connecté(e).
Notre cookie n'est pas stocké sur votre disque dur,
et vous pouvez sans crainte autoriser le site spamGourmet à

établir ce type de cookie dans votre navigateur internet.
</p>

<p>Q. <b>Quand je crée un nouveau compte,
votre site exige que je lise un mot tout biscornu dans une image.
Ça vous amuse de m'obliger à faire ça ?</b>
<br>R. Non. On ne le fait pas pour vous embêter, c'est juré.
<br>Depuis Janvier 2004, on s'assure que tous nos utilisateurs sont bien des êtres humains.
<br>Ça disqualifie les spammeurs, parce qu'ils utilisent des scripts automatiques
pour s'enregistrer sur tous les sites internet.
Or ces scripts automatiques ne savent pas encore déchiffrer
un mot un peu déformé dans une image,
contrairement aux êtres humains... comme vous et moi.

</p>

<p>Q. <b>Je suis un être humain.
Mais j'ai des problèmes de vision.
Je ne peux vraiment pas lire ce mot.
J'aimerais bien m'inscrire, pouvez-vous m'aider s'il vous plaît !</b>
<br>R. Bien sûr ! Contactez-nous et nous ouvrirons un compte pour vous.
Envoyez-nous un e-mail à
<script language="JavaScript">writeMailTo('nsktExufrltzwrjy3htr');</script>
</p>


<p>Q. <b>Comment supprime-t-on les adresses jetables qu'on utilise plus ?
Ma liste d'adresse est bien encombrée et j'ai du mal à m'y retrouver !</b>

<br>R. Vous ne pouvez pas les supprimer. Ce qu'il faut faire, c'est les <b><i>cacher</i></b>.
<br>Pour cela :
<li>passez en mode avancé
<li>cliquez sur <i>recherchez jetables</i>
<li>Éditez l'adresse que vous ne voulez plus utiliser,
<li>cochez <i>caché</i>
<li>validez en cliquant <i>editer addresse</i>
<br>

<br>Imaginons un instant que vous les supprimiez réellement ces adresses.
Rien n'empêcherait alors qu'elles soient recréées par spamGourmet,
avec le même nombre de messages initialement prévu,
puisqu'elles ont déjà été diffusées et qu'elles sont maintenant hors
de votre contrôle.
</p>


<p>Q. <b>Je peux donc utiliser des adresses spamGourmet pour m'enregister pour des offres promotionnelles,
ou bien pour lire la version internet de mon quotidien préféré, etc ...</b>

<br>R. Et comment ! C'est fait pour ça !
donnez une adresse spamGourmet pour vous enregistrer au lieu de votre adresse personnelle.
Ça vous évitera de crouler sous des tonnes de spam par la suite.
<br><b>Toutefois</b>, n'écrivez pas un script qui vous enregistrerait sous de multiples adresses spamGourmet
(ou toute autre adresse e-mail en général).
<br>Ça peut être perçu comme un acte frauduleux,
et c'est de plus en totale contradiction avec nos
<a href="<%action%>?printpage=terms.html">modalités & conditions de service</a>

</p>


<p>Q. <b>Ne pensez-vous pas que vous pourriez grandement améliorer ce service en
présentant spamGourmet de façon plus claire et plus attractive ?</b>
<br>R. Probablement, oui. Très franchement, on cherche plutôt à attirer les gens comme vous,
qui utilisent bien les e-mails, et qui n'hésiteront pas à rechercher dans la FAQ les infos
qui leur manqueraient.

<br>De notre côté, ça limite la charge induite par le support technique
(ne perdez pas de vue que spamGourmet est un service totalement gratuit).
<br>Jusqu'à maintenant, cette approche a plutôt bien fonctionné -- à peu près tous nos adhérents
se débrouillent tous seuls et n'ont pas eu besoin de recourir au support.
<br>On subodore que les gens qui trouvent notre service trop compliqué

n'ouvrent tout simplement pas de compte chez spamGourmet;
sans doute sont-ils dissuadés par l'aspect un peu rébarbatif du site.
<br>Mais entendons-nous bien : on assure quand même un support technique
-- après avoir parcouru cette FAQ, n'hésitez pas, <i>s'il vous plaît</i>, à nous contacter si vous
avez une question, ou si vous pensez avoir découvert un bug.
</p>



<p>Q. <b>Pourquoi le nombre maxi de message que j'ai mis dans mon adresse jetable ne diminue pas à chaque
e-mail reçu ?</b>
<br>R. Il diminue, mais seulement à l'intérieur de notre système.
La 1ère fois qu'on reçoit un e-mail sur une de vos adresses jetables,
on extrait le nombre maxi de message qu'on laissera passer.
On garde précieusement ce nombre, et on le décrémente de 1 à chaque utilisation de l'adresse.
Quand le nombre est à zéro... on ne laisse plus rien passer.

<br>La personne ou l'organisme a qui vous avez communiqué initialement l'adresse va toujours vous écrire avec
le nombre que vous avez choisi à l'origine. Elle n'a aucune raison de le changer, et même si elle le faisait,
ça ne servirait à rien.
<br><i>[confession:] cette question n'est pas fréquemment posée.
En fait, personne ne l'a jamais posée. [fin de la confession.]</i>
</p>


<p>Q. <b>Une adresse jetable me permet de recevoir combien d'e-mail, au maximum?</b>
<br>R. <u>20</u>.  Si vous spécifiez un nombre supérieur à 20, notre système le remettra à 20.
<br>Vous voulez <i>vraiment</i> recevoir plus de 20 messages sur une adresse jetable ?

<br>Pourquoi pas après tout ?
<br>
<br>Vous pouvez déclarer un <i>émetteur de confiance / émetteur exclusif</i> : plus aucune limite.
<br>
<br>Ou bien rechargez le nombre maxi de message sur une adresse :
<li>passez en mode avancé.
<li>cliquez sur le bouton <i>rechercher jetables</i>
<li>repérer l'adresse à recharger (elles sont triées de la plus récente à la plus ancienne)

<li>cliquez sur l'adresse à recharger
<li>puis augmenter le nombre de message maxi et validez.
(la limite de 20 reste le maxi)
</p>



<p>Q. <b>Alors je peux cocher 'oui' quand <i>ils</i> me demandent si je souhaite recevoir
des informations sur les offres spéciales et les nouveaux produits alléchants que
proposent leurs partenaires commerciaux ?</b>
<br>A. Oui ! Oh oui ! Faites-le !

</p>



<p>Q. <b>Un instant, qu'est-ce qui empêcherait quelqu'un de fabriquer une
adresse spamGourmet qui arrive sur mon adresse e-mail personnelle.
Finalement, il n'a besoin de connaître que mon pseudo spamGourmet.
Il rajoute un mot à lui, le nombre maxi et hop ... le tour est joué !</b>
<br>R. Bien vu. Vous êtes sans doute prêt à passer au mode avancé de spamGourmet.

<br>Mais examinons un instant la probabilité de se faire spammer de cette façon.
<li>D'abord, la plupart des spammeurs utilisent des programmes pour envoyer des e-mails
à des milliers voire des millions de destinataires, dont l'adresse a été glanée sur le net
ou achetée dans des listes.
Actuellement, tout porte à croire que les programmes utilisés par les spammeurs
ne génèrent pas les adresses par eux-mêmes : le jeu n'en vaut pas la chandelle.

<li>Si quelqu'un repère votre pseudo spamGourmet, oui, le vôtre : [<i>mettre votre pseudo ici</i>]
et vous envoie des e-mails de cette façon, c'est pénible, certes,
mais on ne peut pas assimiler ça à du spam de masse.
<br>
<br>Bon, si vraiment ça vous inquiète à ce point, on a prévu plusieurs parades :

<li>passez en mode avancé
<li>choisissez un <i>préfixe</i>
<li>ou, c'est encore mieux, un <i>mot-clé</i> (ou plusieurs <i>mots-clés</i>)
<br>Puis changez le/les de temps en temps.
<br>
<br>Si vous choisissez un préfixe, vos adresses jetables devront impérativement
commencer par ce préfixe, ce qui vous donne des adresses du style :

<br><b><i>votrePréfixe.unMot.leNombre.votrePseudo@spamgourmet.com</i></b>
<br>En somme, le <i>préfixe</i> fait office de mot de passe : pas moyen de vous écrire sans le connaître.
<br>
<br>Les <i>mots-clés</i> fonctionnent différemment : ils <u>doivent</u> figurer dans le mot
que vous utilisez pour créer l'adresse jetable.
Leur usage est sans doute plus souple et plus créatif que celui du préfixe.

<br>Prenons un exemple, si vous le voulez bien :
<br>disons que vous avez définis comme mots-clés <b>etez</b> et <b>win</b>
<br>dans ce cas voici deux adresses qui "marcheront":
<li><b><i>arr<u>etez</u>.le.carrelage@spamgourmet.com</i></b>
<li><b><i>t<u>win</u>.peaks.domdom@spamgourmet.com</i></b>

<br><i>ete.indien.langoustine@spamgourmet.com</i> ... ne passera pas
<br>
<br>euh, un conseil : ne flippez pas trop !
Essayez tranquillement spamGourmet,
vous verrez bien à l'usage si ces options valent vraiment
la peine d'être mises en oeuvre.
</p>



<p>Q. <b>Est-ce que je peux indiquer à spamGourmet de toujours laisser passer les e-mails
provenant de personnes ou de domaines en lesquels j'ai confiance ?</b>

<br>A. <u>Oui</u>, dans le mode avancé.
Pour cela, utilisez la rubrique <i>ajouter expéditeur autorisé</i>
Ça peut être des noms de domaine, des adresse e-mail, et toutes les personnes présentent
dans cette liste pourront vous envoyer des e-mails sans décrémenter à chaque fois le nombre maxi de
message par adresse jetable. Donc indéfiniment, tant qu'ils figurent dans la liste.
<br>Bien sûr, si vous faites totalement confiance à quelqu'un, donnez-lui tout simplement
votre vraie adresse e-mail.

<br>La fonction <i>expéditeur autorisé</i> est destinée
à des gens de confiance, certes, mais qui peuvent communiquer votre adresse à d'autres gens.
Pensez aussi aux personnes qui n'ont pas un bon anti-virus et risquent de se faire
pirater leur carnet d'adresse... dans lequel vous figurez.
</p>



<p>Q. <b>Si je comprends bien, je peux m'inscrire à un service en leur donnant une adresse jetable,
puis, si je décide de continuer à recevoir des e-mails de ce service, il me suffit de d'ajouter leur adresse
dans ma liste d'expéditeurs autorisés ?</b>

<br>R. Oui ! Prenez note de l'adresse de l'expéditeur (de:/from:), et ajoutez-la dans votre liste
d'<i>expéditeurs autorisés</i>.
<b>Cas particulier des mailing-listes</b>,
où les messages ne sont pas toujours envoyés par le même expéditeur.
Notez l'adresse qui apparaît dans à:/to: et indiquez-là comme <i>expéditeur exclusif</i>

(ce champ apparaît quand vous cliquez sur l'adresse jetable, dans la liste des adresses.)
-- ça marchera.
</p>

<hr>


<p>Q.<b>Puis-je donner une adresse qui permette à la première personne qui l'utilise
de pouvoir m'envoyer autant d'e-mails qu'elle le souhaite, tout en bloquant tout e-mail qui proviendrait
d'autres personnes utilisant la même adresse ?</b>
<br>R. Oui... mais attention : rien ne vous garantit que le premier qui utilise l'adresse soit
bien la personne à laquelle vous avez pensé au départ.

<br>
<br>Pour autoriser une personne à vous écrire sans limitation,
<br>donnez lui l'une ou l'autre de ces adresses (elles sont équivalentes pour spamGourmet) :
<li><b><i>manoamano.+.spamsufi@spamgourmet.com</i></b> -- ou
<li><b><i>manoamano.sender.spamsufi@spamgourmet.com</i></b>
<br>
<br>Qu'est-ce qui va se passer ensuite ?
<li>le système enregistre l'adresse de la première personne qui vous écrit à cette adresse,

<li>il laissera passer tous les e-mails qui proviennent de cette personne,
<li>et il bloquera tous les autres e-mails reçus à cette adresse, mais pas émis par cette personne
-- à moins que l'émetteur fasse partie de votre liste d'<i>émetteurs autorisés</i>.
<br>
<br>Pour étendre cette fonctionnalité à tout un domaine,

<br>utilisez l'une ou l'autre de ces adresses :
<li><b><i>tuttifrutti.*.spamsufi@spamgourmet.com</i></b>
<li><b><i>tuttifrutti.domain.spamsufi@spamgourmet.com</i></b>
<br>
<br>Qu'est-ce qui va se passer ensuite ?
<li>le système enregistre le domaine de la première personne qui vous écrit à cette adresse,
<li>il laissera passer tous les e-mails qui proviennent de ce domaine, quels qu'en soient les émetteurs,
<li>et il bloquera tous les autres e-mails reçus à cette adresse, mais pas émis depuis ce domaine
-- à moins, là aussi, que l'émetteur fasse partie de votre liste d'<i>émetteurs autorisés</i>.

<br>
<br>Mais vraiment, <b>faites bien attention si vous décidez d'utiliser cette possibilité</b>.
<br>Un des membres de l'équipe s'est inscrit de la sorte pour un service assez important.
Malheureusement, le premier à lui envoyer un message sur cette adresse
était un spammeur de passage, et du coup notre ami n'a pas
reçu les messages importants qu'il attendait.
<br>C'est pourquoi nous avons préféré retirer la documentation
traitant de cette possibilité sur la page d'accueil du site.

<br>
<br>Note: <i>depuis le 8 Juin 2001, en mode avancé</i>, vous pouvez ajouter, modifier, supprimer
l'<i>émetteur exclusif</i> rattaché à une adresse jetable, en cliquant sur celle-ci
dans la liste des adresses jetables. Ça vous permet de démarrer avec une adresse jetable
toute simple, puis éventuellement de la restreindre à un émetteur bien précis quand bon vous semblera.

</p>



<p>Q. <b>Pourquoi est-ce que je dois confirmer mon <i>adresse protégée</i></b>
<br>R. Un (ou une) dénommé(e) L.J. nous a fait la suggestion suivante sur le forum:
<pre>
minute... est-ce qu'il ne faudrait pas ajouter une sorte de confirmation
quand on change d'adresse protégée ?

Je pourrais m'inscrire sur une centaine de mailing-listes, en utilisant la même
adresse jetable SG. Je pourrais ensuite répondre à chaque demande de confirmation
d'inscription envoyée pour vérifier que mon adresse est valide.

Ensuite, je pourrais retourner dans spamGourmet, et remplacer mon adresse protégée
par celle de quelqu'un d'autre.

Pour moi, l'affaire est close. Pour ma victime, à elle de recevoir
les centaines de mailing-listes auxquelles je l'ai inscrit(e).

LJ</pre>

L.J. ne l'a certainement pas fait... bien sûr.
<br>Il n'en demeure pas moins que depuis le 10 Décembre 2001,
tous nos utilisateurs doivent confirmer que l'adresse
protégée qu'ils ont choisie -- ou modifiée -- est bien leur véritable adresse personnelle.
<br>Pour cela, on leur fait parvenir un e-mail de confirmation
qu'il leur suffit de valider en cliquant sur le lien spécial prévu pour ça.
(on peut aussi couper/coller ce lien dans l'explorateur internet).
Sans confirmation, les adresses protégées ne sont pas changées -- mais fonctionnent toujours.
</p>

<p>Q. <b>Je souhaite diffuser mon adresse e-mail afin que des gens que je ne connais pas
puissent m'écrirent. Mais je ne veux pas non plus que des spambots récupèrent mon adresse.
Pouvez-vous m'aider ?</b>
<br>R. Vous disposez pour cela de plusieurs solutions:
<li>Donnez une adresse jetable avec un nombre élévé (comme 20)
-- ça laisse une bonne chance d'obtenir des contacts avec les gens qui vous intéressent avant
que les spambots vous repèrent. Vous pourrez alors répondre à ces personnes en utilisant votre
vraie adresse, ou bien vous les incluerez dans votre liste d'émetteurs de confiance.

<li>Si vous ne souhaitez pas limiter le nombre maxi de message que vous escomptez recevoir
à cette adresse, là on ne peut pas faire grand chose pour vous. [<b>nota</b>: depuis le 9 Juin 2001,
vous pouvez recharger le nombre maxi de message sur une adresse (en mode avancé). Ça marche
pour toutes vos adresses jetables, même si elles ont été créées avant Juin 2001]
<li>Une solution communément adoptée consiste à inclure dans votre adresse e-mail personnelle
des caractères supplémentaires qui la rendent invalide (comme *spam*suffit*).
Il suffit d'avertir les personnes désireuses de vous écrire d'enlever les caractères en trop.
Mais méfiez-vous, les spambots sont de plus en plus futés...

<li>vous pouvez également indiquez à vos correspondants, dans le texte du message,
le <i>préfixe</i> à rajouter devant votre adresse pour que leur e-mail vous parvienne bien.
Attention, cette solution n'est pas des plus simples.
<li><i>Notre préconisation</i> : si vous disposez d'un site internet et souhaitez afficher des adresses e-mail
tout en les protégeant des récolteurs d'adresses, les fameux spambots
<br>Alors, nous vous conseillons d'utiliser une technique de brouillage,
telle qu'AdressScrambler, disponible gratuitement dans la section
<i>téléchargements</i> de la page d'accueil de spamGourmet.




<p>Q. <b>Longueur maxi de mon pseudo spamGourmet svp ?</b>
<br>R. 20 caractères. Pas de points, pas de tilde(~), évitez les caractères accentués.
</p>



<p>Q. <b>longueur maxi du mot et du préfixe svp ?</b>
<br>R. 20 caractères, chacun. Ni points, ni tilde(~), évitez les caractères accentués.

</p>


<p>Q. <b>Est-ce qu'une future version de spamGourmet acceptera les points dans les noms d'utilisateurs ?</b>
<br>A. Non. Pas de point.
<br><i>Cela dit si vous souhaitez monter un service similaire à spamGourmet,
-- le code est open source --, rien ne vous empêche de changer cette règle et d'adopter d'autres
caractères de séparation. Avertissez-nous simplement via l'info-contact de la création de votre site</i>.
<br>

<br>Notez que depuis le 28 Janvier 2004, vous pouvez utiliser le caractère tilde(~) de la même manière que
le point -- donc pas de tilde dans vos mots & pseudos.
<br>En fait, il y a beaucoup de caractères que vous ne pouvez pas utiliser, tout simplement parce qu'ils
rendraient vos adresses jetables invalides -- / slash, @, etc... --.
<br>On tente de les détecter et de vous prévenir de ne pas les utiliser quand vous ouvrez un compte,
mais on n'y parvient pas à tous les coups. Dans le doute, tenez-vous en aux lettres, aux chiffres,
évitez les caractères accentués, et tout se passera bien.
</p>


<p>Q. <b>J'ai oublié mon mot de passe. Pouvez-vous me le renvoyer ?</b>
<br>R. Non. D'abord ce ne serait pas très sécurisant, et puis surtout parce qu'on
n'a vraiment aucun moyen de le retrouver : on utilise un système de cryptage à sens unique
pour stocker tous les mots de passe. En d'autres termes, on ne connaît pas votre mot de passe.
<br>Heureusement, il y a plusieurs solutions à votre problème :

<li>cliquez sur <b><i>problème de mot de passe</i></b> et suivez les instructions afin d'obtenir directement
un nouveau mot de passe.
<li>créez un nouveau compte : nouveau pseudo spamGourmet et nouveau mot de passe.
<li>e-mail <i>info contact</i> sur la page d'accueil. Si vous nous offrez toutes garanties
d'honnêteté, alors nous vous réattribuerons un nouveau mot de passe.
<br>Si vous avez aussi oublié votre pseudo spamgourmet, vous pouvez toujours créer un nouveau
compte ou nous écrire à <i>info contact</i> avec votre adresse e-mail personelle, et on vous
donnera un coup de main.

</p>



<p>Q. <b>Existe-t-il un moyen de voir toutes mes adresses jetables ?</b>
<br>R. Oui. En mode avancé, utilisez le bouton <i>rechercher jetables</i>
-- le bouton est au milieu de la page --.
Si vous ne précisez aucun critère de recherche (à gauche du bouton),
toutes vos adresses jetables seront montrées (sauf celles qui ont été cachées)
Si vous cochez sur <i>montrer les adresses cachées</i>, vous les verrez toutes.
Notez que depuis fin Février 2001, nous enregistrons l'adresse dans son intégralité,
et plus seulement le mot et le nombre maxi.

</p>



<p>Q. <b>Est-ce que je peux utiliser spamGourmet comme serveur e-mail ?</b>
<br>A. Non. SpamGourmet n'est qu'un relais, pas un serveur e-mail.
Vous ne pourrez pas utiliser spamGourmet si vous ne disposez pas AVANT
d'un serveur e-mail. Quelquefois, cette question me laisse pantois.
</p>



<p>Q. <b>Est-ce que les e-mails goûlement détruits par spamGourmet peuvent être récupérés ?</b>

<br>R. Non. Ce qui est détruit est vraiment détruit, et stocké nulle part.
C'est pourquoi, et ceci est très important, n'utilisez
spamGourmet que pour des correspondances de faible ou de moyenne importance.
<br>Pourquoi détruit-on les e-mails qui dépassent les quotas que vous avez fixés :
<li>d'abord ça minimise nos coûts et nous permet de vous faire bénéficier d'un service gratuit
<li>ensuite, et c'est peut-être plus important, si nous conservions ces spams,
ne seriez-vous pas tenté(e)s de temps à autre de venir les consulter ?

<br><b><i>ET ALORS VOUS LES LIRIEZ</i></b>, ce qui est exactement ce que nous cherchons à éviter.
<br>Ça vous perturbe ? Représentez-vous spamGourmet comme un outil
spécialement conçu pour correspondre avec des personnes ou des
organismes qui refusent d'utiliser l'e-mail sainement et simplement.
</p>



<p>Q. <b>Qu'est-ce qui va se passer si je réutilise par mégarde, un mot
que j'ai déjà employé auparavant dans une de mes adresses jetables ?</b>

<br>R. Il ne peut y avoir qu'une seule adresse jetable par mot choisi par vous.
Si vous rediffusez une adresse avec un mot déjà utilisé, <u>seul</u>
le nombre de message prévus pour l'<i>adresse initiale</i> sera pris en compte.
S'il vous restait 2 messages à recevoir, vous n'en recevrez pas plus de 2.
Si le nombre était déjà épuisé, vous ne revevrez rien sur votre "nouvelle" adresse,

<i>même si vous avez prévu d'en recevoir 20</i>.
</p>



<p>Q. <b>Je crois qu'ils m'ont repéré(e) - existe-t-il d'autres domaines que je puisse utiliser
en dehors de spamGourmet.</b>
<br>A. Oui - vous avez à votre disposition :
<li>spamgourmet.net

<li>spamgourmet.org
<li>spamcannon.net
<li>antichef.com
<li>antichef.net
<li>neverbox.com
<li>recursor.net
<li>dfgh.net
<li>spameater.org
<li>xoxy.net
<br>Utilisez les exactement comme vous le feriez si c'était spamgourmet.com.
<br>C'est peut-être mieux d'en choisir un et de s'y tenir, comme ça on se rappelle mieux des
adresses jetables qu'on utilise, si besoin est.
<br>
<br><i>Nota: depuis le 3 Janvier 2002</i>, vous pouvez utiliser un nom à la place du nombre
-- le système utilisera la position qu'occupe la 1ère lettre du nom dans l'alphabet
pour déterminer le nombre maxi de messages (voir plus haut pour plus de détails).

<br>Si vous utilisez cette possibilité <i>et</i> un autre nom de domaine,
les adresses de type spamGourmet ne sont plus si évidentes que ça à identifier.
</p>


<!--
<p>Q. <b>Écoutez, j'ai un domaine dont je ne me sers pas pour faire de l'e-mail,
j'aimerais bien le mettre au service de spamGourmet.
Comment faire ?</b>
<br>R. Tout d'abord merci ! Le mieux à faire, c'est de demander à

votre hébergeur internet de transférer tout les e-mails
à destination de votre domaine au destinataire @ spamgourmet.com
<br>Par exemple, avec la fonction sendmail, votre hébergeur internet peut ajouter la ligne suivante :
<pre>@votredomaine.com    %1@spamgourmet.com</pre>
dans le fichier <i>virtusertable</i>.
<br>
<br>Une autre solution, moins élégante, consiste à transférer tout les e-mails à destination
de votre domaine sur l'adresse <b><i>spameater@spamgourmet.com</i></b>

<br>
<br>Avant d'entreprendre quoi que ce soit, prenez le temps d'y réfléchir, parce que si votre
domaine est inondé de spam, et qu'un beau jour vous décidiez
de reprendre le contrôle des ses fonctions e-mails
pour votre usage personnel,
votre hébergeur pourrait bien en manger sa casquette... et menacer de vous virer.
<br>
<br><i>Note: jusqu'il y a peu de temps,
il n'était pas nécessaire de nous avertir de ce type d'initiatives.
Une mise-à-jour imminente va nous obliger à connaître précisément tous les domaines qui relaient
l'action de spamGourmet, afin que l'ensemble continue à fonctionner harmonieusement.
(c'est devenu nécessaire pour
résoudre un autre problème).

<br>C'est pourquoi, si vous avez la louable intention de dédier les boites e-mail
de votre site à spamGourmet,
faites-le nous savoir, s'il vous plaît, afin qu'on puisse mettre à jour notre configuration.
Si vous avez déjà un domaine qui fonctionne comme ça, écrivez-nous également, s'il vous plaît,
 parce que vous aussi devrez figurez dans notre configuration.</i>
</p>
-->

<p>Q. <b>J'ai découvert un bug / J'ai une suggestion à faire ...</b>
<br>R. De préférence, rendez-vous sur le forum. Sinon, envoyez un e-mail à
<br><script language="JavaScript">writeMailTo('nsktExufrltzwrjy3htr');</script>
Mettez le maximum de détail. Ce type d'e-mail, on ne le mangera pas, c'est juré.




<p>Q. <b>Est-ce que vous allez nous tenir averti des nouveautés ?</b>
<br>R. Il existe une rubrique <i>Quoi de Neuf</i> sur la page d'accueil dans
laquelle vous trouverez sans doute réponse à votre question.
En tout cas, on n'enverra certainement pas ce genre d'info par e-mail, à notre liste d'utilisateur.
Je pense que vous devinez pourquoi !
<br>Si vraiment une majorité écrasante d'entre vous en faisait la demande, on <i>pourrait</i>

envisager une option "voulez-vous être tenu(e) au courant des nouveautés", mais alors il faudrait
que vous retourniez dans spamGourmet, cocher cette case, etc, etc...
<br>(brrrr, le simple fait d'envisager ça me donne la chair de poule...)
</p>


<p>Q. <b>Est-ce que je peux avoir le code source du produit ?</b>
<br>R. Sans problème. On dispose
<a href="http://sourceforge.net/projects/spamgourmet" target="_new">d'un projet
sur sourceforge</a> qui vous permet d'obtenir des versions entièrement gratuites
de ce produit, en principe faciles à installer, à mettre en oeuvre
et à configurer sur quantité d'environnements d'hébergement e-mail.
Hélas, ce n'est pas toujours aussi simple qu'on le souhaiterait.
Si vous avez des difficultés, e-mail info-contact sur la page d'accueil.

<br>Heureusement, il y a une autre solution :
 vous êtes convié(e)s à participer au développement du projet sur sourceforge,
c'est beaucoup plus simple. Nous recherchons des programmeurs et des personnes pour documenter le
produit, qui nous aideront à rendre plus accessible notre service pour tous ceux qui
souhaitent l'héberger.
</p>



<p>Q. <b>Quelle plate-forme/Base de donnée/Langage utilise spamGourmet ?</b>

<br>R. La configuration actuelle est la suivante :
<li>perl pour le site et le traitement des e-mails
<li>mysql pour la base de données
<li>sendmail pour le serveur d'e-mail
<li>apache pour le serveur internet
<li>linux comme système d'exploitation
<br>Hormis -- peut-être -- perl pour le traitement des e-mails, aucun des autres programmes
ne comporte des fonctionnalités indispensables au bon fonctionnement de spamGourmet.
C'est pourquoi les prochaines versions que nous avons planifiées devraient fonctionner sur tout
type de plate-forme.
</p>



<p>Q. <b>Votre service est vraiment top ! J'ai hâte de le faire connaître à mes potes.
Comment faire ?</b>

<br>R. Rien de plus facile : copiez le petit texte suivant et envoyez-le à tous les
gens qui figurent dans votre carnet d'adresse. Pour faire bonne mesure,
envoyez-le en double ou en triple exemplaire à quelques jours d'intervalle.
Il y a sur le net quantité de programmes qui vous permettront de réaliser cette manip en
deux temps trois mouvements.
<br>
<pre>-------Début-------
Salut ! Heu désolé à propos de ton chien, j'espère que ça va aller.
Sinon, je voulais juste te dire que je viens de découvrir un service
trop cool, ça s'appelle spamGourmet, et tu peux allez voir en cliquant :
http://www.spamgourmet.com
Ces mecs te filent des adresses jetables, et bye bye le spam.
Tu t'inscris et t'oublies. Mais tu peux aussi revenir changer 2 3 trucs si t'as envie.
Et attends, tu sais quoi ? c'est GRATOS. Just type it : wwww.spamgourmet.com
Bon faut que j'y aille.
Heu, pour ton chien, encore vraiment désolé.
-------Fin--------</pre>

<br>Quoi ?... on a bien le droit de délirer un peu ?
<br>Bon, doit-on vraiment vous le dire ? <i> ...ne faites pas ça...</i>
</p>


<p>Q. <b>Ne craignez-vous pas que Hormel Food Corporation vous intente un procès
pour utiliser aussi abondamment le terme <i>spam</i></b>
<br>R. Non, enfin on l'espère bien. Hormel a adopté une attitude très ouverte en ce qui concerne
l'utilisation du mot 'spam' utilisé pour décrire le phénomène de courrier de masse non sollicité,
sur internet (dans la mesure où les lettres du mot spam ne sont pas écrites en caractères majuscules,
ce qu'on prend bien soin de ne pas faire).

<br>Si seulement d'autre grands groupes voulaient bien s'inspirer de leur exemple...
</p>


<p>Q. <b>Dans le fond, vous pourriez bien vendre votre liste d'adresses à des spammeurs ?</b>
<br>R. <u>Non</u>. On est aussi sur la liste...


<p>Q. <b>Et si quelqu'un vous piquait toute la liste et disparaissait avec ?</b>

<br>R. Bigre... Bon, il faut relativiser tout ça :
<br>quelle est la valeur <i>commerciale</i> de cette liste ?
Elle ne contient ni votre nom, ni votre sexe, ni votre code postal, ni votre age,
ni vos préférences en matière de jus de fruit, rien de tout ça.
La seule chose qu'on pourrait en retirer, c'est que tous les gens présents dans la liste
ont en commun de ne pas vouloir recevoir de spam.
</p>


<p>Q. <b>Soit, cette liste n'a sans doute pas grande valeur commerciale, je vous le concède.
Mais imaginons qu'un contrat soit lancé contre vous par un spammeur hyper-méchant,
nanti de super-pouvoirs et archi-déterminé à

vous mettre une vieille déculottée. Et puis à utiliser la liste pour assouvir sa soif
démoniaque de vengeance sur nous tous, pauvres utisateurs tremblants de spamGourmet ?
Hein, qu'est que vous avez à répondre à ÇA ?</b>
<br>R. La vie n'est pas un long fleuve tranquille mon ami(e)...
</p>

<!-- end of FAQ Novembre 2004 -->
<p align="center"><a href="javascript:window.close()"></a></p>

</body></html>
