<p><font size=+2>
Comment ça marche
</font></p>

<p>
Si vous donnez à tout le monde votre adresse de courrier électronique (courriel), vous recevez des spams et vous ne savez pas qui les envoie. Ne serait-il pas pratique de pouvoir donner une adresse différente à chaque société, à chaque site web, tout en continuant à recevoir votre courriel comme auparavant? Ne serait-il pas pratique que votre adresse soit désactivée automatiquement si elle commence à être spammée?</p>

<p>Eh bien, c'est exactement ce que propose Spamgourmet! Il n'y a <i>rien à installer</i> sur votre machine. Et après vous être inscrit, <i>vous n'aurez sans doute jamais plus besoin de revenir ici</i>. C'est pour cela que Spamgourmet est une des meilleures façons d'éviter le spam.</p>

<p>Libérez-vous du spam en 3 étapes faciles:</p>

<p><b>1.</b>
Si ce n'est pas encore fait, créez un compte sur spamgourmet. Tapez
votre nom d'utilisateur et
<!-- CHANGE syskoll 2004-02-07 15:53:40 -->
votre adresse de courriel. Vous devrez ensuite identifier un mot dans une image et choisir un mot de passe.
<!-- END CHANGE syskoll 2004-02-07 15:53:40 -->
</p>

<p><b>2.</b>
Spamgourmet transferera à l'adresse que vous avez donnée tout le courriel envoyés à vos adresses jetables spamgourmet. Mais personne ne la verra. D'où le nom  <i>adresse protégée</i>. Il faut bien sûr que cette adresse protégée existe. C'est pourquoi vous devez la confirmer. Vous allez recevoir une demande de confirmation à votre adresse protégée.
</p>

<p><b>3.</b>
Après avoir entré et confirmé votre adresse protégé, vous pouvez donner à qui vous voulez des adresses jetables qui s'auto-détruisent. Les adresses jetables sont de la forme:</p>

<p align="center"><i>UnMot.x.utilisateur</i>@spamgourmet.com</p>

où «UnMot» est un mot que vous n'avez jamais utilisé auparavant, «x» un le nombre de messages que vous souhaitez recevoir sur cette adresse (jusqu'à 20), et «utilisateur» votre nom d'utilisateur.</p>

<p>Par exemple, si votre nom d'utilisateur est «spamcowboy» et que la compagnie Trucmuche vous demande votre adresse de courriel (sur un site web, dans un magasin ou au téléphone, peu importe où),  vous pouvez leur donner l'adresse suivante:

<p align="center">detrucmuche.2.spamcowboy@spamgourmet.com</p>

<p>L'adresse de courriel sera automatiquement créée <i>dès que Trucmuche l'aura utilisée</i>. Vous n'aurez pas à la créer vous-même. Vous recevrez au maximum 2 messages à votre adresse de transfert. Les messages suivants seront goulûment mangés par spamgourmet.
</p>

<p>C'est tout. Vous n'aurez plus à revenir ici.</p>

<p>Si vous voulez davantage d'options, choisissez l'onglet "mode avancé" ci-dessus.</p>

</font>