İletilerinizin gönderileceği adresi kaydetmeniz ve doğrulamanızdan sonra istediğiniz zaman aşağıdakine benzeyen, kendini yok edecek atılabilir adresler verebilirsiniz:

<p align="center"><i>istediginizsozcuk.x.kullaniciadi</i>@spamgourmet.com</p>

Burada <i>istediginizsozcuk</i> önceden kullanmadığınız herhangi bir sözcük, <i>x</i> oluşturulan bu adresten almak istediğiniz azamî ileti sayısı (en çok 20), <i>kullaniciadi</i> ise Spamgourmet sitesindeki kullanıcı adınız. Örneğin, kullanıcı adınız 'spamcowboy' ise ve

<p align="center">spamelope.2.spamcowboy@spamgourmet.com</p>

adresini birine (aslında çoğunlukla İnternetteki birşeye) verirseniz, o adres, ilk <i>kullanıldığında</i> (yani e-posta aldığında) oluşturulacak ve bu adrese gönderilecek en fazla 2 iletiyi alacaksınız (en üstte belirttiğiniz gerçek adresinize iletilecekler). Bundan sonra gönderilecek iletiler sistem tarafından yok edilecektir (size ulaşmayacak, göndereni de uyarmayacak)<br><br>
İşte bu kadar. Bir daha buraya dönmeniz hiç gerekmeyecek.

