<html><head><title>spamgourmet - downloads</title>
<script language="JavaScript" src="/stuff/js/AddressScrambler.js"></script>
</head>
<body bgcolor="#FFFFCC" onLoad="window.focus()" topmargin=0 bottommargin=0>
<font face="verdana,arial, helvetica" size=3 color="#000000">
Her kan du downloade kode udgivet af spamgourmet. Du behøver ikke at downloade noget for at <i>bruge</i> servicen -- du kan bare tilmelde dig på hovedsiden for at gøre det.
Hvis du vil være vært for en lignende service, tilføje spamgourmet funktionalitet til din eksisterende mail service eller bare se koden, så er det her for dig. Hvis du vil have indflydelse på udvikling af projektet, besøg <a href="http://www.sourceforge.net/projects/spamgourmet" target="_new">sourceforge.net project page</a>.

<br><br>
Du kan også <a href="http://spamgourmet.svn.sourceforge.net/viewvc/spamgourmet/" target="_svn">gennemse subversion repository'et</a>, som er hosted af sourceforge.

<P>
<TABLE cellspacing="1" cellpadding="5" width="100%" border="0" bgcolor="#EAECEF">
<TR BGCOLOR="#D1D5D7" align="center">
<TD colspan=2><SPAN class=titlebar>Seneste Fil Udgivelser</span></td>
</tr><TR align=left bgcolor="#EAECEF">
<TD colspan=2>
<TABLE cellspacing="1" cellpadding="5" width="100%" border="1">
<TR bgcolor="#EAECEF">
<TD align="left">Pakke</td>
<TD align="center">Version</td>
<td align="center">Dato</td>
<TD align="center">Download</td>
<td align="center">Beskrivelse</td>
</tr>
<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>spamgourmet</b></td>
<TD>2.0.3</td>
<td>2007-10-08</td>
<TD>

<!--  <A HREF="http://www.sourceforge.net/project/showfiles.php?group_id=20543&release_id=66273">Download</A> -->
<a href="http://prdownloads.sourceforge.net/spamgourmet/spamgourmet-2.0.3.tgz">Download</a>
</td>
<td align="left">Dette er hoved mail håndterings koden, et database opsætnings script og hjemmesiden.</td>
</tr>

<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><b>SgMailto</b></td><TD>0.3</td>
<td>2007-10-08</td>
<TD>
<a href="http://prdownloads.sourceforge.net/spamgourmet/sgmailto-0.3.tgz">Download</a>
</td>
<td align="left">Dette er noget javascript, som laver en næsten tilfældig ny engangsadresse til besøgere på din side. "Afsender" direktivet er angivet i adressen, og hvis du har svaradresse maskering, kan du føre en samtale med en person, som har kontaktet dig på denne måde, uden at udbrede din email adresse på din hjemmeside nogen måde. Bemærk -- dette er nye foretrukkende metode (over AddressScrambler, nedenfor) til at putte en email kontakt på en hjemmeside.
</td>
</tr>


<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>vim/vi macro</b></td><TD> </td>
<td>2001</td>
<TD>
<a href="stuff/bacallevimrc" target="_new">Download</a>
</td>
<td align="left">
   Her er en vim/vi makro til at generere unikke Fra: linjer, som indsættes ind i en <strong>amenable MUA</strong>. 
   Markoen genererer unikke Fra: linjer, email adresser til udgående spmagourmet.org emails. Det
   efterlader dig også i <em> indsætte </em> tilstand på det sted, hvor du kan
   redigere et tag for at ID'e modtageren. Så spar tid, spar skrivning, vær ikke 
   afhængig af fejlagtig hukommelse og rediger standardindstillingerne manuelt, når behovet
   opstår.
</td>
</tr>

<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><strike><B>AddressScrambler</b></strike></td><TD>0.2.2</td>
<td>2003-02-12</td>
<TD>
<a href="http://prdownloads.sourceforge.net/spamgourmet/AddressScrambler_0.2.2.tar.gz"><strike>Download</strike></a>
</td>
<td align="left"><strike>Dette er endnu et anden javascript-baseret email adresse skjold mod spam høster-bots. Denne version er til statiske hjemmesider, og har en handy "hjælpe side", som vil generere den nødvendige javascript kode for dig. 
</strike> Det ser ud som om høsterne forstår javascript nu om dage, så AddressScrambler kan kun give en falsk tryghedsfølelse -- du kan stadig downloade den, hvis du vil, men se den som <i><b>forældet</b></i>.  En skam, for den var ellers pænt cool.
</td>
</tr>


</table>
</td>
</tr>
</table>


<p> </p>
<p align="center"><font face="verdana,arial,helvetica"><a href="javascript:window.close();"></a></font></p>
</body></html>
