<p><font size="+2"> Hvordan spamgourmet virker </font></p>

<p>
  Hvis du giver din email adresse til alle, er du bundet til at få spam emails,
  og du vil ikke vide hvor de kom fra. Ville det ikke være praktisk hvis du
  kunne give en forskellig email adresse til hver virksomhed eller hjemmeside,
  men stadig modtage alle dine emails som før? Ville det ikke være nemmest at
  <i>antage</i>, at adressen vil blive givet til spammere, og så ville det virke
  som en spam blocker ved at standse automatisk med mindre du beslutter noget
  andet?
</p>

<p>
  Det er præcis hvad spamgourmet tilbyder dig! Der er intet at installere på din
  computer, og
  <i>når du er registeret, er det muligt at du aldrig vil komme her tilbage.</i>
  Det er hvad der gør spamgourmet en af de mest praktiske og effektive anti-spam
  værktøjer, der findes.
</p>

<p>Beskyt dig selv mod spam i tre nemme skridt:</p>

<p>
  <b>1.</b>
  Hvis du ikke har gjort det endnu, så lav en spamgourmet bruger.
  <!-- CHANGE syskoll 2004-02-07 16:13:51 -->
  Indtast dit brugernavn og den email adresse du vil beskytte. Du bliver bedt om
  at skrive ordet fra et billede og vælge et kodeord.
</p>
<!-- END CHANGE syskoll 2004-02-07 16:13:51 -->
<p>
  <b>2.</b> Spamgourmet vil videresende all emails sendt til dine spamgourmet
  engangsadresser videre til din beskyttede adresse -- på den måde behøves du
  ikke at fortælle nogen hvad din email adresse er -- det er derfor det er
  kaldet en <i>beskyttet adresse</i>. Selvfølgelig skal den beskyttede adresse
  eksistere. Det er derfor du er nødt til at bekræfte den. Du vil modtage en
  email, der beder sig om at bekræfte.
</p>

<p>
  <b>3.</b> Efter du har bekræftet din beskyttede adresse, kan du give
  selvdestruerende engangsemailadresser, når du har lyst. En engangsadresse er
  ligesom:
</p>

<p align="center"><b>ord.</b><i>x.</i><b>bruger</b>@spamgourmet.com</p>

<p>
  hvor <b>ord</b> er et ord du aldrig har brugt før, <i>x</i> (valgfri) er det
  nummer af emails du vil modtage gennem denne adresse (op til 20, og nummeret 3
  vil blive brugt hvis du undlader x), og <b>bruger</b> er dit brugernavn.
</p>

<p>
  For eksempel, hvis dit brugernavn er "spamcowboy", og StortFirma vil have din
  email adresse (på nettet, på telefonen, i butikken - det er lige meget), i
  stedet for at give dem din beskyttede adresse, så giv dem den her:
</p>

<p align="center">
  <b><i>frastortfirma.3.spamcowboy@spamgourmet.com</i></b
  ><br />(og <b><i>frastortfirma.spamcowboy@spamgourmet.com</i></b> vil virke på
  samme måde)
</p>

<p>
  Den engangsemailadresse vil blive lavet her
  <i>den første gang StortFirma bruger den</i> (du skal altså ikke gøre noget
  for at lave den), og du vil modtage de første 3 beskeder, videresendt til din
  beskyttede adresse. Resten vil blive grovt komsumeret.
</p>

<p>
  Hvis du vil have flere indstillinger, kan du vælge "avanceret tilstand"-fanen
  ovenover.
</p>
<p>
  For resten, vi sender *aldrig* emails med vedhæftede filer -- hvis du får en
  og det ser ud som om, den er fra os, så lad være med at åbne den!! Det er
  muligvis en virus.
</p>
