<style>
<!-- 
body
 {
	scrollbar-face-color:#993366;
	scrollbar-shadow-color:#FFFFCC;
	scrollbar-highlight-color:#003399;
	scrollbar-darkshadow-color:#003399;
	scrollbar-track-color:#FFFFCC;
	scrollbar-arrow-color:#FFFFCC;
}
font.head
{
    font-size: 14px;
    font-family: Arial, Verdana;
}
font.small
{
    font-size: 10px;
    font-family: Arial, Verdana;
}
font.footer
{
    font-size: 10px;
    font-family: Arial, Verdana;
    color: #ffffff
}
-->
</style>
