<html><head><title>spamgourmet - downloads</title>
<script language="JavaScript" src="/stuff/js/AddressScrambler.js"></script>
</head>
<body bgcolor="#FFFFCC" onLoad="window.focus()" topmargin=0 bottommargin=0>
<font face="verdana,arial, helvetica" size=3 color="#000000">
Aici puteti face download-ul codului de lansare spamgourmet.  Nu aveti nevoie sa download-aţi nimic pentru <i>folosirea </i> serviciului – este suficient să vă înregistraţi pe pagina principală pentru asta. 
Dacă doriti să găzduiti un serviciu similar, adăugati functionalitatea spamgourmet la serviciul de mail existent, sau doar folositi codul furnizat. Dacă doriti să vă implicati în dezvoltarea de proiect, intrati la <a href="http://www.sourceforge.net/projects/spamgourmet" target="_new">sourceforge.net project page</a>.


<P>
<TABLE cellspacing="1" cellpadding="5" width="100%" border="0" bgcolor="#EAECEF">
<TR BGCOLOR="#D1D5D7" BACKGROUND="/themes/forged/images/steel3.jpg" align="center">
<TD colspan=2><SPAN class=titlebar>Latest File Releases</span></td>
</tr><TR align=left bgcolor="#EAECEF">
<TD colspan=2>
<TABLE cellspacing="1" cellpadding="5" width="100%" border="0">
<TR bgcolor="#EAECEF">
<TD align="left">Package</td>
<TD align="center">Version</td>
<td align="center">Date</td>
<TD align="center">Download</td>
<td align="center">Description</td>
</tr>
<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>spamgourmet</b></td>
<TD>0.9.1</td>
<td>2002-05-23</td>
<TD>

<!--  <A HREF="http://www.sourceforge.net/project/showfiles.php?group_id=20543&release_id=66273">Download</A> -->
<a href="http://prdownloads.sourceforge.net/spamgourmet/spamgourmet_0.9.1.tar.gz">Download</a>
</td>
<td align="left">Acesta este codul de bază al distribuitorului de mail si script-ul setup-ului  unei baze de date.</td>
</tr>

<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>AddressScrambler</b></td><TD>0.2.2</td>
<td>2003-02-12</td>
<TD>
<a href="http://prdownloads.sourceforge.net/spamgourmet/AddressScrambler_0.2.2.tar.gz">Download</a>
</td>
<td align="left">Aceasta este o altă adresă de e-mail pe bază de script JAVA, ca scut împotriva roboţilor culegători de spam. Această versiune este pentru pagini statice de web si are o „pagină de ajutor” comodă, care va genera codurile javascript inline pentru Dvs. 
</td>
</tr>


<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>vim/vi macro</b></td><TD></td>
<td></td>
<TD>
<a href="http://unixen.org/spamgourmet/vimrc" target="_new">Download</a>
</td>
<td align="left">
   Acesta este un macro vim/vi ce generează versiuni unice From: linii ce vor fi
   inserate într-o <strong>amenable MUA</strong>. Macro-ul generează unice 
   From: linii, adrese de e-mail pentru e-mailuri de iesire spamgourmet.org.
   De asemenea vă permite în modul <em>insert</em> până la modul în care puteti 
   edita tag-ul ID al primitorului. Astfel câstigati timp, tastare, nu vă bazati pe
   memorie slabă si editati manual setările implicite când e nevoie de dezvoltări.
</td>
</tr>



</table>
</td>
</tr>
</table>


<p> </p>
<p align="center"><font face="verdana,arial,helvetica"><a href="javascript:window.close();"><%closewindow%></a></font></p>
</body></html>