Daca iti dai adresa de e-mail oricui, esti expus sa primesti mesaje nedorite (spam) si nu ai habar cine ti le trimite. Nu ar fi convenabil sa ai la dispozitie o adresa diferita de e-mail pentru fiecare afacere si fiecare site de pe web fata de felul cum iti primeai e-mailurile inainte vreme?</p>

<p>
Ei bine, este exact ceea ce ofera Spamgourmet ! Elibereaza-te de e-mailurile nedorite urmand trei pasi simpli:</p>

<p><b>1.</b>
Daca inca nu ai facut-o, creaza-ti un cont la spamgourmet. Introdu numele tau de utilizator si o parola (introdu-o de doua ori). De asemenea introdu si adresa ta de e-mail.</p>

<p><b>2.</b>
Spamgourmet iti va re-expedia spre aceasta adresa e-mailurile trimise spre adresa ta volatila creata pe Spamgourmet  -- catre <I>adresa de re-expediere</i>. Desigur, aceasta adresa de re-expediere trebuie sa fie una reala. De aceea ti se cere sa o confirmi. Vei primi un e-mail cerindu-ti sa confirmi inscrierea.</p>

<p><b>3.</b>
Dupa cea ai confirmat adresa ta de re-expediere , poti sa te folosesti oricand de adrese de e-mail care se autodistrug. Aceste adrese "volatile" sunt de forma:</p>

<p align="center"><i>oricecuvant.x.utilizator</i>@spamgourmet.com</p>

 <P>Unde <I>oricecuvant</i> este un cuvant ce nu l-ai mai folosit inainte pentru crearea unei adrese , <I>x</i> este numarul de mesaje de e-mail pe care doresti sa le primesti la aceasta adresa (maximum 20), iar <I>utilizator</i> este numele de utilizator pe spamgourmet. De exemplu, daca ai ca nume utilizator  "spamcowboy", iar cei de la BigCorp doresc sa le dai adresa ta e e-mail, le-o poti da pe urmatoarea: </p>

<p align="center">frombigcorp.3.spamcowboy@spamgourmet.com</p>

<p>Adresa de e-mail este creata la prima sa  <I>utilizare</i>, si vei primi cel mult 3 mesaje (re-expediate spre adresa ta de re-expdiere). Restul e-mailurilor spre aceasta adresa, vor fi consumate pe loc.</p>

<p>Asta e tot. Nici macar nu trebuie sa mai revii aici.</p>

<p>Daca doresti mai multe optiuni, alege "Modul Avansat" de pe eticheta de mai sus.</p>

</font>
