<html><head><title>spamgourmet - downloads</title>
<script language="JavaScript" src="/stuff/js/AddressScrambler.js"></script>
</head>
<body bgcolor="#FFFFCC" onLoad="window.focus()" topmargin=0 bottommargin=0>
<font face="arial, helvetica" size=3 color="#000000">
Hier können Sie den freigegebenen Code von Spamgourmet herunterladen. Um Spamgourmet zu <i>benutzen</i> brauchen Sie das nicht zu tun - Sie können sich auf der Hauptseite einfach dafür anmelden. Falls Sie einen ähnlichen Service selbst im Netz anbieten (hosten) möchten oder einfach mal einen Blick auf den Code werfen möchten, sind Sie hier richtig. Wenn Sie selbst am Projekt mitarbeiten wollen, besuchen Sie die <a href="http://www.sourceforge.net/projects/spamgourmet" target="_new">Projektseite auf sourceforge.net</a>.<P>


<TABLE cellspacing="1" cellpadding="5" width="100%" border="0" bgcolor="#EAECEF">
<TR BGCOLOR="#D1D5D7" BACKGROUND="/themes/forged/images/steel3.jpg" align="center">
<TD colspan=2><SPAN class=titlebar>Neueste Releases</SPAN></TD>
</TR><TR align=left bgcolor="#EAECEF">
<TD colspan=2>
<TABLE cellspacing="1" cellpadding="5" width="100%" border="0">
<TR bgcolor="#EAECEF">
<TD align="left">Paket</td>
<TD align="center">Version</td>
<td align="center">Datum</td>
<TD align="center">Download</td>
<td align="center">Beschreibung</td>
</TR>
<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>spamgourmet</B></TD>
<TD>0.9.1</TD>
<td>2002-05-23</td>
<TD>
<a href="http://prdownloads.sourceforge.net/spamgourmet/spamgourmet_0.9.1.tar.gz">Download</a>
</TD>
<td align="left">Mailhandler-Code und Datenbank-Setup-Skript</td>
</TR>
<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>AddressScrambler</B></TD><TD>0.2.1</TD>
<td>2002-05-14</td>
<TD>
<a href="http://prdownloads.sourceforge.net/spamgourmet/AddressScrambler_0.2.1.tar.gz">Download</a>
</TD>
<td align="left">Ein auf JavaScript basierendes Schild zum Schutz von E-Mail-Adressen vor Spambots. Diese Version ist für statische Webseiten gedacht und hat eine handliche Hilfeseite, die das Erzeugen des nötigen JavaScript-Codes für Sie
erledigt.
</td>
</TR>
</TABLE>
</TD>
</TR>
</TABLE>





<p> </p>
<p align="center"><font face="arial,helvetica"><a href="javascript:window.close();">Fenster schließen</a></font></p>
</body></html>
