Nachdem Sie Ihre "echte" E-Mail-Adresse gespeichert und bestätigt haben, können Sie jederzeit und so oft Sie wollen
Wegwerfadressen herausgeben, die wie folgt aussehen:

<p align="center"><i>irgendwas.x.benutzername</i>@spamgourmet.com</p>

Dabei ist <i>irgendwas</i> ein ausgedachtes Wort, das Sie zuvor noch nicht verwendet haben, <i>x</i> die Zahl der E-Mails, die Sie über diese E-Mail-Adresse an Ihr echtes Postfach weitergeleitet bekommen möchten (maximal 20) und <i>benutzername</i> Ihr Benutzername. Lautet der z. B. "spamcowboy" und Sie vergeben die Adresse

<p align="center">ausgedacht.2.spamcowboy@spamgourmet.com</p>

so wird diese Adresse beim <i>ersten Gebrauch</i> angelegt und höchstens zwei Nachrichten dorthin werden an Ihr echtes
Postfach (das Sie oben angegeben haben) weitergeleitet. Weitere Nachrichten an diese Adresse werden verschluckt.

<p>

Das war's. Sie brauchen diese Seite im Prinzip nie mehr zu besuchen!

