<p><font size="+2">
Spamgourmet - jak to się je?
</font></p>

<p>
Podając swój prawdziwy adres mailowy wszystkim, którzy o to poproszą, z pewnością wkrótce zaczniesz otrzymywać również niechciane wiadomości (tak zwany spam). Co gorsza nie będzie wiadomo, skąd one nadeszły ani skąd spamerzy mają Twój adres. Czy nie byłoby wygodne, aby każdemu podawać Twój unikalny adres, jednocześnie otrzymując wszystkie listy tak jak dotychczas? Czy nie byłoby lepiej <i>założyć</i>, że każdy adres trafi do spamerów i w dowolnym momencie go wyłączyć (samodzielnie lub automatycznie)?</p>

<p>
Właśnie tak działa Spamgourmet! Niczego nie musisz instalować na żadnym ze swoich komputerów. <i>Kiedy odpowiednio skonfigurujesz Spamgourmet, prawdopodobnie nie będziesz juz musiał tutaj wracać.</i> To jeden z najwygodniejszych i najwydajniejszych sposobów na uniknięcie spamu.</p>

<p>Uzbrój sie przeciwko spamerom w kilka minut:</p>

<p><b>1.</b>
Jeśli dotąd go nie masz - utwórz swoje konto w serwisie Spamgourmet.
<!-- CHANGE syskoll 2004-02-07 16:13:51 -->
Wprowadź swój identyfikator (username) i adres mailowy, na który mają być przekierowywane wiadomości. Zostaniesz poproszony o rozpoznanie słowa na obrazku i o wybranie hasła.</p>
<!-- END CHANGE syskoll 2004-02-07 16:13:51 -->
<p><b>2.</b>
Wszystkie wiadomości przesłane na Twoje tymczasowe adresy zostaną przez Spamgourmet przekierowane na podany adres <I>(forwarding address)</i>. Oczywiście ten adres musi istnieć, dlatego wymagane jest jego potwierdzenie. Wykonaj polecenia opisane w mailu, który otrzymasz.</p>

<p><b>3.</b>
Po potwierdzeniu adresu, na który mają być przekierowywane wiadomości, możesz już zacząć podawać swoje tymczasowe adresy komu chcesz. Adresy będą tworzone zgodnie z poniższym wzorcem: </p>

<p align="center"><i>dowolnesłowo.x.identyfikator</i>@spamgourmet.com</p>

 <p>gdzie <i>dowolnesłowo</i> to słowo, które jeszcze nie było użyte, <I>x</i> to liczba wiadomości, które maja zostać przekierowane z tego adresu (najwyżej 20), a <I>identyfikator</i> to Twój identyfikator (username).</p>

<p>Na przykład, jeżeli Twój identyfikator to "spamcowboy" a jakaś WielkaKorporacja prosi Cię o podanie adresu elektronicznego (na stronie internetowej, przez telefon, w sklepie), zamiast podawać swój prawdziwy adres, możesz podać taki:</p>

<p align="center">WielkaKorporacja.3.spamcowboy@spamgourmet.com</p>

<p>Ten tymczasowy adres zostanie utworzony, <i>kiedy WielkaKorporacja po raz pierwszy wyśle na niego list</i> (nie musisz robić nic, żeby go utworzyć), i najwyżej 3 wiadomości zostaną przekierowane na Twój właściwy adres. Pozostałe zostaną żarłocznie zjedzone.</p>

<p>Jeśli potrzebujesz lepszej kontroli nad adresami - wybierz zakładkę "tryb zaawansowany".</p>
<p></p>

