<p><font size="+2"> A spamgourmet működése </font></p>

<p>
  Ha bárkinek megadod az e-mailcímed, könnyen előfordulhat, hogy nem kívánt spam
  leveleket is kapsz, és ráadásul azt sem tudod, hogy kitől. Nem lenne
  kényelmes, ha minden cégnek vagy honlapon található űrlapnak más-más
  e-mail-címet adhatnál meg, miközben ugyan úgy megkapnád a postádat? Nem az
  volna a legegyszerűbb, ha könnyedén <i>létrehozhatnál</i> egy címet mely
  bizonyos feltételek betöltésével önmagától megsemmisülne amennyiben nem
  döntesz máshogy? Így már te is nyugodtan bárkinek odaadhatod az e-mail-címedet
  a neten!
</p>

<p>
  És pontosan ez az, amit a spamgourmet ajánl! Semmit sem kell telepítened a
  számítógépedre, és ha
  <i
    >egyszer beállítod az is könnyen elképzelhető, hogy erre az oldalra többé
    már nem is kell visszatérned.</i
  >
  Pontosan ez teszi a spamgourmet-t a legkényelmesebb és a leghatékonyabb spam
  elleni eszközzé a többihez képest.
</p>

<p>Három lépésben védheted magad a spam-től:</p>

<p>
  <b>1.</b>
  Ha még nem tetted meg, akkor létesíts egy spamgourmet felhasználónevet.
  <!-- CHANGE syskoll 2004-02-07 16:13:51 -->
  Add meg a felhasználóneved és azt az e-mail-címet, melyet védeni szeretnél. A
  rendszer felhív egy sképben látható szó beírására és egy jelszó
  kiválasztására.
</p>
<!-- END CHANGE syskoll 2004-02-07 16:13:51 -->
<p>
  <b>2.</b> Spamgourmet minden eldobható e-mail-címedre küldött levelet továbbít
  a megadott címedre -- ezért nem kell másnak már megadnod a magán címedet --
  ezért hívjuk ezt a továbbiakban <i>védett e-mail-címnek</i>. Természetesen
  ennek a védett címnek már léteznie kell, ugyanis erre fogod megkapni a
  visszaigazolandó levelet.
</p>

<p>
  <b>3.</b> Miután visszaigazoltad a védett címedet, már kiadhatod egyből az
  önmegsemmisítődő e-mail-címeidet. Ezek az eldobható címek következő képpen
  néznek ki:
</p>

<p align="center"><i>valami.x.felhasználó</i>@spamgourmet.com</p>

<p>
  ahol a <i>valami</i> szó egy olyan szó, melyet soha nem használtál eddig,
  <i>x</i> azoknak a leveleknek a számát jelképzi, hogy hány darab levelet
  továbbítson neked a rendszer (legfeljebb 20 db), és a <i>felhasználó</i> a te
  felhasználóneved.
</p>

<p>
  Vegyük példaképp a következő szituációt: Mondjuk, a te felhasználóneved
  "spamcowboy", és a NagyVállalat nevũ cég kéri tőled az e-mailcímedet (legyen
  ez telefonon, egy boltban, vagy akár a neten - egyre megy). Ahelyett hogy
  megadnád a védett címedet, átnyújtod neki a következőt:
</p>

<p align="center">nagyvallalattol.3.spamcowboy@spamgourmet.com</p>

<p>
  Ez az eldobható e-mailcím akkor jön létre nálunk,
  <i>amikor NagyVállalat elöször használja</i>, tehát nem kell neked semmit sem
  tenned azért, hogy létrejöjjön ez a cím. A hármas szám pedig azt jelenti, hogy
  kizárólag 3 levelet továbbítunk neked a védett címedre. A többit egyből
  "megesszük".
</p>

<p>
  Ha a további beállításokat is meg szeretnéd ismerni, akkor kattints fent a
  "haladó módra".
</p>
