<html><head><title>spamgourmet 新闻</title>
<script language="JavaScript" src="/stuff/js/AddressScrambler.js"></script>
</head>
<body bgcolor="#FFFFCC" onLoad="window.focus()" topmargin=0 bottommargin=0>
<font face="arial, helvetica" size=3 color="#000000">
<b>这是新特点, 等日志为spamgourmet 。有希望地,  常见问题解答和
这些来在线并且被更新。</b>

<p><b>2002-07-31</b>: 我增加信息名单关于最后五则被吃的消息来先进的方式。有希望地 并且固定有MacOS 的问题9 和IE5 由使图表的显示失去能力为那些 浏览器。 </p>


<p><b>2002-06-18</b>:
我从可任意处理物名单去除了" 前缀" 专栏在评论使我体会它的之
后用户重复, 根据对服务的最近变动。</p>

<p><b>2002-04-27</b>: 

我改变了spamgourmet 前缀的作用所以它是只相关的为一个新地址的创作, 而不是为任一则消息向前。我相信这比较有用和直觉, 因为这将有效象一个口令为创造新地址。它过去经常运作所以如果你改变了你的前缀, 你关闭所有消息在现有的地址-- 这是在你能够参加和编辑你现有的地址在这个网站和关闭他们你自己之前, 如此它现在有一点道理。无论如何, 前缀现在是理想的如果你认为人们不同于你正在认为新一次性地址为你的帐户。你能停止他们冷由增加或改变前缀。 
</p>




<p><b>2002-03-23</b>:
我们寻找想测试一个新地址掩没的特点的用户。这个系统修改各则批转的消息所以用户的回复将来经由spamgourmet 而不是去直接这个发令者。这个系统用用户的实际收益地址替代特殊一次性地址。如果你是对帮助感兴趣测试, 喜欢寄发一则消息到<script language="JavaScript">writeMailTo('nsktExufrltzwrjy3htr');</script>  与你的用户名和未来地址所以你的帐户可能被设定。最初的测试好, 但我们需要你的帮助辨认问题。 
</p>

<p><b>2002-03-07</b>:
你能" 现在掩藏" 可任意处理物从看法在查寻屏幕。这好如果你的名单正在变得大的和有许多junk 在它(象我的) 。如果你需要观看 " 暗藏的" 可任意处理物, 正义检查这个" 展示掩藏演讲" 箱子在查寻按钮旁边和做查寻。 
</p>

<p><b>February 24, 2002</b>: Over the next few days/weeks, non-English versions of the website will appear.  As a language becomes ready, you will see it appear in the language list under the login form.  
Our initial goals include German, Spanish, Japanese, and Chinese.  I am mostly using <a href= "http://babelfish.altavista.com" target="_new">Babelfish</a> 
to do the translations, then cleaning them up with the help of friends and hecklers.  
Special thanks to Jochen Schönfeld for doing the German translation.
<br><br>If you speak English and Japanese ... *help*!


<p><b>February 12, 2002</b>: I've fallen way behind updating the page of links
back to sites that have linked to spamgourmet.  I accidently deleted a bunch of
web access logs -- this is what I normally use to identify such sites, so if I
miss yours, that's probably why, and I'll pick it up as soon as someone clicks 
through again.  THANKS to everyone for the links.</p>

<p><b>January 3, 2002</b>: Just added a feature that lets you use a word instead of a number in a disposable, if you like -- the system will take the [English] alphabetic postion of the first letter of the word, and use that for the number.  Remember that the words 'sender' and 'domain' are special, though, and don't work this way.  Anyway, now if you give the address:
<pre>Chunky.the.spamcowboy@spamgourmet.com</pre>
An address will be created that is good for 20 messages since the 't' in 'the' is the 20th letter in the English alphabet. Likewise, 
<pre>Stephen.F.Austin@spamgourmet.com</pre>
would be good for 6 messages, since 'f' is the 6th letter of the English alphabet.  The limit to 20 still applies, so if you use a letter 'greater' than 'T' (like 'U'), the number will be set to 20.  If the system gets a character that's not a letter, and not '+' or '*' (analogous to 'sender' and 'domain', respectively), it will use a default of 3 messages.</p>

<p><b>December 31, 2001</b>: By the way, a few days back the spamgourmet project got approved for IBM's Linux Community Development System and got space on the big ZSeries.  Yay!</p>

<p><b>December 30, 2001</b>: v0.2 of AddressScrambler was released on SourceForge.net.</p>

<p><b>December 30, 2001</b>: I got sick of getting my email address harvested off web pages (and even getting spam from folks who had harvested it, offering to solve the problem), and threw
together some javascript that writes mailto: tags to the page using scrambled address text. This way, the harvester bots won't see an email address unless they have a javascript compiler...  It's currently called AddressScrambler, and version 0.1 is available from the <a href="http://www.sourceforge.net/projects/spamgourmet" target="_new">sourceforge project</a>. 
I'm using it for all the info mailto tags 




(like <i>this one</i>: <script language="JavaScript">writeMailTo('nsktExufrltzwrjy3htr');</script> - view source on this page and see for yourself)



, and on a couple of other websites.  
V 0.1 has no docs, so you might do well to wait for 0.2, at least.  
I'll also be providing at least a Perl server side component, and probably a custom JSP tag, too.  
Anyone who wants to write server side components for other environments (ASP, PHP), etc., please email me.  Yes, I know this is kind of tangential to the main spamgourmet codebase, but it seemed related enough to be included in the project.</p>

<p><b>December 14, 2001</b>: We're down to just a handful of users who remain affected by the confirmation bug.  Again, if you're not receiving any mail, log in, input your forwarding address, save and confirm, and everything should work.  Please send email to <script language="JavaScript">writeMailTo('nsktExufrltzwrjy3htr');</script> if you have any troubles.</p>

<p><b>December 13, 2001</b>: <font size=4>IF YOU SIGNED UP BETWEEN DECEMBER 10TH AND 12TH, 2001, AND ARE NOT RECEIVING MAIL you may need to reconfirm your forwarding address</font> -- 
my sincerest apologies for those of you with fairly long addresses -- a bug in the confirmation system (hastily installed on the 10th) may have truncated it when it was confirmed.  
The problem is fixed now, and a reconfirmation will remedy your situation if your address was truncated.  
I'm going through and fixing the obvious ones by matching the partial address by time and host with the confirmation click through -- but not too many are obvious...  
The confirmation code was totally separate from the core service code, which continues to function normally.  Again, please accept my apologies and thanks for signing up.  If you have any difficulties related to this, send mail to <script language="JavaScript">writeMailTo('nsktExufrltzwrjy3htr');</script> and I'll do whatever I can to help.</p>

<p><b>December 12, 2001</b>: Fixed, hopefully, a bug that was preventing Netscape users from confirming their email addresses.</p>

<p><b>December 10, 2001</b>: Well, it was only a matter of time before someone pointed out the potential for an ill-willed spamgourmet user to sign up for a bunch of lists, confirm, then change the forwarding address to someone else's (an <i>unspeakable</i> thing to do).  
This was 'lj' on the SourceForge discussion group.  At lj's suggestion, I <b>added a confirmation requirement for your spamgourmet forwarding address</b>. That is, before a forwarding address will become active, you must click on the link that was emailed to it.  
Thanks a lot lj! -- of course, better to talk about it than to do it. And, yes, this is why I also registered the domain 'spamcannon.net' awhile back.</p>

<p><b>November 8, 2001</b>: Fixed a reported bug that allowed some spam to get through <gasp!>.  Also, added some new graphs that show average spam by weekday (Wednesday is the worst spam day as of this writing) and total cumulative users versus spam on Wednesdays.  Both show six month trailing data.</p>

<p><b>October 5, 2001</b>: Added some searching and sorting features to the list of addresses (available in advanced mode),
 and added a link to provide the list of addresses in XML format.</p>

<p><b>August 24, 2001</b>: DNS host transfer has completed for the seven domains, and normal service has resumed.  Again, sorry for the inconvenience.</p>

<p><b>August 22, 2001</b>: The DNS hosting for spamgourmet.org, spamgourmet.net, spamcannon.net, antichef.com, antichef.net, neverbox.com, and recursor.net is currently in transition, which means these domains will be in limbo for a day or so.  
The old hoster somehow lost the forwarding rules, which meant the domains weren't working.  Rather than take another shot with the old hoster, we moved the domains.  
Sorry for the inconvenience.  Spamgourmet.com as a domain will continue to function normally during this period.</p>

<p><b>July 14, 2001</b>: We're testing a new feature that lets you get your spam forwarded to an alternate email address, instead of it getting obliterated.  Email info with comments or if you're interested in participating.  Advantages: you don't lose any email.  Disadvantages: you'll probably see spam, more load on server, potential for abuse (by using someone else's address, but who would do something so unspeakable?).</p>

<p><b>July 14, 2001</b>: Various internal code improvements and documentation that bring the code closer to open source release -- let's face it: there's no better motivator for clean, commented code than the possibility that other people might look at it.</b>

<p><b>June 9, 2001</b>: You can now edit your addresses to change the number of messages remaining (0 to 20) and add/edit/delete the 'exclusive sender' record for the address.</p>

<p><b>May 12, 2001</b>: Added a popup in advanced mode for you to view all your addresses.</p>

<p>
<b>February 25, 2001</b>: Began storing a complete copy of each new address, rather than simply storing the word, userid, number of messages, etc.  This will be useful at some point when you want to go back and view all your addresses.
</p>

<p>
<b>January 28, 2001</b>: Added 'exclusive sender' functionality: you can now give an address in the form of 'word.+.username@spamgourmet.com' or 'word.sender.username@spamgourmet.com' and the first sender on that address will be allowed to use it indefinitely.  Likewise, you can give an address in the form of 'word.*.username@spamgourmet.com' or 'word.domain.username@spamgourmet.com' and anyone from the first sender's domain will be allowed to use the address.
</p>

<p align="center"><a href="javascript:window.close()"><font color="#000000">close this window</font></a></p>

</body></html>
