<table border="1" cellspacing="0" cellpadding="0">
  <tr align="center">
    <td valign="bottom">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td
            valign="top"
            bgcolor="#999999"
            width="200"
            height="50"
            align="center"
            id="nobrainer"
            onClick="location='<%action%>?nobrainer=1';"
            class="tdlink"
          >
            <a href="<%action%>?nobrainer=1" class="tdlink">
              <font color="#333333">
                <b><%nobrainermode%></b>
                <br /><%goodprotection%> <br /><%nomaintenance%></font
              ></a
            >
          </td>
          <td
            valign="top"
            bgcolor="#FFFFCC"
            width="200"
            height="50"
            align="center"
          >
            <b><%advancedmode%></b>
            <br /><%betterprotection%> <br /><%alittlemaintenance%>
          </td>
          <td>
            <form
              method="get"
              action="https://www.duckduckgo.com"
              target="_top"
              name="sf"
              id="sf"
              onSubmit="this.q.value = this.q.value + ' site:spamgourmet.com'"
            >
              <table border="0" bgcolor="#FFFFFF">
                <tr>
                  <td
                    nowrap="nowrap"
                    valign="top"
                    align="left"
                    height="30"
                  ></td>
                  <td nowrap="nowrap">
                    <input
                      type="text"
                      name="q"
                      size="31"
                      maxlength="255"
                      value=""
                      onClick="this.value=''"
                    />
                    <input type="submit" value="duckduckgo" />
                  </td>
                </tr>
              </table>
            </form>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
