<table border=1 cellspacing=0 cellpadding=0>
 <tr align=center>
  <td valign="bottom">
   <table border=0 cellspacing=0 cellpadding=0>
    <tr>
     <td valign="top" bgcolor="#999999" width=200 height=50 align="center">
<a href="<%action%>?nobrainer=1">
<b><%nobrainermode%></b>
<br><%goodprotection%>
<br><%nomaintenance%></a>
     </td>
     <td valign="top" bgcolor="#FFFFCC" width=200 height=50 align="center">
<b><%advancedmode%></b>
<br><%betterprotection%>
<br><%alittlemaintenance%>
     </td>
    </tr>
   </table>
  </td>
