<html>
<head>
<link rel="stylesheet" href="/stuff/css/sg.css" type="text/css">
<meta http-equiv="pragma" content="no-cache">
<title>spamgourmet <%title%></title>
<style type="text/css"><!--
body{margin-top:0px;margin-left:0px;margin-right:0px;margin-bottom:0px;}
body,td,div,a{font-family:verdana,arial,helvetica,sans-serif; font-size:12pt }
h2{font-size:13pt}
//-->
</style>
</head>
<body bgcolor="#FFFFCC" onLoad='window.focus()'>


<%data%>

<p align="center"><a href="javascript:close()"><%closewindow%></a></p>

</body>
</html>
