<html>
<head>
<link rel="stylesheet" href="/stuff/css/sg.css" type="text/css">
<meta http-equiv="pragma" content="no-cache">
<title>spamgourmet <%title%></title>
</head>
<body bgcolor="#FFFFCC" onLoad='window.focus()'>
<p align="center">
<font face="verdana,arial,helvetica"><%donatepaypal%></font>
<br>
<table border="0" cellspacing="0" cellpadding="5">
<tr><td align="center">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_new">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="sgpaypal.10.josh@spamgourmet.com">
<input type="hidden" name="item_name" value="spamgourmet.com">
<input type="hidden" name="amount" value="5.00">
<input type="image" src="https://www.paypal.com/images/x-click-but04.gif" border="0" name="submit" alt="$5" valign="middle"><br>$5
</form>
</td>
<td align="center">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_new">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="sgpaypal.10.josh@spamgourmet.com">
<input type="hidden" name="item_name" value="spamgourmet.com">
<input type="hidden" name="amount" value="10.00">
<input type="image" src="https://www.paypal.com/images/x-click-but04.gif" border="0" name="submit" alt="$10" valign="middle"><br>$10
</form>
</td>
<td align="center">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_new">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="sgpaypal.10.josh@spamgourmet.com">
<input type="hidden" name="item_name" value="spamgourmet.com">
<input type="hidden" name="amount" value="20.00">
<input type="image" src="https://www.paypal.com/images/x-click-but04.gif" border="0" name="submit" alt="$20" valign="middle"><br>$20
</form>
</td>
<td align="center">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_new">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="sgpaypal.10.josh@spamgourmet.com">
<input type="hidden" name="item_name" value="spamgourmet.com">
<input type="image" src="https://www.paypal.com/images/x-click-but04.gif" border="0" name="submit" alt="$??" valign="middle"><br>$??
</form>
</td>
</tr></table>

<div align="center">
<img src="stuff/crdcards.gif" border=0 width=200 height=31 alt="major credit cards accepted"><p>
<!-- Begin PayPal Logo --><A HREF="https://www.paypal.com/us/mrb/pal=6DBBEQTYAQY42" target="_blank"><IMG SRC="http://images.paypal.com/images/paypal_mrb_banner.gif" BORDER="0" ALT="Sign up for PayPal and start accepting credit card payments instantly."></A><!-- End PayPal Logo -->

<p><a href="https://www.paypal.com/verified/pal=sgpaypal.10.josh%40spamgourmet.com" target="_new"><img src="https://www.paypal.com/images/verification_seal.gif" width=100 height=100 border=0 alt="PayPal verified"></a>
</p>
<br>
<p><br></p>

<font face="arial,helvetica" size=2>
<a href="javascript:close()"><%closewindow%></a></font></p>
</div>

</body>
</html>
