<html>
<head>
<style type="text/css"><!--
body{margin-top:0px;margin-left:0px;margin-right:0px;margin-bottom:0px;}
body,td,div,a{font-family:verdana,arial,helvetica,sans-serif; font-size:10pt }
h2{font-size:13pt}
h3{font-size:10pt; font-style:italic}
h4{font-size:8pt}
.tdlink{cursor:pointer;cursor:hand;text-decoration:none}
table{border-style:none;}
//-->
</style>

<meta http-equiv="pragma" content="no-cache">
<title>spamgourmet <%title%></title>
</head>
<body bgcolor="#FFFFCC" onLoad='window.focus()'>
<center>

<p align="center">
<font face="verdana,arial,helvetica"><%donatepaypal%></font>
<br>
<table border="0" cellspacing="0" cellpadding="5">
<tr><td align="center">
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=sgpp%2ejosh%40spamgourmet%2ecom&amount=5%2e00&no_shipping=0&no_note=1&tax=0&currency_code=USD&item_name=spamgourmet" target="_new">
<img src="stuff/ppdonate.gif" border="0" alt="Make payments with PayPal - it's fast, free and secure!"><br>$5</a>
</td>
<td align="center">
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=sgpp%2ejosh%40spamgourmet%2ecom&amount=10%2e00&no_shipping=0&no_note=1&tax=0&currency_code=USD&item_name=spamgourmet" target="_new">
<img src="stuff/ppdonate.gif" border="0" alt="Make payments with PayPal - it's fast, free and secure!"><br>$10</a>
</td>
<td align="center">
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=sgpp%2ejosh%40spamgourmet%2ecom&amount=20%2e00&no_shipping=0&no_note=1&tax=0&currency_code=USD&item_name=spamgourmet" target="_new">
<img src="stuff/ppdonate.gif" border="0" alt="Make payments with PayPal - it's fast, free and secure!"><br>$20</a>

</td>
<td align="center">
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=sgpp%2ejosh%40spamgourmet%2ecom&no_shipping=0&no_note=1&tax=0&currency_code=USD&item_name=spamgourmet" target="_new">
<img src="stuff/ppdonate.gif" border="0" alt="Make payments with PayPal - it's fast, free and secure!"><br>$??</a>
</td>
</tr></table>

<center>
<%donationcomments%>
</center>
<p/>
<div align="center">
<img src="stuff/crdcards.gif" border=0 width=200 height=31 alt="major credit cards accepted"><p>
<!-- Begin PayPal Logo --><A HREF="https://www.paypal.com/us/mrb/pal=6DBBEQTYAQY42" target="_blank">

<!--<IMG SRC="http://images.paypal.com/images/paypal_mrb_banner.gif" BORDER="0" ALT="Sign up for PayPal and start accepting credit card payments instantly."></A>--><!-- End PayPal Logo -->

<p><a href="https://www.paypal.com/verified/pal=sgpp.josh%40spamgourmet.com" target="_new"><img src="https://www.paypal.com/images/verification_seal.gif" width=100 height=100 border=0 alt="PayPal verified"></a>
</p>
<br>
<p><br></p>

<font face="arial,helvetica" size=2>
<a href="javascript:close()"></a></font></p>
</div>

</body>
</html>
