<html><head><title>spamgourmet - downloads</title>
<script language="JavaScript" src="/stuff/js/AddressScrambler.js"></script>
</head>
<body bgcolor="#FFFFCC" onLoad="window.focus()" topmargin=0 bottommargin=0>
<font face="verdana,arial, helvetica" size=3 color="#000000">
Here, you can download spamgourmet released code.  You don't need to download anything to <i>use</i> the service -- you can just sign up on the main page for that.  
If you want to host a similar service, add spamgourmet functionality to your existing mail service, or just look at the code, then this is for you.  If you want to get involved in the development project, check out the <a href="http://www.sourceforge.net/projects/spamgourmet" target="_new">sourceforge.net project page</a>.


<P>
<TABLE cellspacing="1" cellpadding="5" width="100%" border="0" bgcolor="#EAECEF">
<TR BGCOLOR="#D1D5D7" BACKGROUND="/themes/forged/images/steel3.jpg" align="center">
<TD colspan=2><SPAN class=titlebar>Latest File Releases</span></td>
</tr><TR align=left bgcolor="#EAECEF">
<TD colspan=2>
<TABLE cellspacing="1" cellpadding="5" width="100%" border="0">
<TR bgcolor="#EAECEF">
<TD align="left">Package</td>
<TD align="center">Version</td>
<td align="center">Date</td>
<TD align="center">Download</td>
<td align="center">Description</td>
</tr>
<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>spamgourmet</b></td>
<TD>0.9.1</td>
<td>2002-05-23</td>
<TD>

<!--  <A HREF="http://www.sourceforge.net/project/showfiles.php?group_id=20543&release_id=66273">Download</A> -->
<a href="http://prdownloads.sourceforge.net/spamgourmet/spamgourmet_0.9.1.tar.gz">Download</a>
</td>
<td align="left">This is the main mail handler code and a database setup script.</td>
</tr>

<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>AddressScrambler</b></td><TD>0.2.2</td>
<td>2003-02-12</td>
<TD>
<a href="http://prdownloads.sourceforge.net/spamgourmet/AddressScrambler_0.2.2.tar.gz">Download</a>
</td>
<td align="left">This is yet another javascript-based email address shield against spam harvester-bots.  This version is for static web pages, and has a handy "helper page" that will generate the necessary inline javascript code for you. 
</td>
</tr>


<TR BGCOLOR="#EAECEF" ALIGN="center">
<TD ALIGN="left"><B>vim/vi macro</b></td><TD></td>
<td></td>
<TD>
<a href="http://unixen.org/spamgourmet/vimrc" target="_new">Download</a>
</td>
<td align="left">
   Here is a vim/vi macro to generate unique From: lines, to be inserted
   into an <strong>amenable MUA</strong>. The macro generates unique
   From: lines, email addresses for outgoing spamgourmet.org email. It
   also leaves you in <em>insert</em> mode at the spot where you can
   edit a tag to ID the recipient. So, save time, spare typing, don't
   rely on faulty memory, and edit defaults manually when the need
   arises.
</td>
</tr>



</table>
</td>
</tr>
</table>


<p> </p>
<p align="center"><font face="verdana,arial,helvetica"><a href="javascript:window.close();"><%closewindow%></a></font></p>
</body></html>
