<table border=1 cellspacing="0" cellpadding="0"><tr>
<td><a href="<%action%>?languageCode=DE"><img src="<%imageshost%>stuff/DE.png" border="0" width="30" height="20" alt="DE"></a></td>

<td><a href="<%action%>?languageCode=EN"><img src="<%imageshost%>stuff/EN.png" border="0" width="30" height="20" alt="EN"></a></td>
</tr><tr>
<td><a href="<%action%>?languageCode=ES"><img src="<%imageshost%>stuff/ES.png" border="0" width="30" height="20" alt="ES"></a></td>

<td><a href="<%action%>?languageCode=FR"><img src="<%imageshost%>stuff/FR.png" border="0" width="30" height="20" alt="FR"></a></td>
</tr><tr>
<td><a href="<%action%>?languageCode=IT"><img src="<%imageshost%>stuff/IT.png" border="0" width="30" height="20" alt="IT"></a></td>

<td><a href="<%action%>?languageCode=JA"><img src="<%imageshost%>stuff/JA.png" border="0" width="30" height="20" alt="JA"></a></td>
</tr><tr>
<td><a href="<%action%>?languageCode=NL"><img src="<%imageshost%>stuff/NL.png" border="0" width="30" height="20" alt="NL"></a></td>

<td><a href="<%action%>?languageCode=NO"><img src="<%imageshost%>stuff/NO.png" border="0" width="30" height="20" alt="NO"></a></td>
</tr><tr>
<td><a href="<%action%>?languageCode=PL"><img src="<%imageshost%>stuff/PL.png" border="0" width="30" height="20" alt="PL"></a></td>

<td><a href="<%action%>?languageCode=RO"><img src="<%imageshost%>stuff/RO.png" border="0" width="30" height="20" alt="RO"></a></td>
</tr><tr>
<td><a href="<%action%>?languageCode=RU"><img src="<%imageshost%>stuff/RU.png" border="0" width="30" height="20" alt="RU"></a></td>

<td><a href="<%action%>?languageCode=SV"><img src="<%imageshost%>stuff/SV.png" border="0" width="30" height="20" alt="SV"></a></td>
</tr><tr>
<td><a href="<%action%>?languageCode=TR"><img src="<%imageshost%>stuff/TR.png" border="0" width="30" height="20" alt="TR"></a></td>

<td><a href="<%action%>?languageCode=ZH"><img src="<%imageshost%>stuff/ZH.png" border="0" width="30" height="20" alt="ZH"></a></td>
</tr></table>
