<map name="flagmap">
<area shape="rect" href="<%action%>?languageCode=DA" coords="0,0 30,20" alt="DA" title="DA">
<area shape="rect" href="<%action%>?languageCode=DE" coords="31,0 60,20" alt="DE" title="De">
<area shape="rect" href="<%action%>?languageCode=EN" coords="0,21 30,40" alt="EN" title="EN">
<area shape="rect" href="<%action%>?languageCode=ES" coords="31,21 60,40" alt="ES" title="ES">
<area shape="rect" href="<%action%>?languageCode=FR" coords="0,41 30,60" alt="FR" title="FR">
<area shape="rect" href="<%action%>?languageCode=IT" coords="31,41 60,60" alt="IT" title="IT">
<area shape="rect" href="<%action%>?languageCode=JA" coords="0,61 30,80" alt="JA" title="JA">
<area shape="rect" href="<%action%>?languageCode=NL" coords="31,61 60,80" alt="NL" title="NL">
<area shape="rect" href="<%action%>?languageCode=NO" coords="0,81 30,100" alt="NO" title="NO">
<area shape="rect" href="<%action%>?languageCode=PL" coords="31,81 60,100" alt="PL" title="PL">
<area shape="rect" href="<%action%>?languageCode=PT" coords="0,101 30,120" alt="PT" title="PT">
<area shape="rect" href="<%action%>?languageCode=RO" coords="31,101 60,120" alt="RO" title="RO">
<area shape="rect" href="<%action%>?languageCode=RU" coords="0,121 30,140" alt="RU" title="RU">
<area shape="rect" href="<%action%>?languageCode=SV" coords="31,121 60,140" alt="SV" title="SV">
<area shape="rect" href="<%action%>?languageCode=TR" coords="0,141 30,160" alt="TR" title="TR">
<area shape="rect" href="<%action%>?languageCode=ZH" coords="31,141 60,160" alt="ZH" title="ZH">
</map>
<img src="stuff/flagmap.png" alt="language flags" width=60 height=160 border=0 usemap="#flagmap">
