  <form action='<%action%>' method='post'>
   <input type='hidden' name='advanced' value='0'>
   <select style="font-size: 7pt; margin-top: 3px; width: 64px; height: 18px;" 
    name='languageCode' onChange='this.form.submit()'>
   <option value='DE' <%DE%>><%languageGerman%></option>
   <option value='EN' <%EN%>><%languageEnglish%></option>
   <option value='ES' <%ES%>><%languageSpanish%></option>
   <option value='FR' <%FR%>><%languageFrench%></option>
   <option value='IT' <%IT%>><%languageItalian%></option>
   <option value='JA' <%JA%>><%languageJapanese%></option> 
<!--   <option value='KO' <%KO%>><%languageKorean%></option> -->
   <option value='NL' <%NL%>><%languageDutch%></option>  
   <option value='NO' <%NO%>><%languageNorwegian%></option>  
   <option value='PL' <%PL%>><%languagePolish%></option>
   <option value='PT' <%PT%>><%languagePortuguese%></option>
   <option value='RO' <%RO%>><%languageRomanian%></option>
   <option value='RU' <%RU%>><%languageRussian%></option>  
   <option value='SV' <%SV%>><%languageSwedish%></option>  
   <option value='TR' <%TR%>><%languageTurkish%></option>
   <option value='ZH' <%ZH%>><%languageChinese%></option>
   </select>
  </form>
