<html><head><title>spamgourmet - links</title>
<style type="text/css"><!--
body{margin-top:0px;margin-left:0px;margin-right:0px;margin-bottom:0px;}
body,td,div,a{font-family:verdana,arial,helvetica,sans-serif; font-size:10pt }
h2{font-size:13pt}
table{border-style:none;}
//-->
</style>
<script language="JavaScript" type="text/javascript">
function openPage(pageLocation) {
  window.open('http://' + pageLocation);
}
</script>
</head><body bgcolor="#FFFFCC" onLoad="window.focus()">
<font face="arial,helvetica">
<div align="center">


<table border=0 cellspacing=3 cellpadding=1 width=80%>
<tr><td colspan="2" align="center">
 <b><a href="<%action%>?printpage=link.html"><%linktous%></a></b>
</td></tr>
<tr><td colspan=2>
<%partnersprizes%> 
</td></tr>

<tr><td align="center" valign="middle">
<a href="javascript:openPage('www.weissabgleich.de/kerze/')">Eine Kerze anzünden</a>
</td>
<td align="center" valign="middle"><br>
</td></tr>


<tr><td align="center" valign="middle">
 <a href="javascript:openPage('www.spamwolf.com')"><b>Spam Wolf</b></a>
</td>
<td align="center" valign="middle"></td>
</tr>

<tr><td align="center" valign="middle">
<a href="javascript:openPage('www.lockergnome.com')"><img src="stuff/lg-award-2.gif" border="0" width="113" height="113" alt="recommended by LockerGnome"></a>
</td><td align="center" valign="middle">
<a href="javascript:openPage('www.spampal.org')"><img src="stuff/spampal.gif" width="140" height="50" border="0" alt="spampal">
</td></tr>

<tr><td align="center" valign="middle"><img src="stuff/yil.png" width="110" height="44" border="0" alt="Yahoo Internet Life"><br>one of the "50 most incredibly<br>useful websites"<br> </td>
<td align="center" valign="middle"><img src="stuff/abTs.png" width="64" height="21" border="0" alt="about.com"><br>
guide rating: <img src="stuff/four.png" width="67" height="15" border="0" alt="four stars">
</td>
</tr>


<tr><td align="center" valign="middle">
<A href="javascript:openPage('sourceforge.net')"><IMG src="http://sourceforge.net/sflogo.php?group_id=20543" width="88" height="31" border="0" alt="SourceForge Logo"></a>
</td><td align="center" valign="middle"><font face="arial,helvetica">
<a href="javascript:openPage('www-1.ibm.com/servers/eserver/zseries/os/linux/lcds/index.html#register')">IBM Linux Community<br>Development System</a>
</td></tr>

<tr><td align="center" valign="middle">
<br>
<a href="javascript:openPage('tackorama.net/')"><img src="stuff/tack-o-rama.png" border=0 width=88 height=31 alt="tack-o-rama"></a>
</font></td>
<td align="center" valign="middle">
<a href="javascript:openPage('www.usatoday.com/life/cyber/ch.htm')"><img src="stuff/usahot.gif" border=0 width=88 height=31 alg="USA Today Hot Site"></a>
</td></tr>

<tr><td align="center" valign="middle">
<a href="javascript:openPage('fracture98.blogspot.com/')"><img src="stuff/shouting.png" width="88" height="31" border="0" alt="Shouting into the Void"></a>
</td><td align="center" valign="middle">
<a href="javascript:openPage('www.spambouncer.org')">The SpamBouncer</a>
</td></tr>

<tr><td align="center" valign="middle"><a href="javascript:openPage('www.spamfan.de')">spamfan.de</a>
</td><td align="center" valign="middle"><a href="javascript:openPage('www.spam-o-meter.com')">spam-o-meter</a>
</td></tr>

<tr><td align="center" valign="middle"><a href="javascript:openPage('www.spamfree.org')">SpamFree - Free Email Spam Resources and Info</a>
</td><td align="center" valign="middle">
</td></tr>

</table>


<p> </p>
<table border=0 cellspacing=3 cellpadding=1 width=80%>
<tr><td colspan=2>
<%linkstous%>
</td></tr>

<tr>
<td>
<a href="javascript:openPage('www.neilgunton.com/')">Neil Gunton's Home Page</a>
</font></td><td>
</font></td></tr>



<tr>
<td>
<a href="javascript:openPage('www.boingboing.net')">boingboing</a>
</td><td>
<a href="javascript:openPage('www.grouse.net.au')">Grouse!</a>
</td></tr>
<tr><td>

</td><td>
<a href="javascript:openPage('www.geocities.com/angelofrepose/')">Angel of Repose</a></td></tr>
<tr><td>
<a href="javascript:openPage('directory.mozilla.org')">DMOZ</a>
</td><td>
<a href="javascript:openPage('www.cardhouse.com')">CARDHOUSE</a>
</td></tr>

<tr><td>

</td><td>

</td></tr>

<tr><td>
<a href="javascript:openPage('www.ollo.net')">ollo.net</a>
</td><td>
<a href="javascript:openPage('keir.net/k9.html')">keir.net</a>
</td></tr>

<tr><td>
<a href="javascript:openPage('www.coolpick.com')">CoolPick.com</a>
</td><td>
<a href="javascript:openPage('www.vulgusfilter.com')">vulgusfilter.com</a>
</td></tr>

<tr><td>
<a href="javascript:openPage('email.about.com')">email.about.com</a>
</td><td>
<a href="javascript:openPage('www.aesopsfables.net')">aesopsfables.net</a>
</td></tr> 

<tr><td>
<a href="javascript:openPage('www.clickablemelvin.com')">the Clickable Melvin</a>
</td><td>
<a href="javascript:openPage('www.josiah.net')">Hamilton Home Page</a>
</td></tr>

<tr><td>

</td><td>
<a href="javascript:openPage('www.randomdrivel.com')">Random Drivel</a>
</td></tr> 

<tr><td>
<a href="javascript:openPage('www.milkandcookies.com')">Milk and Cookies</a>
</td><td>

</td></tr>  

<tr><td>
<a href="javascript:openPage('www.sphipps.com/simon/')">Simon Phipps</a>
</td><td>
<a href="javascript:openPage('www.aaa.com.au')">AAA Matilda</a>
</td></tr> 

<tr><td>
<a href="javascript:openPage('www.unkind.org')">unkind.org</a>
</td><td>

</td></tr>

<tr><td>
<a href="javascript:openPage('stormwerks.com/linked')">usr/bin/girl</a>
</td><td>
<a href="javascript:openPage('www.usewisdom.com/')">Use Wisdom</a>
</td></tr>


<tr><td>
<a href="javascript:openPage('cvip.fresno.com/~mag77/')">Gasio Mirror Fresno</a>
</td><td>
<a href="javascript:openPage('www.tokenasians.com')">Tokenasians.com</a>
</td></tr>

<tr><td>
<a href="javascript:openPage('www.myinsulators.com/pole-climbing/')">The Pole Climbing Primer</a>
</td><td>
<a href="javascript:openPage('www.bodo.com')">Bodo's Lair</a>
</td></tr>


<tr><td>
<a href="javascript:openPage('www.cityoftakomapark.org/wwwboard/index.html')">Takoma Park Message Board</a>
</td><td>

</td></tr>

<tr><td>

</td><td>
<a href="javascript:openPage('www.rock1053.com/main.html')">KIOZ - FM</a>
</td></tr>

<tr><td>

</td>
<td>
<a href="javascript:openPage('www.cs.usask.ca/undergrads/rab439/Project/html/project.htm')">GROUP 2: Privacy and the Internet</a>  
</td></tr>



<tr><td>

<td>
<a href="javascript:openPage('www.cs.huji.ac.il/~alsbergt/')">Tom Alsberg's homepage</a>
</td>
</tr>

<tr><td>

</td><td>
<a href="javascript:openPage('spam.abuse.net')">spam.abuse.net</a>
</td></tr>


<tr><td>
<a href="javascript:openPage('www.techsoup.org')">Tech Soup</a>
</td><td>
<a href="javascript:openPage('www.hlrnet.com')">hlrnet.com</a>
</td></tr>

<tr><td>

</td><td>

</td></tr>

<tr><td>

</td><td>

</td></tr>


<tr><td>
<a href="javascript:openPage('www.netu.ro')">netu.ro</a>
</td><td>
<a href="javascript:openPage('www.bersvendsen.com/')">bersvendsen.com</a>
</td></tr>

<tr><td>
<a href="javascript:openPage('www.geekman.com/')">geeklog</a>
</td><td>
<a href="javascript:openPage('www.limone.de/blog/')">Limone</a>
</td></tr>

<tr><td>

</td><td>
<a href="javascript:openPage('www.klaus-arnhold.de')">Klaus Arnhold</a>
</td></tr>

<tr><td>
 
</td><td>
<a href="javascript:openPage('spam.h1r.org/spambot/index.html')">spam.h1r.org</a>
</td></tr>

<tr><td>
<a href="javascript:openPage('www.yahoo.com')">Yahoo!</a>
</td><td>
<a href="javascript:openPage('www.castanet.net')">Castanet</a>
</td></tr>

<tr><td>
<a href="javascript:openPage('www.100shiki.com')">100Shiki</a>
</td><td>
<a href="javascript:openPage('japan.internet.com')">Japan.internet.com</a>
</td></tr>

<tr><td>
<a href="javascript:openPage('index.nana.co.il')">index.nana.co.il</a>
</td><td>
<a href="javascript:openPage('www2.biglobe.ne.jp/~yusasa/')">yusasa's Web page</a>
</td></tr>

<tr><td>
<a href="javascript:openPage('www.blackstump.com.au/')">The BlackStump</a>
</td><td>
<a href="javascript:openPage('www.bitmappers.com/Pag_Weblinks.htm')">Bitmappers</a>
</td></tr>

<tr><td>

</td><td>

</td></tr>

<tr><td>
<a href="javascript:openPage('www.zeldman.com')">Zeldman's Daily Report</a>
</td><td>

</td></tr>

<tr><td>
<a href="javascript:openPage('www.sigurdsson.dk')">Unselective Rantings</a>
</td><td>
<a href="javascript:openPage('chicagotribune.com')">The Chicago Tribune</a>
</td></tr>


<tr><td>
<a href="javascript:openPage('www.sunspot.net')">sunspot.net</a>
</td><td>
<a href="javascript:openPage('webwatch.jacksonville.com')">Jacksonville.com web watch</a>
</td></tr>

<tr><td>
<a href="javascript:openPage('www.seacoastonline.com')">Portsmouth Herald Business News</a>
</td><td>
<a href="javascript:openPage('www.verture.net')">Verture.net</a>
</td></tr>


<tr><td>
<a href="javascript:openPage('www.veel-in-een.nl')">VEEL-IN-EEN</a>
</td><td>

</td></tr>

<tr><td>
<a href="javascript:openPage('www.11alive.com')">11 Alive</a>
</td><td>
<a href="javascript:openPage('www.welt.de')">Die Welt Online</a>
</td></tr>

<tr><td>
<a href="javascript:openPage('lists.evolt.org')">lists.evolt.org</a>
</td><td>

</td></tr>

<tr><td>
<a href="javascript:openPage('www.muchosucko.com')">MuchoSucko.com</a>
</td><td>
<a href="javascript:openPage('www.taz.de/~fd/')">WofFS</a>
</td></tr>

<tr><td>
<a href="javascript:openPage('www.email911.com')">Email 911</a>
</td><td>
<a href="javascript:openPage('www.heise.de')">heise online</a>
</td></tr>

<tr><td>
<a href="javascript:openPage('www.sunday-times.co.uk')">The Sunday Times</a>
</td><td>

</td></tr>

<tr><td>
<a href="javascript:openPage('members.aon.at/hanna')">HH Homepage</a>
</td><td>

</td></tr>

<tr><td>
<a href="javascript:openPage('www.cyberie.qc.ca/chronik')">Les Chroniques de Cybé</a>
</td><td>
<a href="javascript:openPage('www.freebelt.com')">freebelt.com</a>
</td></tr>

<tr><td>

</td><td>
<a href="javascript:openPage('wolfram.org')">Wolfram.org</a>
</td></tr>

<tr><td>
<a href="javascript:openPage('www.philringnalda.com/')">philringalda.com</a>
</td><td>

</td></tr>

<tr><td>
<a href="javascript:openPage('www.freedomlist.com')">Freedomlist</a>
</td><td>
<a href="javascript:openPage('www.rymdimperiet.com')">Rymdimperiet</a>
</td></tr>

<tr><td>
<a href="javascript:openPage('www.macintouch.com/spam.html')">MacInTouch</a>
</td><td>

</td></tr>

<tr><td>

</td><td>
<a href="javascript:openPage('southwestaffinity.com/links.htm')">Southwest Affinity</a>
</td></tr>

 <tr>
  <td>
   <a href="javascript:openPage('click.com/flung')">Flung!</a>
  </td>
  <td>

  </td>
 </tr>



<tr><td>
<a href="javascript:openPage('www.iskon.hr')">Iskon Portal</a>
</td><td>
<a href="javascript:openPage('www.recursor.net')">The Recursor (my blog :))</a>
</td></tr>

<tr><td>
<a href="javascript:openPage('www.chicagoboyz.net/')">Chicago Boyz</a>
</td><td>
<a href="javascript:openPage('www.4ppl.com/')">4ppl Online Dating Personals</a>
</td></tr>


</table>

<br>
<%otherlinks%>
<table width=100%><tr>
<td align="center">
<a href="javascript:openPage('www.spamrecycle.com')">
<img src="stuff/rgbsmall.gif" border=0 width=63 height=59 alt="Spam Recycling Center"></a>
</td>
<td align="center">
<a href="javascript:openPage('www.cauce.com')">
<img src="stuff/bigger-caucebtn.gif" border=0 width=123 height=48 alt="CAUCE"></a>
</td>
</tr>
<tr>
<td align="center">
<a href="javascript:openPage('www.mail-abuse.org')">
<img src="stuff/newmapsrbl.gif" border=0 width=150 height=50 alt="MAPS RBL"></a>
</td>
<td align="center">
<a href="javascript:openPage('spam.abuse.net/')"><img src="stuff/spam.abuse.gif" border=0 alt="spam.abuse.net" width=88 height=31></a>
</a>
</font></td>
</tr><tr>
<td align="center">
<a href="javascript:openPage('spamcop.net/')"><img 
  src="http://spamcop.net/images/spamcop.gif"
  width=90 height=30 border=0
  alt="SpamCop.net - Spam reporting for the masses"></a>

</td><td align="center">
<a href="javascript:openPage('www.samspade.org')"><img src="stuff/samspade.gif" border=0 width=90 height=30 alt="Sam Spade"></a>
</td>
</tr>
<tr>
<td align="center">
 <a href="javascript:openPage('www.spam.org')">spam.org</a>
</td>
<td align="center">
 <a href="javascript:openPage('www.spamlaws.com')">spamlaws.com</a>
</td>
</tr>

<tr>
<td align="center">
 <a href="javascript:openPage('www.thespameater.com')">thespameater</a>
</td>
<td align="center">
 <a href="javascript:openPage('Spamotomy.com')">Spamotomy</a>
</td>
</tr>

<tr>
 <td align="center">
  <a href="javascript:openPage('keir.net/k9.html')">K9</a>
 </td>
 <td align="center">
  <a href="javascript:openPage('www.irtf.org/asrg/')">Anti-Spam Research Group</a>
 </td>
</tr>

<tr>
 <td align="center">
  <a href="javascript:openPage('www.spam-site.com/')">Spam-site.com</a>
 </td>
 <td align="center">
<a href="javascript:openPage('www.freeantispam.org')">free antispam softwares</a>
 </td>
</tr>



</table>

<p> </b>
<table width=100%>
 <tr>
  <td align="center">
<a href="javascript:openPage('www.vim.org')">
<img src="stuff/vim.gif" border=0 width=90 height=36 alt="VIM"></a>
  </td>
 </tr>
 <tr>
  <td align="center">

  </td>
 </tr>
</table>


</div>

</body></html>
