<html><head><title>link to spamgourmet!</title>
<script language="javascript">
function size1 () { 
  document.codeform.code.text = '<a href = "http://www.spamgourmet.com"><img src = "sgbutton1.gif" width=150 height=40 border=0 alt="spamgourmet"></a>';
}
function size2 () {
  document.codeform.code.text = '<a href = "http://www.spamgourmet.com"><img src = "sgbutton1.gif" width=88 height=31 border=0 alt="spamgourmet"></a>';

}

</script>
</head>
<body bgcolor="#993366" onLoad="window.focus()" topmargin=0 bottommargin=0>
<table border=0 width=100% height=100% cellspacing=0 cellpadding=0>
<tr><td align="center">
<font face="verdana,arial, helvetica" size=3 color="#FFFFFF">
Link to spam gourmet!
<p><img src="stuff/sgbutton1.gif" width=150 height=40 border=0 alt="save me!">
<p><img src="stuff/2/sgbutton1.gif" width=150 height=40 border=0 alt="save me!">
<p><font size=2>Save one of these button images and place a copy on your website. Then, add this code
to your website where you'd like to place the button:
<form name="codeform">
<textarea name="code" rows=6 cols=30><a href = "http://www.spamgourmet.com"><img src = "sgbutton1.gif" width=150 height=40 border=0 alt="spamgourmet"></a></textarea>
</form>
<a href="javascript:window.close()"><font color="#FFFFFF"><%closewindow%></font></a>
</font></font></td></tr></table>

</body></html>
