<br>
<div align="center"><%setnewpassword%><br><b><%message%></b><br>
<form action="<%action%>" method="post" onSubmit="return checkResetPasswordForm(this);">
<input type="hidden" name="hc" value=<%hc%>>

<table border=0 cellspacing=0 cellpadding=2>
<tr><td align="right"><%newpass%></td> <td><input type="password" name="newpassword" value="" onFocus="this.select();" size=10></td></tr>
<tr><td align="right"><%confirm%></td> <td><input type="password" name="newpasswordconfirm" value="" onFocus="this.select();" size=10></tr>

<tr><td colspan=2 align="center"><input type="submit" value="<%setnewpassword%>"> </td></tr>
</table>
</div>
<br>
</form>
