<p><font size="+2">
How spamgourmet works
</font></p>

<p>
If you give your email address to everyone, you are bound to receive spam emails, and you won't know where they came from. Wouldn't it be convenient to give a different email address to every business or web site, while getting all your email as before?  Wouldn't it be easiest to <i>assume</i> the address will be given to spammers, and have it work as a spam blocker by shutting off automatically unless you decide otherwise?</p>

<p>
That's exactly what spamgourmet offers! There is nothing to install on your computer, and <i>once you're set up, it's likely you won't ever have to come back here.</i>  This is what makes spamgourmet one of the most convenient and effective anti-spam tools available.</p>

<p>Protect yourself from spam in three easy steps:</p>

<p><b>1.</b>
If you haven't done it yet, create a spamgourmet account.
<!-- CHANGE syskoll 2004-02-07 16:13:51 -->
Enter your user name and the email address you want to be protected.  You will be asked to identify the word in a picture and pick a password.</p>
<!-- END CHANGE syskoll 2004-02-07 16:13:51 -->
<p><b>2.</b>
Spamgourmet will forward to this address all the emails sent to your spamgourmet disposable addresses -- that way you don't have to tell anyone else what it is -- this is why it's called the <i>protected address</i>. Of course, this protected address must exist. That's why you have to confirm it. You'll receive an email asking you to confirm.</p>

<p><b>3.</b>
After you have confirmed your protected address, you can give out self-destructing disposable email addresses whenever you want. The disposable addresses are like:</p>

<p align="center"><b>someword.</b><i>x.</i><b>user</b>@spamgourmet.com</p>

 <p>where <b>someword</b> is a word you have never used before, <i>x</i> (optional) is the number of email messages you want to receive at this address (up to 20, and the number 3 will be used if you leave it out), and <b>user</b> is your username.</p>

<p>For example, if your user name is "spamcowboy", and BigCorp wants you to give them your email address (on the web, on the phone, at a store - it doesn't matter), instead of giving them your protected address, give them this one:</p>

<p align="center"><b><i>frombigcorp.3.spamcowboy@spamgourmet.com</i></b><br>(and <b><i>frombigcorp.spamcowboy@spamgourmet.com</i></b> will work the same way)</p>

<p>This disposable email address will be created here <i>the first time BigCorp uses it</i> (you don't have to do anything to create it), and you'll receive at most 3 messages, forwarded to your protected address. The rest will be indelicately consumed.</p>

<p>If you want more options, choose the "advanced mode" tab above.</p>
<p>By the way, we *never* send email with attachments -- if you get one that appears to be from us, don't open it! It's probably a virus</p>
