<table border=1 cellspacing=0 cellpadding=0>
 <tr align=center>
  <td valign="bottom">
   <table border=0 cellspacing=0 cellpadding=0>
    <tr>
     <td valign="top" bgcolor="#FFFFCC" width=200 height=50 align="center">
<b><%nobrainermode%></b>
<br><%goodprotection%>
<br><%nomaintenance%>
     </td>
     <td valign="top" bgcolor="#999999" width=200 height=50 align="center" id="advanced" onClick="location='<%action%>?advanced=1';" class="tdlink">
<a class="tdlink" href="<%action%>?advanced=1">     
<font color="#333333">
<b><%advancedmode%></b>
<br><%betterprotection%>
<br><%alittlemaintenance%></font></a>
     </td>
    </tr>
   </table>
  </td>
 </tr>
</table>
