<html>
  <head>
    <title>spamgourmet privacy statement</title>
  </head>
  <body bgcolor="#FFFFCC" onLoad="window.focus()">
    <font face="verdana,arial,helvetica" size="2">
      <b>Privacy policy</b>
      <br />Your privacy and the integrity of the information you provide this
      site (your email address) are the primary reasons this site exists. This
      is a non-commercial service -- no value is placed on your information, and
      no gain will be derived from the possession of it. We will not provide
      this information under any circumstances to any party other than duly
      authorized law enforcment officials, or a court of competent jurisdiction
      and only in connection with a legitimate investigation.
      <p>
        We have never sent a broadcast message to our users via their email
        addresses and probably never will (we do post notices on the BBS and via
        twitter sometimes). This means that if you care to keep up with news
        about the service, you will need to check the website or bbs (or
        twitter) every once in a while.
      </p>

      <p>
        <b>Information collected by this site</b> <br />In order for the service
        to function, you must provide an email address at which you can receive
        email. Other than that, no personal information is collected about you.
        Our code does not store email in any way. It is either immediately
        forwarded to your email address or erased in volatile memory.
        Information collected by this site is and will be used for no purpose
        other than to provide this service, and will not be transferred to other
        parties.
      </p>

      <p>
        <b>Cookies</b> <br />For authenticated sessions, this site uses session
        cookies which remain in your computer's memory until you log out or
        close your browser. This site does not use persistent cookies by default
        and stores no information on your computer between sessions, unless you
        request such cookies by clicking the appropriate options.
      </p>

      <p>
        <b>Privacy contact</b> <br />If you have any questions about these
        policies, <a href="/contact.html">please contact us</a>.
      </p>

      <p></p>
      <div align="center">
        <a href="javascript:window.close()"><%closewindow%></a>
      </div>
    </font>
  </body>
</html>
