<font face="verdana,arial,helvetica" size=3 color="#000000">
<p></p>
<div align="center"><%sendpasswordreset%><br><b><%message%></b><br>
<form action="<%action%>" method="post">

<table border=0 cellspacing=0 cellpadding=2>
<tr><td align="right"><font face="verdana,arial,helvetica"><%user%></font></td> <td><input type="text" name="resetpassworduser" value="" onFocus="this.select();" size=10></td></tr>
<tr><td align="right"><font face="verdana,arial,helvetica"><%email%></font></td> <td><input type="text" name="resetpasswordemail" value="" onFocus="this.select();" size=10></td></tr>
<tr><td colspan=2 align="center"><input type="submit" value="<%go%>"> </td></tr>
</table>
</div>
<br>
</form>

</p>

</font>

