<html>
<head>
<meta http-equiv="pragma" content="no-cache">
<title>spamgourmet team</title>
<script language="JavaScript" src="stuff/js/AddressScrambler.js"></script>
</head>
<body bgcolor="#FFFFCC" onLoad='window.focus()'>
<font face="verdana,arial,helvetica">
Spamgourmet was created and is run by volunteers.  Here's a brief rundown of the team:  
<table border=1 cellspacing=0 cellpadding=1>
 <tr>
  <td><b>name</b></td>
  <td><b>role</b></td>
  <td><b>etc.</b></td>
 </tr>
 <tr>
  <td><script language="JavaScript">writeMailToWithClearDisplayText('nsktExufrltzwrjy3htr','Josiah (Josh) Q. Hamilton');</script></td>
  <td>concept, design/development, admin, press, etc.</td>
  <td><a href="http://www.jqhlaw.com" target="_new">Attorney</a>, spam-hater, and software enthusiast in Houston, TX</td>
 </tr>
 <tr>
  <td><a href="http://www.unixen.org" target="_new">John Bajana-Bacalle</a></td>
  <td>supplemental development, QA</td>
  <td>I'm a Brooklyn, New York <a href="http://www.gnu.org" target="_new">free software</a> aficionado. I use and enjoy <a href="http://www.debian.org" target="_new">Debian GNU/Linux</a> and the <a href="http://www.openbsd.org" target="_new">OpenBSD</a> operating systems. I'm looking for an IT job. :)</td>
 </tr>
 <tr>
  <td>Jochen Schoenfeld</td>
  <td>German Translation</td>
  <td>I'm a 29 years old computer engineer living in Berlin, Germany. I did the
translation because I'm fascinated from spamgourmet's idea and want to
support this great project.</td>
 </tr>
 <tr>
  <td>Michael H</td>
  <td>German Translation</td>
  <td>I am 39 years old, three dogs, fotographer (<a href="http://www.weissabgleich.de" target="_new">www.weissabgleich.de</a>),
 see also <a href="http://kerzenserver.de" target="_new">kerzenserver.de</a>, 
 and I am a locksmith too ;-) (<a href="http://www.einbruchschutz-nord.de" target="_new">www.einbruchschutz-nord.de</a>). And of course I am a fan of
spamgourmet.com.</td>
 </tr>

 <tr>
  <td><a href="http://www.nicolasgregoire.com" target="_new">Nicolas Grégoire</a></td>
  <td>French Translation</td>
  <td>Visit <a href="http://www.nicolasgregoire.com" target="_new">www.nicolasgregoire.com</a></td>
 </tr>  

 <tr>
  <td>Pettigrew V. Hamilton</td>
  <td>French Translation</td>
  <td> <br> </td>
 </tr>  

 <tr>
  <td>Luisa Crosara</td>
  <td>Italian Translation (in progress)</td>
  <td>I am a translator and a fan of SpamGourmet.com visit <a href="http://www.LuisaCrosara.com" target="_new">www.LuisaCrosara.com</a> and <a href="http://www.Business2Translate.com" target="_new">www.Business2Translate.com</a></td>
 </tr>  

 <tr>
  <td>Nicola Zordan</td>
  <td>Italian Translation (aid)</td>
  <td>I am a Software professional. I think that SpamGourmet.com is a terrific idea and gives the web users an impressive service. Visit <a href="http://www.NicolaZordan.com" target="_new">www.NicolaZordan.com</a>
</td>
 </tr>  

 <tr>
  <td>Amit Marathe</td>
  <td>Development</td>
  <td>I am a 29 year old software professional in New York who also likes
mathematics and chess. I was very impressed with the simplicity and
effectiveness of the SpamGourmet service and plan to support future
development of this project.</td>
 </tr>

 <tr>
  <td>Fred Mora</td>
  <td>Development, French Translation</td>
  <td>Software engineer, tech writer, open-source enthusiast.</td>
 </tr>


 <tr>
  <td>Eugeny Sattler</td>
  <td>Russian Translation</td>
  <td>I am a moderator in the following conferences:
<br>  <script language="JavaScript">writeMailTo('wz2wjlj}E fmttlwtzux3htr');</script> (russian language discussion about crafting regexes).

<br>  <script language="JavaScript">writeMailTo('InwjhyQnspxE fmttlwtzux3htr');</script>
 (russian language duscussion about useful software and services).

<br>  <script language="JavaScript">writeMailTo('fhhrfnqEqnxyxjw{3ftq3htr');</script> (english language discussion about accessing internet purely by email).

<br>  The internet-by-email service I like very much <a href="http://wmt.msk.ru" target="_new">http://wmt.msk.ru</a> (in russian).
<br>  My picture can be seen <a href="http://profiles.yahoo.com/accmailer" target="_new">here</a>.

<br>Want your site translated into Russian? Ask me to do it for you. My email is <script language="JavaScript">writeMailTo('fhhrfnqjwEpr3wz');</script>

  </td>
 </tr>  

 <tr>
  <td>Anders Olsson</td>
  <td>Swedish Translation</td>
  <td>
I'm an IT consultant who really likes spamgourmet, and especially the fact
that it's free. I thought I'd do my part and do the swedish translation.
  </td>
 </tr>

 <tr>
  <td>Sinan Can Ýmamoðlu</td>
  <td>Turkish Translation</td>
  <td> <br> </td>
 </tr>

 <tr>
  <td>David Ricardo Ramírez</td>
  <td>Spanish Translation</td>
  <td> <br> </td>
 </tr>

 <tr>
  <td>Jamie Keulemans</td>
  <td>Dutch Translation</td>
  <td>
I am a 17 years old student from the netherlands. im following a
education to become a computer technician. when im done following this
education im going through to a become a network specialist. i really
like spamgourmet because my inbox is finally spam free =). no link for
me.
  </td>
 </tr>

 <tr>
  <td>Robin Dequidt</td>
  <td>Dutch Translation</td>
  <td>
This family name is difficult to pronounce: it's like [duhkwi:t]. I am Flemish. I studied at the university of Gent (Eng.: Ghent)(Belgium) Germanic languages. So, translating the menu here of SpamGourmet was an opportunity. My hobby here at home is working on the Wikipedia, mainly in the Dutch version. I was a teacher and had several other positions. My mother language is Dutch and this language is spoken with some regional differences in the Netherlands and in the northern part of Belgium, called Flanders ( adj.: Flemish). 
  </td>
 </tr>


 <tr>
  <td>Geir Thomas Nordskog</td>
  <td>Norwegian Translation</td>
  <td>
28 year young IT-instructor, who adores spamgourmet. I demonstrate
spamgourmet in all my classes, as an easy-to-use, effective and free
website in the fight against spam. After using it for some years now, I
chose to give something back to spamgourmet by translating the site.
  </td>
 </tr>

 <tr>
  <td>Carlos Bachmaier</td>
  <td>Spanish Translation</td>
  <td>
Currently 45, living in Madrid, Spain
  </td>
</tr>

 <tr>
  <td>Andrei Szanto</td>
  <td>Romanian Translation</td>
  <td>
communications engineer - living in
Romania, Cluj-Napoca, passionate by Commix and PC
Games
  </td>
 </tr>

 <tr>
  <td>Piotr Pikula</td>
  <td>Polish Translation</td>
  <td>Finance professional from Poland.  Hates spam and wants to make spammers' life a bit more difficult.
  </td>
 </tr>
 <tr>
  <td>JF Boyer</td>
  <td>French Translation (FAQ)</td>
  <td>

Draftsman & translator. Home page: <a href="http://www.zpilote.freesurf.fr" target="_new">www.zpilote.freesurf.fr</a> 


  </td>
 </tr>
 <tr>
  <td>Cleber Matos</td>
  <td>Portuguese Translation</td>
  <td>
Sometimes a musician at Barattas Ômicidas (<a href="http://www.barattas.com.br" target="_new">http://www.barattas.com.br</a>),<br>
sometimes a kendo player,<br>
but most of time a Communication student who has a stuck on new technologies
and enjoys cool sites.<br>
I'm graduated in Advertising and I'm doing my M.D. in Communication (about
Virtual Communities).<br>
 I like programming ( a little perl...) and love spamgourmet =D


  </td>
 </tr>
</table>
<br>And of course, spamgourmet users constantly contribute through new feature suggestions, bug reports, and the like.

<p align="center"><a href="javascript:close()"></a></p>
</font>
</body>
</html>
