<form action="<%action%>" method="post">
<p>
<%forwardingaddress%> <input type="text" name="realemail" value="<%realemail%>">
<input type="hidden" name="saverealemail" value=1>
<input type="<%button%>" value="<%save%>" onClick="<%onclick%>">
</form>
<p><font face="arial,helvetica"><i><%pendingmsg%></i></font></p>

<p><font size=+2>
How spamgourmet works
</font></p>

<p>
If you give your email address to everyone, you are bound to receive spam emails, and you won't know who sends them. Wouldn't it be convenient to be able to give a different email address to every business and every web site, while getting all your email as before?</p>

<p>
Well, that's exactly what Spamgourmet offers! Free yourself from spam in three easy steps:</p>

<p><b>1.</b>
If you haven't done it yet, create a spamgourmet account. Enter your user name and your email address.
<!-- CHANGE syskoll  2004-02-07 15:49:27 EST-->
You'll be brought to the registration page where you'll have to pick a password.
<!-- END CHANGE syskoll  2004-02-07 15:49:27 EST-->
 </p>

<p><b>2.</b>
Spamgourmet will forward to this address all the emails sent to your Spamgourmet disposable addresses -- hence the name <I>forwarding address</i>. Of course, this forwarding address must exist. That's why you have to confirm it. You'll receive an email asking you to confirm.</p>

<p><b>3.</b>
After you have confirmed your forwarding address, you can give out self-destructing disposable email addresses whenever you want. The disposable addresses are like:</p>

<p align="center"><i>someword.x.user</i>@spamgourmet.com</p>

 <P>where <I>someword</i> is a word you have never used before, <I>x</i> is the number of email messages you want to receive at this address (up to 20), and <I>user</i> is your username. For example, if your user name is "spamcowboy", and BigCorp wants you to give them your email address, give them this one:</p>

<p align="center">frombigcorp.3.spamcowboy@spamgourmet.com</p>

<p>The email address be created here the first time it is <I>used</i>, and you'll receive at most 3 messages (forwarded to your forwarding address). The rest will be indelicately consumed.</p>

<p>That's it. You won't ever have to come back here.</p>

<p>If you want more options, choose the "advanced mode" tab above.</p>

</font>