<p><font size="+2">Hur spamgourmet fungerar</font></p>

<p>
Om du ger ut din e-postadress till vem som helst är du dömd att få spam-mail, och du kommer inte att veta var de kommer ifrån. Vore det inte smidigt att kunna ge olika adresser till varje företag eller webbsajt, men fortfarande få all mail till dig som vanligt? Vore det inte allra enklast att <i>anta</i> att adressen kommer att hamna hos spammare, och stänga av den automatiskt såvida du inte bestämmer dig för att behålla den?</p>

<p>
Det är precis det som spamgourmet erbjuder! Du behöver inte installera något på din dator, och <i>när du har satt upp ditt konto här kommer du antagligen aldrig att behöva återvända hit igen.</i>  Det är det som gör spamgourmet till en av de allra enklaste och effektivaste lösningarna för att undvika spam.</p>

<p>Beväpna dig mot spammare med tre enkla steg:</p>

<p><b>1.</b>
Om du inte har gjort det än, skapa ett spamgourmet-konto.
Skriv in ditt användarnamn och din riktiga e-postadress. Du kommer att ombedjas att skriva av några bokstäver och siffror från en bild och välja ett lösenord.</p>

<p><b>2.</b>
Spamgourmet kommer att vidarebefordra alla e-postmeddelanden som skickas till dina disponibla e-postadresser på spamgourmet till din riktiga e-postadress. Naturligtvis måste din riktiga e-postadress existera. Det är därför du måste bekräfta den. Du kommer att få ett e-postmeddelande som ber dig att bekräfta e-postadressen.</p>

<p><b>3.</b>
Efter att du har bekräftat din riktiga e-postadress kan du börja ge ut självförstörande disponibla e-postadresser dit du vill.  De disponibla adresserna ser ut t.ex. så här:</p>

<p align="center"><i>någotord.x.användarnamn</i>@spamgourmet.com</p>

<p>där <i>någotord</i> är ett ord som du inte har använt förut, <i>x</i> är antalet e-postmeddelanden som du vill ta emot till adressen (upp till 20), och <i>användarnamn</i> är ditt användarnamn.</p>

<p>Till exempel: Om ditt användarnamn är 'pelle', och 'Spelbolaget AB' vill att du ger dem din e-postadress (på webben, över telefon, i butiken - det spelar ingen roll) kan du istället för att ge dem din riktiga e-postadress ge dem denna:

<p align="center">spelbolaget.3.pelle@spamgourmet.com</p>

<p>Denna disponibla e-postadress kommer att skapas här <i>första gången Spelbolaget använder den</i> (du behöver inte göra något själv för att skapa den), och du kommer att få max tre e-postmeddelanden vidarebefordrade till din riktiga e-postadress. Resten kommer glupskt att ätas upp och försvinna.</p>

<p>Om du vill ha fler inställningar och val, välj fliken "avancerat läge" ovan.</p><br>